<h2>Definition Of Done Configuration</h2>
#set($definitionOfDone = $project.getDefinitionOfDone())

On this page, the rationale manager can configure the rules (criteria) that the knowledge documentation needs to fulfill to be done. 
Knowledge elements that do not fulfill the definition of done are shown in the rationale backlog.
Besides, ConDec shows warnings to the developers if the definition of done of the knowledge subgraph they are working on is not fulfilled.

<form class="aui">
    #parse("templates/settings/definitionofdone/completenessCriteriaSettings.vm")
    #parse("templates/settings/definitionofdone/completenessEventSettings.vm")
</form>

<script>
    $(document).ready(function () {
        const saveDefinitionOfDoneButton = $("#change-definition-of-done");
        saveDefinitionOfDoneButton.click(event => {
            event.preventDefault();
            let definitionOfDone = {
                "issueIsLinkedToAlternative": $("#issue-link-alternative-checkbox").prop("checked"),
                "decisionIsLinkedToPro": $("#decision-link-pro-checkbox").prop("checked"),
                "alternativeIsLinkedToArgument": $("#alternative-link-argument-checkbox").prop("checked"),
                "lineNumbersInCodeFile": $("#line-numbers-in-code-file-number-input").prop("value"),
                "maximumLinkDistanceToDecisions": $("#link-distance-to-decision-number-input").prop("value"),
                "minimumNumberOfDecisions": $("#minimum-number-of-decisions-input").prop("value"),
            }
            conDecAPI.setDefinitionOfDone("$projectKey", definitionOfDone);
        });
        conDecJiraIssueCompletenessModule.init();
    });
</script>