<h2>Definition Of Done Configuration</h2>
#set($definitionOfDone = $project.getDefinitionOfDone())

On this page, the rationale manager can configure the rules (criteria) that the knowledge documentation needs to fulfill to be done. 
Knowledge elements that violate the definition of done (DoD) are shown in the rationale backlog.
Besides, ConDec shows warnings to the developers if the DoD of the knowledge subgraph they are working on is violated.
The elements in the graph that violate the DoD are highlighted in red and just-in-time prompts are shown at certain events.

<form class="aui">
    #parse("templates/settings/definitionofdone/definitionOfDoneCriteriaSettings.vm")
</form>

<script>
    $(document).ready(function () {
        const saveDefinitionOfDoneButton = $("#change-definition-of-done");
        saveDefinitionOfDoneButton.click(event => {
            event.preventDefault();
            let definitionOfDone = {
                "issueIsLinkedToAlternative": $("#issue-link-alternative-checkbox").prop("checked"),
                "decisionIsLinkedToPro": $("#decision-link-pro-checkbox").prop("checked"),
                "alternativeIsLinkedToArgument": $("#alternative-link-argument-checkbox").prop("checked"),
                "lineNumbersInCodeFile": $("#line-numbers-in-code-file-number-input").prop("value"),
                "maximumLinkDistanceToDecisions": $("#link-distance-to-decision-number-input").prop("value"),
                "minimumDecisionsWithinLinkDistance": $("#minimum-number-of-decisions-input").prop("value"),
            }
            conDecDoDCheckingAPI.setDefinitionOfDone("$projectKey", definitionOfDone);
        });
    });
</script>