li>a.jstree-search {
  color: #3b73af;
}

a:focus a:hover {
  text-decoration: none;
}

#depth-of-tree-warning {
  visibility: hidden;
  color: rgba(255, 85, 85, 1);
}

.left {
  width: 33%;
  float: left;
  overflow: auto;
  resize: both;
}

.right {
  width: 67%;
  float: left;
  overflow: auto;
  resize: both;
}

.graph {
  width: 100%;
  height: auto;
  overflow: auto;
  resize: both;
}

.treant {
  height: auto;
}

.boxplot {
  width: 190px;
  height: 340px;
  display: inline-block;
}

.piechart {
  width: 410px;
  height: 260px;
  display: inline-block;
  margin-bottom: 20px;
}

.noDots {
  list-style: none;
  padding-left: 0;
}

.decision-table {
  height: auto;
  overflow-x: auto;
}

.condec-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 4px;
  overflow: auto;
}

.jira-module-fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 4;
  padding:64px !important;
  overflow: scroll;
}

.aui-dropdown2-wide {
  max-width: 500px;
}

.aui-list-truncate-wide {
  width: 500px;
}

.condec-prompt {
  display: none
}

#close-fullscreen {
  z-index: 999;
  display: none;
  position: fixed;
  right: 48px;
  top: 48px;
  cursor: pointer;
}

#open-fullscreen {
  cursor: pointer;
  padding: 16px;
  display: block;
}

.discarded td {
  background: #e8e8e8;
}

.dodViolation {
	color: crimson;
}

.challenged {
	color: crimson;
}

.rejected {
	color: gray;
}

.discarded {
	color: gray;
}

.right-aligned {
  display: flex; 
  justify-content: flex-end;
}

.condec-box {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border-radius: 0.8em;
	padding: 0.3em;
	border: 1px solid black;
	position: relative;
}

.decision, .alternative {
	margin-left: 0.5em;
}

.pro, .con {
	margin-left: 1em;
}

.quality-problem {
    position: absolute;
    top: 0.5em;
    right: 0.3em;

	overflow: hidden;
	color: red;
    width: 0.6em;
    height: 0.6em;
    background: red;
    border-radius: 1em;
    border: 0.3em red solid;
	animation: rat-link-blinking 2s infinite;

    margin: 0;
    cursor: help;
}

@keyframes rat-link-blinking {
  0%	{ opacity: 0; }
  85%	{ opacity: 1; }
  100%	{ opacity: 0; }
}

.menu-item.condec-default {
    background: white;
}
.menu-item.condec-error {
    background: crimson;
}
.menu-item.condec-warning {
    background: orange;
}
.menu-item.condec-fine {
    background: limegreen;
}
.text-field.condec-default {
    color: black;
}
.text-field.condec-error {
    color: crimson;
}
.condec-warning, .text-field.condec-warning {
    color: darkorange;
}
.condec-fine, .text-field.condec-fine {
    color: forestgreen;
}