.menu-item.condec-default * {
    background: white;
}
.menu-item.condec-empty * {
    background: red;
}
.menu-item.condec-warning * {
    background: orange;
}
.menu-item.condec-fine * {
    background: green;
}

.text-field.condec-default * {
    background: black;
}
.text-field.condec-empty * {
    background: red;
}
.text-field.condec-incomplete * {
    background: orange;
}
.text-field.condec-fine * {
    background: green;
}