li>a.jstree-search {
  color: #3b73af;
}

a:focus a:hover {
  text-decoration: none;
}

#depth-of-tree-warning {
  visibility: hidden;
  color: rgba(255, 85, 85, 1);
}

.left {
  width: 33%;
  float: left;
  overflow: auto;
  resize: both;
}

.right {
    width: 67%;
    float: left;
    overflow: auto;
    resize: both;
}

.graph {
  width: 100%;
  height: auto;
  overflow: auto;
  resize: both;
}

.treant {
  height: auto;
}

.boxplot {
  width: 190px;
  height: 340px;
  display: inline-block;
}

.piechart {
  width: 410px;
  height: 260px;
  display: inline-block;
  margin-bottom: 20px;
}

.noDots {
  list-style: none;
  padding-left: 0;
}

.decision-table {
  height: auto;
  overflow-x: auto;
}

.condec-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 4px;
  overflow: auto;
}

.jira-module-fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 4;
  padding:64px !important;
  overflow: scroll;
}

.aui-dropdown2-wide {
  max-width: 500px;
}

.aui-list-truncate-wide {
  width: 500px;
}

.condec-prompt {
  display: none
}

#close-fullscreen {
  z-index: 999;
  display:none;
  position: fixed;
  right: 48px;
  top: 48px;
  cursor: pointer;
}

#open-fullscreen {
  cursor: pointer;
  padding: 16px;
  display: block;
}

#change-impact-decision-knowledge-tree {
  min-width: 400px;
  min-height: 400px;
  margin: 10px;
}

#select2-display-type-cia {
  vertical-align: bottom;
}