li>a.jstree-search {
	color: #3b73af;
}

a:focus a:hover {
	text-decoration: none;
}

#depth-of-tree-warning {
	visibility: hidden;
	color: rgba(255, 85, 85, 1);
}

.left {
	width: 33%;
	float: left;
	overflow: auto;
	resize: both;
}

.right {
	width: 67%;
	float: left;
	overflow: auto;
	resize: both;
}

.graph {
	width: 100%;
	height: auto;
	overflow: auto;
	resize: both;	
}

#treant-container {
	height: auto;
}

.boxplot {
	width: 190px;
	height: 340px;
	display: inline-block;
}

.piechart {
	width: 410px;
	height: 260px;
	display: inline-block;
	margin-bottom: 20px;
}

.noDots{
	list-style: none;
	padding-left: 0;
}
