.menu-item.condec-default {
    background: white;
}
.menu-item.condec-error {
    background: crimson;
}
.menu-item.condec-warning {
    background: orange;
}
.menu-item.condec-fine {
    background: limegreen;
}
.text-field.condec-default {
    color: black;
}
.text-field.condec-error {
    color: crimson;
}
.text-field.condec-warning {
    color: orange;
}
.text-field.condec-fine {
    color: forestgreen;
}