.condec-dashboard-select .condecNoGit {
    background: yellow;
}
.condec-dashboard-selection-section {
    margin:0 1em;
    text-align:center;
}
.condec-dashboard-contents {
    border:2px dashed blue;
    border-radius:1em;
    margin:1em;
    padding:1em;
}
.condec-dashboard-contents.init {
    height:400px;
    min-height:400px;
}
.condec-dashboard-contents.waiting {
    border-color:orange;
}
.condec-dashboard-contents.processing {
    border:1px solid grey;
}
.condec-dashboard-contents.results {
    border:1px solid grey;
}