.condec-dashboard-contents {
	border: 2px dashed blue;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
}

.condec-dashboard-contents.filtering {
	border: 1px solid grey;
}

.condec-dashboard-contents.init {
	min-height: 400px;
}

.condec-dashboard-contents.waiting {
	border-color: orange;
	min-height: 400px;
}

.condec-dashboard-contents.results {
	min-height: 400px;
}

.navigationLink {
	margin: 0.1rem 0.4rem;
	display: inline-block;
	cursor: pointer;
}

.boxplot {
  width: 190px;
  height: 340px;
  display: inline-block;
}

.piechart {
  width: 410px;
  height: 260px;
  display: inline-block;
  margin-bottom: 20px;
}