li>a.jstree-search {
	color: #3b73af;
}

a:focus a:hover {
	text-decoration: none;
}

#depth-of-tree-warning {
	visibility: hidden;
	color: rgba(255, 85, 85, 1);
}

.left {
	width: 33%;
	float: left;
	overflow: auto;
}

.right {
	width: 67%;
	float: left;
	overflow: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5
}

h2 {
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}