.condec-dashboard-contents {
	border: 2px dashed blue;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
}

.condec-dashboard-contents.filtering {
	border: 1px solid grey;
}

.condec-dashboard-contents.init {
	min-height: 400px;
}

.condec-dashboard-contents.waiting {
	border-color: orange;
	min-height: 400px;
}

.condec-dashboard-contents.results {
	min-height: 400px;
}

.navigationLink {
	margin: 0.1rem 0.4rem;
	display: inline-block;
	cursor: pointer;
}

#decKnowElementsOverlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000033;
	cursor: pointer;
}

#decKnowElementsOverlay .box {
	position: fixed;
	overflow-y: scroll;
	width: 800px;
	height: 800px;
	top: calc(20% - 160px);
	left: calc(50% - 400px);
	background: white;
	border-radius: 1rem;
	border: 0.5rem solid #2f4554;
	padding: 1rem;
	cursor: initial;
}

#extractedDecKnowElements {
	margin: 1rem 0.5rem;
	font-size: 1.0rem;
}

#extractedDecKnowElements p:hover {
	color: blue;
	border-color: blue;
}

#extractedDecKnowElements p {
	margin: 0.1rem 0.4rem;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #2f4554;
}