li>a.jstree-search {
	color: #3b73af;
}

a:focus a:hover {
	text-decoration: none;
}

#depth-of-tree-warning {
	visibility: hidden;
	color: rgba(255, 85, 85, 1)
}

#view-graph {
	margin-right: 0.1%;
}

#graph-container {
	width: 64.5%;
	float: left;
}

#button {
	float: right;
	display: block;
	height: 18px;
	width: 17px;
	text-indent: -9999px;
}

#jstree-search-input {
	width: 33.3%;
	height: 24px;
	float: left;
}

#switch-wrapper {
	width: 64.8%;
	float: left;
}

#decision-input-field {
	width: 23%;
}

#create-decision-button {
	width: 10%;
}

.equal-margin-regulator {
	margin: 0.1%;
}

.select2-container {
	width: 49%;
}

.switch-on-click {
	background-color: rgba(245, 245, 245, 1);
	width: 49.6%;
	float: left;
	text-align: center;
	border: 1px solid rgba(204, 204, 204, 1);
	cursor: pointer;
}

.switch-on-click:hover {
	color: black;
	background-color: rgba(230, 230, 230, 1);
}

.jstree {
	overflow: auto;
	width: 33%;
	float: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5
}

h2 {
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}