/* styles for rationale from the commit messages and code comments */

.messageBox {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border-radius: 0.8em;
	padding: 0.3em;
	border: 1px solid black;
}

.qualitySummary {
	border-radius: 0.8em;
	border: 1px solid black;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding: 1em;
	background: rgb(222, 250, 222);
	background: repeating-linear-gradient(
		-45deg,
		rgb(222, 250, 222),
		rgb(222, 250, 222) 16px,
		yellow 10px,
		yellow 20px
    );
}

.qualitySummary.hasErrors,
.qualitySummary.hasWarnings {
	background: yellow;
	background: repeating-linear-gradient(
		-45deg,
		orange,
		orange 16px,
		yellow 10px,
		yellow 20px
    );
}

.decision, .alternative {
	margin-left: 0.5em;
}

.pro, .con {
	margin-left: 1em;
}

.rat-link-problem {
    position: absolute;
    top: 0.5em;
    right: 0.3em;

	overflow: hidden;
	color: red;
    width: 0.6em;
    height: 0.6em;
    background: red;
    border-radius: 1em;
    border: 0.3em red solid;
	animation: rat-link-blinking 2s infinite;

    margin:0;
    cursor: help;
}

@keyframes rat-link-blinking {
  0%   { opacity: 0; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}