/* some basic looks for rationale from the commit messages and files */

#featureBranchesTab .condec-rest-force {
    cursor:pointer;
    font-size: 0.6em;
}
#featureBranchesTab .branchRationaleFilterPanel {
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

#featureBranchesTab .branchRationaleFilterPanel label {
    cursor: pointer;
    border: 1px solid grey;
}

.branchGroup {
	position: relative;
	font-size: 0.8rem;
	margin: 1em 0;
	padding:1em .2em;

	border: 1px solid grey;
	border-radius:1em;
}

.branchGroup.rolledUp {
	overflow: hidden;
	max-height: 0;
}

.branchGroup .fileA>p,
.branchGroup .fileB>p,
.branchGroup .messageBox {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border-radius: 0.8em;
	padding: 0.3em;
	position: relative;
	border: 1px solid black;
}

.branchGroup .fileDiffBlockLabel,
.branchGroup .fileNonDiffBlockLabel {
	color: white;
	background:black;
	cursor: pointer;
	text-decoration: underline;
	padding: 0.5em;
	overflow: hidden;

	/* not using this presentation variant yet.
	padding: 1em 0 0 0;
	max-height: 0em;*/
}

/* not using this presentation variant yet.
.branchGroup .fileDiffBlockLabel:hover,
.branchGroup .fileNonDiffBlockLabel:hover {
	max-height: 100%;
	padding: 0.7em;
}
*/
.branchGroup .fileDiffBlockLabel.inactive,
.branchGroup .fileNonDiffBlockLabel.inactive {
	background:grey;
}

.branchGroup .fileNonDiffBlock {
	margin-top: 0;
}
.branchGroup .fileDiffBlock {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.branchGroup .fileA,
.branchGroup .fileB {
	margin: 0;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
}

.branchGroup .messageBox {
	background: rgba(9,30,66,.08);
}

.branchGroup .messageBox.rolledUp {
    max-height: 1em;
    overflow: hidden;
}
.branchGroup .messageBox .commitMessageLabel {
	cursor: pointer;
	text-decoration: underline;

}

.branchGroup .fileNonDiffBlock p.detailed > .content,
.branchGroup .fileDiffBlock p.detailed > .content,
.branchGroup .messageBox p.detailed > .content /*,
.branchGroup .fileNonDiffBlock p:hover > .content,
.branchGroup .fileDiffBlock p:hover > .content,
.branchGroup .messageBox p:hover > .content,*/
{
    font-size: 1.3em;
}

.branchGroup .branchLabel {
	position: absolute;
	left:2em;
	top:-0.5em;
	background: white;
	cursor: pointer;
	text-decoration: underline;
}

.branchGroup.rolledUp .branchLabel {
	top: 0;
}

.branchGroup .qualitySummary {
	margin:1em;
	padding:1em;
	background: rgb(222, 250, 222);
	border:1px grey solid;
	border-radius: 0.1em;
	font-weight: 800;
	font-size: 1.2em;
}

.branchGroup .qualitySummary.noRationale{
	background: repeating-linear-gradient(
		-45deg,
		rgb(222, 250, 222),
		rgb(222, 250, 222) 16px,
		yellow 10px,
		yellow 20px
    );
}

.branchGroup .qualitySummary.hasErrors,
.branchGroup .qualitySummary.hasWarnings {
	background: yellow;
	background: repeating-linear-gradient(
		-45deg,
		orange,
		orange 16px,
		yellow 10px,
		yellow 20px
    );
}

.branchGroup .content {
	/* background: white; */
	margin: 0 0 0 1em;
	width: auto;
	transition: font-size 0.05s;
	cursor: pointer;
}

/* in browser invisible rationale text tags,
will be copied if .content is marked and copied */
.branchGroup .content > span {
	overflow: hidden;
	max-width: 1px; /* some browsers will not copy this span's text if 0 value is used here.*/
	display: inline-block;
}

.branchGroup img {
	position: absolute;
    top: 0.5em;
	left: 0px;
}

.branchGroup .loc {
	display: none; /* make this element obsolete ? */
}

/*.branchGroup p:hover > .loc {*/
.branchGroup p.detailed > .loc {
	display: block;
}

.branchGroup .decision, .alternative {
	margin-left: 0.5em;
}
.branchGroup .pro, .con {
	margin-left: 1em;
}

 /* just graphics, no text mode*/
.branchGroup .rat-link-problem {
    position: absolute;
    top: 0.5em;
    right: 0.3em;

	overflow: hidden;
	color: red;
    width: 0.6em;
    height: 0.6em;
    background: red;
    border-radius: 1em;
    border: 0.3em red solid;
	animation: rat-link-blinking 2s infinite;

    margin:0;
    cursor: help;
}

/* text mode */
/*.branchGroup p:hover >.rat-link-problem {*/
.branchGroup p.detailed >.rat-link-problem {
	position: relative ;
	right: 0;
	top: 0;
	width: auto;
	height: auto;
	background: pink;
	animation: unset;

	padding: 0.3em;
	margin: 0.3em;
	color: black;
}

@keyframes rat-link-blinking {
  0%   { opacity: 0; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}

.branchGroup .selector {
	cursor: pointer;
	position: absolute;
	top: .5em;
	right: 0.5em;
	color: white;
	background: blue;
	border: 1px black solid;
	border-top-color: grey;
	border-left-color: grey;
	border-radius: 0.8em;
	min-width: 2em;
	min-height: 0.8em;
	text-align: center;
	box-shadow: 2px 2px 2px grey;
}
.branchGroup .selector:hover {
	box-shadow: unset;
	border-top-color: black;
	border-left-color: black;
}
/* ensure 1st look awareness */
.menu-item.condec-attention * {
    color: red !important;
}
.menu-item.condec-fine * {
    color: green !important;
}
