.legend-labels {
	display: inline-block;
    height: 18px;
    width: 30px;
    margin-left: 10px;
    margin-right: 5px;
    border: 1px solid #e8e8e8;
}

#legend {
	display: inline-block;
    align-items: center;
    justify-content: center;
}

.matrix {
	display: block;
    overflow: auto;
    resize: both;
    height: 500px;
}

.matrix td:hover {
	background-color: #e0e0e0;
}

.columnHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    border: 1px solid #e8e8e8;
}

.rowHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    width: 20em;
}

.columnHeader div {
    position: sticky;
    top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1.5em;
    height: 20em;
}

.rowHeader div {
    position: sticky;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5em;
    width: 20em;
}

.matrix td {
	border: 1px solid #e8e8e8;
}

.matrix th {
	border: 1px solid #e8e8e8;
}

.columnHeader th {
	border: 1px solid #e8e8e8;
    width: 3.2em;
}

.rowHeader th {
	border: 1px solid #e8e8e8;
}

.ciaHighlighted {
	color: #FFFFFF;
}