#legend-list {
	display: flex;
    list-style-type: none;
}

.legend-labels li span {
    float: left;
    height: 18px;
    width: 30px;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #e8e8e8;
}

#matrix {
    width: fit-content;
    height: fit-content;
}

.columnHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid #e8e8e8;
}

.rowHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    width: 15em;
}

.columnHeader div {
    position: sticky;
    top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    width: 1.5em;
    height: 15em;
}

.rowHeader div {
    position: sticky;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5em;
}

#matrix td {
	border: 1px solid #e8e8e8;
}

#matrix th {
	border: 1px solid #e8e8e8;
}

.columnHeader th {
	border: 1px solid #e8e8e8;
}

.rowHeader th {
	border: 1px solid #e8e8e8;
}