#legend-list {
	display: flex;
    list-style-type: none;
}

.legend-labels li span {
    float: left;
    height: 18px;
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid #999;
}

#matrix {
    width: fit-content;
    height: fit-content;
}

.columnHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

.rowHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
}

.columnHeader div {
    position: sticky;
    top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1.5em;
    height: 15em;
}

.rowHeader div {
    position: sticky;
    left: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15em;
    height: 1.5em;
}

thead th:first-child {
    left: 0;
    z-index: 1;
    background-color: white;
}