.legend ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

#matrix {
    width: fit-content;
    height: fit-content;
}

.columnHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background-color: #e2e2e2;
}

.rowHeader {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background-color: #e2e2e2;
}

.columnHeader div {
    position: sticky;
    top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1.5em;
    height: 15em;
    background-color: #e2e2e2;
}

.rowHeader div {
    position: sticky;
    left: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15em;
    height: 1.5em;
    background-color: #e2e2e2;
}

thead th:first-child {
    left: 0;
    z-index: 1;
    background-color: white;
}

#linktype-dropdown {
    overflow:auto;
    max-height:200px;
}
