/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant {
	position: relative;
	overflow: hidden;
	padding: 0 !important;
}

.Treant>.node, .Treant>.pseudo {
	position: absolute;
	display: block;
	visibility: hidden;
}

.Treant.Treant-loaded .node, .Treant.Treant-loaded .pseudo {
	visibility: inherit;
}

.Treant>.pseudo {
	width: 0;
	height: 0;
	border: none;
	padding: 0;
}

.Treant .collapse-switch {
	width: 5px;
	height: 5px;
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	cursor: pointer;
}

.Treant .collapsed .collapse-switch {
	background-color: #868DEE;
}

.Treant>.node img {
	border: none;
	float: left;
}