.context {
	background-color: rgb(255, 255, 221);
}

.rationale {
	background-color: rgb(245, 245, 245);
}

.con {
	background-color: rgb(255, 231, 231);
}

.pro {
	background-color: rgb(222, 250, 222);
}

.solution {
	background-color: rgb(255, 246, 232);
}

.decision {
	background-color: rgb(252, 227, 190);
}

.problem {
	background-color: rgb(255, 255, 204);
}

.code {
	background-color: rgb(255, 255, 255);
}

.other {
	background-color: rgb(255, 255, 255);
}

.Treant {
	position: relative;
	overflow: hidden;
	padding: 0;
}

.Treant>.node, .Treant>.pseudo {
	position: absolute;
	display: block;
	visibility: hidden;
}

.Treant.Treant-loaded .node, .Treant.Treant-loaded .pseudo {
	visibility: inherit;
}

.Treant>.pseudo {
	width: 0;
	height: 0;
	border: none;
	padding: 0;
}

.Treant .collapse-switch {
	width: 9px;
	height: 9px;
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	cursor: pointer;
}

.Treant .collapsed .collapse-switch {
	background-color: #d6d6c2;
}

.node {
	color: #333333;
	display: inline-block;
	font-size: 12px;
	margin-top: 6px;
	padding: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #000;
	visibility: inherit;
	width: 160px;
	margin: 0;
	padding: 3px;
	border-radius: 3px;
}

.node p {
	line-height: 1.4em;
	margin-bottom: 0;
	max-height: 16.8em;
	overflow: hidden;
}

.node-documentationLocation {
	visibility: hidden;
	display: inline;
}

.node-status {
	visibility: hidden;
	display: inline;
}

.node a {
	font-size: 12px;
}

.node img {
	margin-right: 5px;
	margin-top: 3px;
	margin-left: 3px;
}

.node-name {
	font-weight: bold;
	visibility: inherit;
}

.node-title {
	display: inline;
}