# Gitignore for JIRA ConDec plug-in

# Directories
codemr/
target/
bin/
.idea/
.metadata/
*target/

# Files
.classpath
.project
.settings
*.iml
*.class
config.properties
preview_standalone.*
pngLaTeX.*
tikz-uml.sty

/defaultTrainingData.arff

src/test/resources/classifier/defaultTrainingData.arff

.DS_Store
.vscode/