# Gitignore for the Jira ConDec plug-in

# Directories
codemr/
target/
bin/
.idea/
.metadata/
*target/
.DS_Store
.vscode/

# Files
.classpath
.project
.settings
*.iml
*.class
config.properties
preview_standalone.*
pngLaTeX.*
tikz-uml.sty
*.model
src/main/resources/classifier/TEST*
env/
node_modules/
package-lock.json
package.json
