sudo: false
language: java
cache:
  directories:
    - $HOME/.m2
jdk:
  - oraclejdk11
before_install:
  - wget https://marketplace.atlassian.com/download/plugins/atlassian-plugin-sdk-tgz
  - mkdir opt
  - tar -xvzf *plugin-sdk* -C opt
  - mv opt/*plugin-sdk* opt/atlassian-plugin-sdk
  - chmod a+x opt/atlassian-plugin-sdk/bin/*
  - chmod a+x opt/atlassian-plugin-sdk/apache-maven-*/bin/*
  - export PATH=opt/atlassian-plugin-sdk/bin:opt/atlassian-plugin-sdk/apache-maven-*/bin:$PATH
install: true
script:
  - atlas-package -P jacoco -q
notifications:
  email: false
deploy:
  provider: releases
  file: $TRAVIS_BUILD_DIR/target/cures-condec-jira.jar
  skip_cleanup: true
  github_token: $github_token
  on:
      tags: true
  overwrite: true
after_success:
  - bash <(curl -s https://codecov.io/bash) -f $TRAVIS_BUILD_DIR/target/site/jacoco/jacoco.xml
