<table id="release-notes-table" class="aui aui-table-list">
	<col style="visibility:collapse"/><col/><col/><col/><col/>    
	<thead>		
	    <tr>		    		
	        <th class="aui-table-column-issue-key" id="id">ID</th>
	        <th id="title">Title</th>
	        <th id="start-date">Start Date</th>
	        <th id="end-date">End Date</th>
	        <th id="content">Content</th>
	    </tr>
    </thead>
    <tbody id="release-notes-table-body">
    </tbody>
</table>