$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:release-note-page-resources")
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <h1>Release Notes</h1>
        <form class="aui">
        	<input class="text long-field" type="text" id="searchReleaseNotesInput" name="searchReleaseNotesInput">
        	<button class="aui-button" id="searchReleasaeNotesButton" onclick="conDecReleaseNotePage.getReleaseNotes()">
        		<span class="aui-icon aui-icon-small aui-iconfont-search"></span> Search
        	</button>
        	<button class="aui-button" id="openCreateReleaseNoteDialogButton" onclick="conDecReleaseNotePage.addReleaseNote()" resolved="">
        		<span class="aui-icon aui-icon-small aui-iconfont-add"></span> Create new Release Notes
        	</button>
        </form>
        <table id="release-notes-table" class="aui aui-table-sortable">
            <thead>
            <tr>
                <th class="aui-table-column-issue-key" id="basic-id">#Id</th>
                <th id="basic-title">Title</th>
                <th id="basic-title">Start-Date</th>
                <th id="basic-title">End-Date</th>
                <th id="basic-content">Content</th>
            </tr>
            </thead>
            <tbody id="release-notes-table-body">
            </tbody>
        </table>
        <aui-spinner id="release-note-table-loader" size="large"></aui-spinner>
    </div>
</div>

#parse("templates/dialogs/createReleaseNoteDialog.vm")
#parse("templates/dialogs/editReleaseNoteDialog.vm")

<script>
$(document).ready(function () {
    conDecAPI.checkIfProjectKeyIsValid();
    conDecReleaseNotePage.initView();
    conDecReleaseNotePage.getReleaseNotes();
});
</script>