<table id="release-notes-table" class="aui aui-table-sortable">
	<thead>
    <tr>
        <th class="aui-table-column-issue-key" id="basic-id">ID</th>
        <th id="basic-title">Title</th>
        <th id="basic-title">Start-Date</th>
        <th id="basic-title">End-Date</th>
        <th id="basic-content">Content</th>
    </tr>
    </thead>
    <tbody id="release-notes-table-body">
    </tbody>
</table>