$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:release-note-page-resources")

<div id="content" class="aui-page-panel">
    <div class="aui-page-panel-inner">
    	<section class="aui-page-panel-content">
    		<h1>Release Notes</h1>
        	<p>This page enables to create, view and manage release notes with explicit decision knowledge (=rationale).</p>
	        <form class="aui">
	        	<input class="text long-field" type="text" id="searchReleaseNotesInput" name="searchReleaseNotesInput">
	        	<button class="aui-button" id="searchReleasaeNotesButton" onclick="conDecReleaseNotePage.getReleaseNotes()">
	        		<span class="aui-icon aui-icon-small aui-iconfont-search"></span> Search
	        	</button>
	        	<button class="aui-button" id="create-release-notes-button">
	        		<span class="aui-icon aui-icon-small aui-iconfont-add"></span> Create new Release Notes
	        	</button>
	        </form>
	        #parse("templates/releasenotes/releaseNotesTable.vm")
	        <aui-spinner id="release-note-table-loader" size="large"></aui-spinner>
        </section>
    </div>
</div>

#parse("templates/releasenotes/dialogs/createReleaseNotesDialog.vm")
#parse("templates/releasenotes/dialogs/editReleaseNotesDialog.vm")

<script>
$(document).ready(function () {
    conDecAPI.checkIfProjectKeyIsValid();
    conDecReleaseNotePage.initView();
    conDecReleaseNotePage.getReleaseNotes();
});
</script>