<section id="assign-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
	<header class="aui-dialog2-header">
		<h2 id="assign-dialog-header" class="aui-dialog2-header-main">$i18n.getText("condec.context.menu.assign.decision.group.label")</h2>
		<button class="aui-close-button" type="button" id="assign-dialog-cancel-icon" aria-label="close"></button>
	</header>
	<div id="create-dialog-content" class="aui-dialog2-content">
		<form class="aui">
			<div class="field-group">
				<label for="assign-form-select-level">Decision Level:</label>
				<select id="assign-form-select-level" class="select full-width-field">
					<option value="High_Level"> High Level</option>
					<option value="Medium_Level"> Medium Level</option>
					<option value="Realization_Level"> Realization Level</option>
				</select>
			</div>  
			<div class="field-group">
				<label for="assign-form-input-existing">Choose Existing Group(s):</label>
				<select id="select2-decision-group-dialog" multiple placeholder="Select a Group..." 
					class="select full-width-field">
				</select>
			</div>
			<div class="field-group">
				<label for="assign-form-input-add">Add New Group(s):</label>
				<input id="assign-form-input-add" class="text full-width-field" value="">
			</div>   
			<div class="field-group">
			<div class="description">
				Example: UI, Process, Testing, Property, Existence, or Executive Decision <br/>
				(Separate new decision groups with a comma to add multiple groups) </div>  			
			</div> 
		</form>
    </div>
	<footer class="aui-dialog2-footer">
		<div class="aui-dialog2-footer-actions">
			<button id="assign-dialog-submit-button" class="aui-button aui-button-primary">$i18n.getText("condec.button.update")</button>
			<button id="assign-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText("condec.button.cancel")</button>
		</div>
	</footer>
</section>