<section id="change-status-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 id="change-status-dialog-header" class="aui-dialog2-header-main">$i18n.getText("condec.context.menu.change.status.item.label")</h2>
        <button class="aui-close-button" type="button" id="change-status-dialog-cancel-icon" aria-label="close"></button>
    </header>
    <div id="change-status-dialog-content" class="aui-dialog2-content">
        <form class="aui">
            <div class="field-group">
                <label for="change-status-form-select-type">$i18n.getText("condec.label.knowledge.status"):</label>
                <select id="change-status-form-select-type" class="select full-width-field"></select>
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="change-status-dialog-submit-button" class="aui-button aui-button-primary">$i18n.getText("condec.context.menu.change.status.item.label")</button>
            <button id="change-status-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText("condec.button.cancel")</button>
        </div>
    </footer>
</section>