<section id="consistency-check-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog"
         aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 id="consistency-check-dialog-header" class="aui-dialog2-header-main">Consistency check:</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div id="consistency-check-dialog-content" class="aui-dialog2-content">
        TEST
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="consistency-check-dialog-submit-button" class="aui-button aui-button-primary">$i18n.getText(
                "condec.button.ok")</button>
            <button id="consistency-check-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText(
                "condec.button.cancel")</button>
        </div>
    </footer>
</section>

<script>

    let flag;
    const approveInconsistencies = () => {

        consistencyAPI.approveCheck(conDecAPI.getIssueKey(), JIRA.Users.LoggedInUser.userName());
        flag.close();
    }

    consistencyAPI.doesIssueNeedApproval(conDecAPI.getIssueKey())
        .then((response) => {

            console.log(response);
            if (response.needsApproval) {
                Promise.all([consistencyAPI.getDuplicatesForIssue(conDecAPI.getIssueKey()),
                    consistencyAPI.getRelatedIssues(conDecAPI.getIssueKey())]).then(
                    (values) => {
                        let numDuplicates = (values[0].duplicates.length);
                        let numRelated = (values[1].relatedIssues.length);
                        if (numDuplicates + numRelated > 0) {
                            flag = AJS.flag({
                                type: 'warning',
                                title: 'Possible inconsistencies detected!',
                                body: 'Issue <strong>' + conDecAPI.getIssueKey() + '</strong> contains some detected inconsistencies. <br/>'
                                    + '<ul>'
                                    + '<li> ' + numRelated + ' possibly related issues </li>'
                                    + '<li> ' + numDuplicates + ' possible duplicates </li>'
                                    + '</ul>'
                                    + '<ul class="aui-nav-actions-list">'
                                    + '<li><button onclick="approveInconsistencies()" class="aui-button aui-button-link">Approve</button></li>'
                                    + '</ul>'
                            });
                        }

                    });

            }
        });
    /*eventSource.addEventListener("message", function (event) {
        eventSource.close();
        console.log("EVENT!");

        console.log(event);
        AJS.flag({
            type: 'info',
            body: 'TEST'
        });
        console.log(JIRA.Issue.getIssueKey());
        Promise.all([consistencyAPI.getDuplicatesForIssue(conDecAPI.getIssueKey()),
            consistencyAPI.getRelatedIssues(conDecAPI.getIssueKey())]).then(
            (values) => {
                console.dir(values);
                AJS.dialog2(consistencyCheckDialog).show();
                AJS.flag({
                    type: 'info',
                    body: 'TEST'
                });
            }
        )
    });

     */

</script>