<section id="rdfknowledgesource-dialog" class="aui-dialog2 aui-dialog2-large aui-layer" role="dialog"
         aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 id="knowledgesource-dialog-header" class="aui-dialog2-header-main">Create Knowledge Sources</h2>
        <button class="aui-dialog2-header-close" aria-label="close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
        </button>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui">
            <div class="field-group">
                <label>Name*</label>
                <input id="create-name-knowledgesource" class="text medium-field" name="name-knowledgesource"
                       value=""></input>
                <div class="description">Name your knowledge source.
                </div>
            </div>
            <div class="field-group">
                <label>RDF-Service</label>
                <input id="create-uri-knowledgesource" class="text large-field" name="uri-knowledgesource"
                       placeholder="http://dbpedia.org/sparql" value=""></input>
                <div class="description">Enter an RDF-Graph URI. The default location is DPPedia.
                </div>
            </div>
            <div class="field-group">
                <label>SPARQL-Query</label>
                <textarea id="create-query-knowledgesource"
                          placeholder="SPARQL-Query" class="textarea
                          large-field"></textarea>
                <div class="description">Enter a SPARQL-Query.
                </div>
            </div>
            <div class="field-group">
                <label>Timeout</label>
                <input type="number" min="1" value="10000" id="create-param-knowledgesource"
                       class="text short-field"
                       name="param-knowledgesource"
                       value=""></input>
                <div class="description">Enter the timeout in milliseconds.
                </div>
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button-primary aui-button" id="create-rdf-source" label="ConDec Activated?">
                <span
                    class="aui-icon aui-icon-small aui-iconfont-add">Insert meaningful text here for accessibility</span>
                Create
            </button>
            <button id="knowledgesource-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText(
                "condec.button.cancel")
            </button>
        </div>
    </footer>
</section>


<script>
    AJS.$("#open-rdf-source-dialog").on('click', function(e) {
        e.preventDefault();
        AJS.dialog2("#rdfknowledgesource-dialog").show();
    });

    AJS.$(document).on("click", "#rdfknowledgesource-dialog button", function (e) {
        e.preventDefault();
        AJS.dialog2("#rdfknowledgesource-dialog").hide();
    });

</script>