<section id="delete-dialog" class="aui-dialog2 aui-dialog2-medium aui-dialog2-warning aui-layer" role="dialog" aria-hidden="true">
	<header class="aui-dialog2-header">
		<h2 id="delete-dialog-header" class="aui-dialog2-header-main">$i18n.getText("condec.context.menu.delete.item.label")</h2>
		<button class="aui-close-button" type="button" id="delete-dialog-cancel-icon" aria-label="close"></button>
	</header>
	<div id="delete-dialog-content" class="aui-dialog2-content">
		$i18n.getText("condec.warning.delete")
    </div>
	<footer class="aui-dialog2-footer">
		<div class="aui-dialog2-footer-actions">
			<button id="delete-dialog-submit-button" class="aui-button aui-button-primary">$i18n.getText("condec.context.menu.delete.item.label")</button>
			<button id="delete-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText("condec.button.cancel")</button>
		</div>
	</footer>
</section>