<section id="delete-link-dialog" class="aui-dialog2 aui-dialog2-medium aui-dialog2-warning aui-layer" role="dialog" aria-hidden="true">
	<header class="aui-dialog2-header">
		<h2 id="delete-link-dialog-header" class="aui-dialog2-header-main">$i18n.getText("condec.context.menu.delete.link.item.label")</h2>
		<button class="aui-close-button" type="button" id="delete-link-dialog-cancel-icon" aria-label="close"></button>
	</header>
	<div id="delete-link-dialog-content" class="aui-dialog2-content">		
		<p>$i18n.getText("condec.warning.delete.link")</p>	
		<form class="aui">
			<div class="field-group" id="delete-link-dialog-source-element-group">
				<label for="delete-link-dialog-source-element">$i18n.getText("condec.label.source.element"):</label>
				<input class="text full-width-field" type="text" id="delete-link-dialog-source-element" disabled>	
			</div>
			<div class="field-group" id="delete-link-dialog-target-element-group">
				<label for="delete-link-dialog-target-element">$i18n.getText("condec.label.target.element"):</label>
				<input class="text full-width-field" type="text" id="delete-link-dialog-target-element" disabled>			
			</div>
		</form>
	</div>
	<footer class="aui-dialog2-footer">
		<div class="aui-dialog2-footer-actions">
			<button id="delete-link-dialog-submit-button" class="aui-button aui-button-primary">$i18n.getText("condec.button.delete.link")</button>
			<button id="delete-link-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText("condec.button.cancel")</button>
		</div>
	</footer>
</section>