<section id="delete-group-dialog" class="aui-dialog2 aui-dialog2-medium aui-dialog2-warning aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 id="delete-group-dialog-header" class="aui-dialog2-header-main">$i18n.getText(
            "condec.context.menu.group.delete.label")</h2>
        <button class="aui-close-button" type="button" id="delete-group-dialog-cancel-icon" aria-label="close"></button>
    </header>
    <div id="delete-group-dialog-content" class="aui-dialog2-content">
    	<div id="delete-group-label"></div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="delete-group-dialog-submit-button" class="aui-button aui-button-primary">Confirm</button>
            <button id="delete-group-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText(
                "condec.button.cancel")</button>
        </div>
    </footer>
</section>