<div class='field-group'><label for='form-select-location'>Documentation Location:</label>"
    + "<select id='form-select-location' name='form-select-location' class='select full-width-field'>"
        + "<option selected value = 'i'>JIRA Issue</option>"
        + "<option value = 's'>JIRA Issue Comment</option></select></div>";
}
document
.getElementById("dialog-content")
.insertAdjacentHTML(
"afterBegin",
"<form class='aui'><div class='field-group'><label for='form-input-summary'>Summary:</label>"
    + "<input id='form-input-summary' type='text' placeholder='Summary' value='"
								+ summary
								+ "' class='text full-width-field'/></div>"
    + "<div class='field-group'><label for='form-input-description'>Description:</label>"
        + "<textarea id='form-input-description' placeholder='Description' value='"
								+ description
								+ "' class='textarea full-width-field'>"
								+ description
								+ "</textarea></div>"
    + documentationLocation
    <div class='field-group'>
        <label for='form-select-type'>Knowledge type:</label>
        <select id='form-select-type' name='form-select-type' class='select full-width-field'/>
    </div>
    </form>