<section id="link-issue-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Link issues</h2>
        <button class="aui-dialog2-header-close" aria-label="close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog"></span>
        </button>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui">

            <div class="field-group">
                <label for="slink-type-select">Current issue</label>
                <select class="select" id="link-type-select" name="link-type-select">
                </select>
                <div class="description" id="target-issue-dialog-display"> </div>

            </div>

        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="link-issue-dialog-submit-button" class="aui-button aui-button-primary">Save</button>
            <button id="link-issue-dialog-cancel-button" class="aui-button">Cancel</button>
        </div>
    </footer>
</section>