<section id="summarization-dialog" class="aui-dialog2 aui-dialog2-xlarge aui-layer" role="dialog" aria-hidden="true">
	<header class="aui-dialog2-header">
		<h2 id="summarization-dialog-header" class="aui-dialog2-header-main">$i18n.getText("condec.context.menu.summarized.code.item.label")</h2>
		<div class="aui-dialog2-header-secondary">			
		    <span class="aui-icon aui-icon-small aui-iconfont-filter">Filter</span> 
	        <label for="summarization-probabilityOfCorrectness">Probability of correctness:</label>
	        <input type="range" id="summarization-probabilityOfCorrectness" min="0" max="100" value="0" 
	        	onchange="conDecDialog.showSummarizedDialog()">
	        <input hidden type="text" id="id" value="">
			<input hidden type="text" id="documentationLocation" value="">
	    </div>
	    <button class="aui-close-button" type="button" id="summarization-dialog-cancel-icon" aria-label="close"></button>
	</header>
	<div id="summarization-dialog-content" class="aui-dialog2-content">
		Please wait a moment. <aui-spinner size="medium"></aui-spinner>
    </div>
	<footer class="aui-dialog2-footer">
		<div class="aui-dialog2-footer-actions">
			<button id="summarization-dialog-cancel-button" class="aui-button aui-button-link">$i18n.getText("condec.button.cancel")</button>
		</div>
	</footer>
</section>