<h2>Settings for the link recommendation and duplicate recognition within one project</h2>

<form class="aui">
    #parse("templates/settings/linksuggestion/minProbabilitySetting.vm")
    #parse("templates/settings/linksuggestion/minTextLengthSetting.vm")
    #parse("templates/settings/linksuggestion/promptEventSettings.vm")
</form>