<div class="field-group top-label">
    <label for="min-probability-link">Minimum Score for Link Recommendation (Threshold)</label>
    <input class="text short-field" type="number"
           data-aui-validation-field
           value="$linkRecommendationConfig.getMinProbability()"
           step="0.05" min="0" max="1"
           id="min-probability-link" />
    <button id="save-min-probability-link-btn" class='aui-button'>Save</button>
    <div class="description">To calculate the link suggestions, the knowledge elements of a project are used as a basis. 
    	Set minimum <var>elementImpact</var> at which the propagation is stopped.
    	The element is included in the impact graph if <code>elementImpact >= threshold</code>.
    </div>
</div>

<script>
	$("#save-min-probability-link-btn").click(event => {
		event.preventDefault();
		conDecLinkRecommendationAPI.setThreshold("$projectKey", $("#min-probability-link").val());
    });
</script>