<h3>Settings for the prompting events for link suggestion and duplicate recognition</h3>

#foreach($workflowActionName in $workflowActionNames)
<div class="field-group">
    <label>Link suggestion at $workflowActionName event activated?</label>
    <aui-toggle id="isLinkSuggestionActivated-$workflowActionName.replaceAll(' ', '')" label="$workflowActionName event activated?"
    #if($project.getPromptingEventConfiguration().isPromptEventForLinkSuggestionActivated($workflowActionName))
		checked
	#end
    ></aui-toggle>
    <div class="description">
    	Enables or disables the just-in-time-prompt for the $workflowActionName event of a Jira issue.
    </div>
</div>

<script>
	$("#isLinkSuggestionActivated-$workflowActionName.replaceAll(' ', '')").change(function() {
		const isActivated = $(this).prop("checked");
		conDecNudgingAPI.activatePromptEventForLinkSuggestion("$projectKey", "$workflowActionName", isActivated);
	})
</script>
#end