<h3>Ruleset Parameters</h3>
<p>Select the default ruleset and weights for individual rules.</p>

<table class="aui aui-table-list aui-table-sortable">
	<thead>
		<tr>
		<th>Rule Name</th>
    		<th>Enabled by Default?</th>
    		<th>Weight</th>
    	</tr>
    </thead>
    <tbody>
    <script>
    	var linkRecommendationRuleNames = [];
    </script>
    #foreach($rule in $linkRecommendationConfig.getContextInformationProviders())
    	<script>
    		linkRecommendationRuleNames.push("$rule.getDescription()");
    	</script>
        <tr>
		    <td>
                $rule.getDescription()
        	<a data-aui-trigger aria-controls='$rule.getDescription()-help'>
        		<span class='aui-icon aui-icon-small aui-iconfont-question-circle'></span>
        	</a>
        	<aui-inline-dialog id='$rule.getDescription()-help' responds-to='hover'>
        		$rule.getExplanation()
        	</aui-inline-dialog>
            </td>
            <td>
                <aui-toggle id="$rule.getDescription()-toggle" label=""
                #if ($rule.isActive())
                    checked
                #end
                ></aui-toggle>
            </td>
            <td>            
                <input class="text short-field"
                    type="number"
                    data-aui-validation-field
                    value="$rule.getWeightValue()"
                    step="0.1"
                    min="0.0"
                    max="2.0"
                    id="$rule.getDescription()-weight"/>
            </td>
        </tr>
    #end
    </tbody>
</table>
<button id="save-link-recommendation-rules-button" class="aui-button aui-button-primary">
	Save Link Recommendation Rules
</button>

<script>
	$("#save-link-recommendation-rules-button").click(event => {
		event.preventDefault();
		
		var rules = [];
        for (var ruleName of linkRecommendationRuleNames) {
        	var weight = 0;
        	var weightInput = document.getElementById(ruleName + "-weight");
        	if (weightInput) {
        		weight = weightInput.value;
        	}
            rules.push({
            	"@type": ruleName,
                "isActive": document.getElementById(ruleName + "-toggle").checked,
                "weightValue": weight
            });
        }
		conDecLinkRecommendationAPI.saveRules("$projectKey", rules);
    });
</script>