<h2>$i18n.getText("condec.decision.guidance.recommendsolutionoptions")</h2> 
<b>$i18n.getText("condec.decision.guidance.knowledgesources"):</b> 
DBPedia <span class='aui-icon aui-icon-small aui-iconfont-download'>DBPedia</span>;  
Jira-Projekt <span class='aui-icon aui-icon-small aui-iconfont-jira'>Jira-Projekt</span>

<form class="aui">
        <input id="recommendation-keyword" class="text long-field" value="" placeholder="keywords" required />
        <button class="aui-button" id="recommendation-button" disabled="true">
            <span class="aui-icon aui-icon-small aui-iconfont-lightbulb"></span> 
            $i18n.getText("condec.decision.guidance.recommendsolutionoptions")
        </button>
        <aui-spinner id="loading-spinner-recommendation" style="display:none"></aui-spinner>
</form>

<table id="recommendation-container" class="aui">
    <thead>
    <tr>
        <th>$i18n.getText("condec.decision.guidance.recommendations")</th>
        <th>$i18n.getText("condec.decision.guidance.knowledgesources")</th>
        <th class="aui-table-column-issue-key">$i18n.getText("condec.decision.guidance.score")</th>
        <th class="aui-table-column-unsortable">$i18n.getText("condec.decision.guidance.options")</th>
        <th>$i18n.getText("condec.decision.guidance.arguments")</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

#parse("templates/tabs/decisiontable/quickRecommendation.vm")
#parse("templates/tabs/decisiontable/scoreExplanation.vm")

<script>
    conDecDecisionGuidance.initView();
</script>