<aui-inline-dialog id="score-explanation" responds-to="hover">
<div class="description">The Score is composed of different aspects. 
	The table gives an overview of the used components, that are used to calculate the score.
</div>
<table class="aui">
	<thead>
		<th>Description</th>
		<th>Score</th>
	</thead>
	<tbody id="score-explanation-table-body">
		
	</tbody>
</table>
<span class="project-config-webpanel-column-content"></span>
</aui-inline-dialog>