#set ($viewIdentifier = "decision-table")	
#parse("templates/filter/allCriteria.vm")
#parse("templates/tabs/decisiontable/decisionTable.vm")
#parse("templates/tabs/recommendation/decisionGuidanceTable.vm")
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#decision-table-tab")) {
    		conDecDecisionTable.initView(true);
			isOnceClicked = true;
		}
	});
    AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#decision-table-tab")) {
    		conDecDecisionTable.initView();
    		isOnceClicked = true;
    	}
	});
});
</script>

<style>

    .decision-table-dropdown {
        padding-top 16px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #e3e3e3;
    }


</style>