<b>$i18n.getText("condec.decision.guidance.recommendsolutionoptions")</b></br>
<b>$i18n.getText("condec.decision.guidance.knowledgesources"):</b>
DBPedia <span class='aui-icon aui-icon-small aui-iconfont-download'>DBPedia</span>;
Jira Project <span class='aui-icon aui-icon-small aui-iconfont-jira'>Jira Project</span>

<form class="aui">
    <select id="decision-guidance-dropdown-items" class="select long-field">
    </select>
    <input id="recommendation-keywords" class="text medium-long-field" value="" placeholder="optional additional keywords" required/>
    <br/>
    <br/>
    <button class="aui-button aui-button-primary" id="recommendation-button">
        <span class="aui-icon aui-icon-small aui-iconfont-lightbulb"></span>
        $i18n.getText("condec.decision.guidance.recommendsolutionoptions")
    </button>
    <aui-spinner id="loading-spinner-recommendation" style="display:none"></aui-spinner>
</form>

<table id="recommendation-container" class="aui aui-table-list">
    <thead>
    <tr>
        <th>$i18n.getText("condec.decision.guidance.recommendations")</th>
        <th>$i18n.getText("condec.decision.guidance.knowledgesources")</th>
        <th class="aui-table-column-issue-key">$i18n.getText("condec.recommendation.score")</th>
        <th class="aui-table-column-unsortable">$i18n.getText("condec.recommendation.manage")</th>
        <th>$i18n.getText("condec.decision.guidance.arguments")</th>
    </tr>
    </thead>
    <tbody id="recommendation-container-table-body">
    </tbody>
</table>

<div style="display:none">
#parse("templates/tabs/recommendation/scoreExplanation.vm")
</div>

<script>
    /* Adds the on click listener on tab opening */
    $(document).ready(function () {
        var isOnceClicked = false;
        AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
            if (!isOnceClicked && event.target.href.includes("#decision-guidance-tab")) {
                conDecDecisionGuidance.initView();
                isOnceClicked = true;
            }
        });
        AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
            if (!isOnceClicked && event.target.href.includes("#decision-guidance-tab")) {
                conDecDecisionGuidance.initView();
                isOnceClicked = true;
            }
        });
    });
</script>