<b>$i18n.getText("condec.decision.guidance.recommendsolutionoptions")</b><br>
<b>$i18n.getText("condec.decision.guidance.knowledgesources"):</b>
DBPedia <span class='aui-icon aui-icon-small aui-iconfont-download'>DBPedia</span>;
Jira Project <span class='aui-icon aui-icon-small aui-iconfont-jira'>Jira Project</span>

<form class="aui">
    <select id="decision-guidance-dropdown" class="select long-field"></select>
    <input id="recommendation-keywords" class="text medium-long-field" value="" placeholder="optional additional keywords" required/>
    <br/>
    <br/>
    <button class="aui-button aui-button-primary" id="recommendation-button">
        <span class="aui-icon aui-icon-small aui-iconfont-lightbulb"></span>
        $i18n.getText("condec.decision.guidance.recommendsolutionoptions")
    </button>

    <aui-spinner id="loading-spinner-recommendation" style="display:none"></aui-spinner>

    <button class="aui-button aui-button-primary" id="manage-discarded-button">
        <span class="aui-icon aui-icon-small aui-iconfont-preferences"></span>
        $i18n.getText("condec.decision.guidance.manage.discarded.recommendations")
    </button>
</form>
<br>
<div class="condec-filter-criterion" title="$i18n.getText('condec.recommendation.show_discarded_description')">
    <label for="checkbox-show-discarded">
        $i18n.getText("condec.recommendation.show_discarded_label")
        <span id="count-hidden-recommendations"></span>
    </label>
    <input class="checkbox" type="checkbox" id="checkbox-show-discarded">
</div>

<div class="condec-filter-criterion">
    <label for="threshold-input" id="threshold-input-label">
        $i18n.getText("condec.threshold.label")
    </label>
    <input type="number" id="threshold-input" value="0.85" min="0" step="0.01" max="1"
           class="text short-field" placeholder="Enter threshold">
</div>

<div class="condec-filter-criterion">
    <label for="max-amount-input">
        $i18n.getText("condec.max.recommendation.displayed.label")
    </label>
    <input type="number" id="max-amount-input" value="5" min="-1" step="1" max="1000"
           class="text short-field">
</div>

<button class="aui-button aui-button-secondary" id="btn-apply-threshold-max-nr">
    <span class="aui-icon aui-icon-small aui-iconfont-check"></span>
    $i18n.getText("condec.decision.guidance.apply.threshold.max.nr")
</button>

<table id="recommendation-container" class="aui aui-table-list">
    <thead>
    <tr>
        <th>$i18n.getText("condec.decision.guidance.recommendations")</th>
        <th>$i18n.getText("condec.decision.guidance.knowledgesources")</th>
        <th class="aui-table-column-issue-key">$i18n.getText("condec.recommendation.score")</th>
        <th class="aui-table-column-unsortable">$i18n.getText("condec.recommendation.manage")</th>
        <th>$i18n.getText("condec.decision.guidance.arguments")</th>
    </tr>
    </thead>
    <tbody id="recommendation-container-table-body">
    </tbody>
</table>

<div style="display:none">
#parse("templates/tabs/recommendation/scoreExplanation.vm")
</div>

<script>
    /* Adds the on click listener on tab opening */
    $(document).ready(function () {
        var isOnceClicked = false;
        conDecDecisionGuidance.ACCEPT_DESCRIPTION = "$i18n.getText('condec.recommendation.accept_description')";
        conDecDecisionGuidance.ACCEPT_TITLE = "$i18n.getText('condec.recommendation.accept_title')";
        conDecDecisionGuidance.DISCARD_DESCRIPTION = "$i18n.getText('condec.recommendation.discard_description')";
        conDecDecisionGuidance.DISCARD_TITLE = "$i18n.getText('condec.recommendation.discard')";
        conDecDecisionGuidance.UNDO_DESCRIPTION = "$i18n.getText('condec.recommendation.undo_discard_description')";
        conDecDecisionGuidance.UNDO_TITLE = "$i18n.getText('condec.recommendation.undo_discard_title')";
        AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
            if (!isOnceClicked && event.target.href.includes("#decision-guidance-tab")) {
                conDecDecisionGuidance.initView();
                isOnceClicked = true;
            }
        });
        AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
            if (!isOnceClicked && event.target.href.includes("#decision-guidance-tab")) {
                conDecDecisionGuidance.initView();
                isOnceClicked = true;
            }
        });
    });
</script>