#set ($viewIdentifier = "link-recommendation")
<b>Recommendation of knowledge elements to be linked to the selected knowledge element</b>
<form class="aui">
<div class="condec-filter">
    <select id="link-recommendation-dropdown" class="select long-field"></select>
    <div class="condec-filter-criterion"
		title="A recommendation is created if elementScore >= threshold.">
		<label for="threshold-input-$viewIdentifier" id="threshold-input-label-$viewIdentifier">
			$i18n.getText("condec.threshold.label")
		</label>
		<input type="number" id="threshold-input-$viewIdentifier" value="0.85" min="0" step="0.01" max="1"
			class="text short-field" placeholder="Enter threshold">
	</div>

	<div class="condec-filter-criterion"
		title="Only the given amount of recommendations are provided.">
		<label for="max-amount-input-$viewIdentifier">
			$i18n.getText("condec.max.recommendation.label")
		</label>
		<input type="number" id="max-amount-input-$viewIdentifier" value="5" min="-1" step="1" max="1000"
			class="text short-field">
	</div>

	<button aria-controls="rule-dropdown-$viewIdentifier" class="aui-button aui-dropdown2-trigger"
        aria-haspopup="true">
    $i18n.getText("condec.label.link.recommendation.rule")
	</button>
	<aui-dropdown-menu id="rule-dropdown-$viewIdentifier"></aui-dropdown-menu>
	
	<a id="config-link-$viewIdentifier" 
		title="Rule weights and the default values for the link recommendation parameters can be changed by the rationale manager." target="_blank">
		<span class="aui-icon aui-icon-small aui-iconfont-settings"></span> $i18n.getText('condec.configuration.label')
	</a>
	<div class="condec-filter-criterion" title="$i18n.getText('condec.clear.cache.explanation')">
    	<label for="clear-link-recommendation-cache-input">$i18n.getText("condec.clear.cache")</label>
    	<input class="checkbox" type="checkbox" id="clear-link-recommendation-cache-input"/>
    </div>
	<br/>
    <br/>    
    <button class="aui-button aui-button-primary" id="link-recommendation-button" 
    	title="Recommends new links to related knowledge elements or potential duplicates.">
        <span class="aui-icon aui-icon-small aui-iconfont-lightbulb"></span>
        $i18n.getText("condec.is.link.recommendation.label")
    </button>
</div>
    <aui-spinner id="loading-spinner" style="display:none"></aui-spinner>
</form>
<table class="aui aui-table-list" id="results-table">
    <thead>
	    <tr>
	        <th id="th-key">$i18n.getText("condec.label.knowledge.type")</th>
	        <th id="th-name">$i18n.getText("condec.label.summary")</th>
	        <th id="th-score">$i18n.getText("condec.recommendation.score")</th>	
	        <th id="th-options">$i18n.getText("condec.recommendation.manage")</th>
	    <tr>
    </thead>
    <tbody id="table-content"></tbody>
</table>
<div style="float:right;"> 
	<button class="aui-button aui-button-link" id="discard-all-link-recommendations">
		<span class="aui-icon aui-icon-small aui-iconfont-trash"></span> 
		$i18n.getText('condec.recommendation.discard.all')
	</button> 
</div>

<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#link-recommendation-tab")) {
    		conDecLinkRecommendation.init();
			isOnceClicked = true;
		}
	});
	AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
		if (!isOnceClicked && event.target.href.includes("#link-recommendation-tab")) {
			conDecLinkRecommendation.init();
			isOnceClicked = true;
		}
	});
});
</script>