<h3>Settings for the prompting events for checking for non-validated elements</h3>

<div class="field-group">
    <label>Non-validated elements check for done event activated?</label>
    <aui-toggle id="isNonValidatedCheckingAtDoneEventActivated-toggle" label="Resolved event activated?"
        #if($project.getPromptingEventConfiguration().isPromptEventForNonValidatedCheckingActivated("done"))
                checked
        #end
    ></aui-toggle>
    <div class="description">
        Enables or disables the check dialog for the done event of a Jira issue.
    </div>
</div>

<div class="field-group">
    <label>Non-validated elements check for closed event activated?</label>
    <aui-toggle id="isNonValidatedCheckingAtClosedEventActivated-toggle" label="Closed event activated?"
        #if($project.getPromptingEventConfiguration().isPromptEventForNonValidatedCheckingActivated("closed"))
                checked
        #end
    ></aui-toggle>
    <div class="description">
        Enables or disables the check dialog for the closed event of a Jira issue.
    </div>
</div>

<script>
    $("#isNonValidatedCheckingAtDoneEventActivated-toggle").change(function () {
        const isActivated = $(this).prop("checked");
        conDecNudgingAPI.activatePromptEventForNonValidatedElementsChecking("$projectKey", "done", isActivated);
    })

    $("#isNonValidatedCheckingAtClosedEventActivated-toggle").change(function () {
        const isActivated = $(this).prop("checked");
        conDecNudgingAPI.activatePromptEventForNonValidatedElementsChecking("$projectKey", "closed", isActivated);
    })
</script>