<h3>Settings for the prompting events for validating automatically classified parts of text</h3>

#foreach($workflowActionName in $workflowActionNames)
<div class="field-group">
    <label>Non-validated elements check for $workflowActionName event activated?</label>
    <aui-toggle id="isNonValidatedCheckingActivated-$workflowActionName.replaceAll(' ', '')" label="$workflowActionName event activated?"
    #if($project.getPromptingEventConfiguration().isPromptEventForNonValidatedCheckingActivated($workflowActionName))
		checked
	#end
    ></aui-toggle>
    <div class="description">
    	Enables or disables the just-in-time-prompt for the $workflowActionName event of a Jira issue.
    </div>
</div>

<script>
	$("#isNonValidatedCheckingActivated-$workflowActionName.replaceAll(' ', '')").change(function() {
		const isActivated = $(this).prop("checked");
		conDecNudgingAPI.activatePromptEventForNonValidatedElementsChecking("$projectKey", "$workflowActionName", isActivated);
	})
</script>
#end