<div class="field-group">
    <label for="evaluateTextClassifier-button">Evaluate the Text Classifier using k-fold Cross-Validation</label>
  	<input type="button" class="aui-button" id="evaluateTextClassifier-button" value="Evaluate Classifier using k-fold Cross-Validation"/>
    Number of folds k: 
    <input type="number" id="number-of-folds-input" value="3" min="0" class="text short-field"/> 
    <div class="description">
        Trains and evaluates the binary and fine-grained classifiers on the selected data file and the algorithms from above via k-fold cross-validation 
        (splits the data into training and evaluation parts).<br/>
        If the classifier was trained before, the training will be restored after the evaluation finished.<br/>
        <span class="aui-icon aui-icon-small aui-iconfont-warning">WARNING: </span> Please note that this 
        evaluation can be very resource expensive!<br/>       
    </div>
</div>

<div class="field-group">
    <label for="evaluateTrainedTextClassifier-button">Evaluate the Trained Text Classifier</label>
    <input type="button" class="aui-button" id="evaluateTrainedTextClassifier-button" value="Evaluate Trained Classifier On Different Data"/>
    <div class="description">
        Evaluates the trained classifier on the selected data file above (for cross-project validation).<br/>
        <span class="aui-icon aui-icon-small aui-iconfont-warning">WARNING: </span>
        The selected data file <b>should be different from the data file that the classifier was trained on</b>.
        Otherwise, use k-fold cross-validation to train and evaluate the classifier on the same data.
    </div>
</div>

<div class="field-group">
    <label for="testClassifierWithText-input">Test the Classifier</label>
    <textarea class="textarea" id="testClassifierWithText-input" placeholder="Your text to be classified here..."></textarea>
</div>
<div class="buttons-container">
    <div class="buttons">
        <input type="button" class="aui-button" id="testClassifierWithText-button" value="Test classifier"/>
        <span class="cancel" id="testClassifierWithText-result">The result will be displayed here.</span>
    </div>
</div>

#if( $textClassificationConfig.getLastEvaluationResults() )
<div class="field-group">
    <label>Last Evaluation Results:</label>    
    <div class="aui-message aui-message-info" style="white-space: pre-line">
		$textClassificationConfig.getLastEvaluationResults()
	</div>
</div>
#end

<script>   
	var trainDataSelect = document.getElementById("select-training-file");
	var binaryTypeSelect = document.getElementById("select-classifier-type-binary");
	var fineGrainedTypeSelect = document.getElementById("select-classifier-type-fine-grained");
	var animatedElement = document.getElementById("train-classifier-progress");
    
    const evaluateTextClassifierButton = document.getElementById("evaluateTextClassifier-button");
    evaluateTextClassifierButton.addEventListener("click", function () {
    	var numberOfFoldsInput = document.getElementById("number-of-folds-input");
    	if (confirm("Are you sure you want to evaluate the classifier using " + numberOfFoldsInput.value + "-fold cross-validation?")) {    
        	conDecTextClassificationAPI.evaluateTextClassifier("$projectKey", trainDataSelect.value, numberOfFoldsInput.value, 
        	binaryTypeSelect.value, fineGrainedTypeSelect.value, animatedElement, saveToFile("evaluation_results.json"));
        }
    });
    
    const evaluateTrainedTextClassifierButton = document.getElementById("evaluateTrainedTextClassifier-button");
    evaluateTrainedTextClassifierButton.addEventListener("click", function () {
        conDecTextClassificationAPI.evaluateTextClassifier("$projectKey", trainDataSelect.value, -1, null, null, animatedElement, saveToFile("evaluation_results.json"));
    });
    
    const testClassifierWithTextBtn = document.getElementById("testClassifierWithText-button");
    const testClassifierWithTextInput = document.getElementById("testClassifierWithText-input");
    const testClassifierWithTextResult = document.getElementById("testClassifierWithText-result");

    testClassifierWithTextBtn.addEventListener('click', () => {
       conDecTextClassificationAPI.classifyText(testClassifierWithTextInput.value, "$projectKey", showClassificationResult)
    });
    
    // helper functions
    showClassificationResult = function (classificationResult) {
    	document.getElementById("testClassifierWithText-result").innerText = classificationResult;
    }
</script>