<div class="field-group">
    <label for="trainClassifier-button">Train the Text Classifier</label>
    <select id="select-training-file" class="select medium-long-field">
        #foreach ($trainingFile in $trainingFiles)
            <option value="$trainingFile"
                #if ($trainingFile.toString().contains($textClassificationConfig.getSelectedGroundTruthFile()))
                    selected
                #end
            >
                $trainingFile</option>
        #end
    </select>
    Binary:
    <select id="select-classifier-type-binary" class="select medium-field">
    	<option value="LR" selected>Logistic Regression</option>
    	<option value="SVM">Support Vector Machine</option>
    	<option value="NB">Naive Bayes</option>
    	<option value="MLP">Multilayer Perceptron Neural Network</option>
    </select>
    Fine-grained:
    <select id="select-classifier-type-fine-grained" class="select medium-field">
    	<option value="LR">Logistic Regression</option>
    	<option value="SVM">Support Vector Machine</option>
    	<option value="NB">Naive Bayes</option>
    	<option value="MLP">Multilayer Perceptron Neural Network</option>
    </select>
    <input type="button" class="aui-button" id="trainClassifier-button" value="Train Classifier"/>
    <div class="description">
        Trains the text classifier on the selected data file. The text classifier consists of a binary and a fine-grained classifier.<br/>
        <span class="aui-icon aui-icon-small aui-iconfont-warning">WARNING: </span> Please note that this initial
        training can be very resource expensive!
    </div>
    <div class="aui-progress-indicator">
        <span id="train-classifier-progress"></span>
    </div>
</div>

<script>    
	var trainDataSelect = document.getElementById("select-training-file");
	var binaryTypeSelect = document.getElementById("select-classifier-type-binary");
	var fineGrainedTypeSelect = document.getElementById("select-classifier-type-fine-grained");
	var animatedElement = document.getElementById("train-classifier-progress");
    const trainClassifier = document.getElementById("trainClassifier-button");
    trainClassifier.addEventListener("click", function () {
        if (confirm("Are you sure you want to retrain the classifier?")) {                        
            conDecTextClassificationAPI.trainClassifier("$projectKey", trainDataSelect.value, binaryTypeSelect.value, fineGrainedTypeSelect.value, animatedElement);
        }
    });
</script>