<div class="field-group">
    <label for="isClassifierUsed-toggle">Use Classifier to identify Decision Knowledge?</label>
    <aui-toggle id="isClassifierUsed-toggle"
                value="$projectKey" label="Use Classifier to Identify Decision Knowledge?"></aui-toggle>
    <div class="description">Enables or disables whether text is automatically classified
        as decision knowledge within Jira issue description and comments for this project.
    </div>
</div>

<div class="field-group" id="classifierStatus-text">
    <label>Current Classifier Status:</label>
    <div class="description">
        #if( $isClassifierTraining == "true" )
            <div class="aui-message aui-message-warning">
                <p class="title">
                    <strong>The classifier is currently training!</strong>
                </p>
            </div>
        #else
            <div class="aui-message aui-message-info">
                <p class="title">
                    <strong>The classifier is currently not training!</strong>
                </p>
            </div>
        #end
        #if( $isClassifierTrained == "true" )
            <div class="aui-message aui-message-info">
                <p class="title">
                    <strong>The classifier has already been trained!</strong>
                </p>
                <p>
                    If you have enough annotated data from your own project you might want to retrain it on
                    your project.
                    Generate a CSV file of validated decision knowledge and then select the file as the training file.
                </p>
            </div>
        #else
            <div class="aui-message aui-message-error">
                <p class="title">
                    <strong>The classifier is not yet trained!</strong>
                <p>
                    Start the training or wait for it to finish. Otherwise the classification will not work.
                </p>
            </div>
        #end
    </div>
</div>

<div class="field-group">
    <label for="useTrainedClassifier-button">Use a Trained Text Classifier</label>
    <select id="select-trained-classifier" class="select medium-long-field">
        #foreach ($classifier in $trainedClassifiers)
            <option value="$classifier"
                #if ($classifier.toString().contains($textClassificationConfig.getSelectedTrainedClassifier()))
                    selected
                #end
            >
                $classifier</option>
        #end
    </select>
    Online learning active? 
    <input type="checkbox" id="online-learning-checkbox"
    	#if ($textClassificationConfig.isOnlineLearningActivated()) 
        	checked
    	#end
    >
    <input type="button" class="aui-button" id="useTrainedClassifier-button" value="Use Classifier"/>
    <div class="description">
        Use an already trained text classifier in this project. The classifier might be updated by online training. 
        That means that manually approved parts of text are directly used for training.<br/>
    </div>
</div>

<script>
    const isClassifierUsedToggle = document.getElementById("isClassifierUsed-toggle");
    isClassifierUsedToggle.checked = $textClassificationConfig.isActivated();
    
    isClassifierUsedToggle.addEventListener("change", function (error) {
        currentClassifierStatusInfo.style.display = this.checked ? "inherit" : "none";
        this.busy = true;
        conDecTextClassificationAPI.setTextClassifierEnabled(this.checked, this.value);
        this.busy = false;
    });

    const currentClassifierStatusInfo = document.getElementById("classifierStatus-text");
    currentClassifierStatusInfo.style.display = isClassifierUsedToggle.checked ? "inherit" : "none";
    
    var trainedClassifierSelect = document.getElementById("select-trained-classifier");
    var useTrainedClassifier = document.getElementById("useTrainedClassifier-button");
    var onlineTrainingCheckbox = document.getElementById("online-learning-checkbox");
    useTrainedClassifier.addEventListener("click", function () {                   
    	conDecTextClassificationAPI.useTrainedClassifier("$projectKey", trainedClassifierSelect.value, onlineTrainingCheckbox.checked);
    });
</script>