$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:jira-report-plugin-resources")


<div style="padding: 5px">
    <!-- Display the report configuration -->
    <h4 id="creation-report-parameters">
        Project: $projectName 
    </h4>
    <br />

    <hr>
    <div style="text-align:center;">
      <div id="CommentsPerIssue" style="width:200px; height:400px; display:inline-block;" onclick="copyToClipboard(this)"></div>
      <div id="CommitsPerIssue" style="width:200px; height:400px; display:inline-block;" onclick="copyToClipboard(this)"></div>
      <div id="SentencePerIssue" style="width:200px; height:400px; display:inline-block;" onclick="copyToClipboard(this)"></div>
      <div id="LinkDistance" style="width:200px; height:400px; display:inline-block;" onclick="copyToClipboard(this)"></div>


      <hr>
       <div id="relevantSentences" style="width:500px; height:400px; display:inline-block;"></div>
      <div id="knowledgeTypeDist" style="width:500px; height:400px; display:inline-block;"></div>
      <div id="decisionIssues" style="width:500px; height:400px; display:inline-block;"></div>
      <div id="altWithArguments" style="width:500px; height:400px; display:inline-block;"></div>

  </div>  

<!-- 
  	 <details>
  		<summary>CSV Content</summary>
  		<div class="preformatted panel" style="border-width: 1px;"><div class="preformattedContent panelContent">
  			<pre> 
  				$numCommentsPerIssue
  				$numCommitsPerIssue
          $numSentencePerIssue
          $numRelevantSentences
  				$numKnowledgeTypesPerIssue
  				$numLinksToIssue
  				$numAlternativeWoArgument
  				$numLinkDistance
		</pre> 
		</div></div>
  	</details> -->

      <div id="main" style="width:600px; height:400px;"></div>
    <script type="text/javascript">
      initializeDivWithBoxPlot('CommentsPerIssue',$numCommentsPerIssue,"Comments/Issue","Comments per Issue");
      initializeDivWithBoxPlot('CommitsPerIssue',$numCommitsPerIssue,"Commits/Issue","Commits per Issue");
      initializeDivWithBoxPlot('SentencePerIssue',$numSentencePerIssue,"Sentence/Issue","Setences per Issue");
      initializeDivWithBoxPlot('LinkDistance',$numLinkDistance,"Link distance","Link distance");
      
      var map = new Map();
      #foreach ($item in $numRelevantSentences.keySet())
        map.set("$item", $numRelevantSentences.get("$item"));
      #end
      initializeDivWithPieChart("relevantSentences","Relevance of Sentences","",map);

      map = new Map();
      #foreach ($item in $numKnowledgeTypesPerIssue.keySet())
        map.set("$item", $numKnowledgeTypesPerIssue.get("$item"));
      #end
      initializeDivWithPieChart("knowledgeTypeDist","Knowledge Types","",map);

      map = new Map();
      #foreach ($item in $numLinksToIssue.keySet())
        map.set("$item", $numLinksToIssue.get("$item"));
      #end
      initializeDivWithPieChart("decisionIssues","Links between Knowledge Types","",map);

      map = new Map();
      #foreach ($item in $numAlternativeWoArgument.keySet())
        map.set("$item", $numAlternativeWoArgument.get("$item"));
      #end
      initializeDivWithPieChart("altWithArguments","Arguments for Alterantives","",map);


      function copyToClipboard(parent){

          var copyText = document.getElementById(parent.id).getAttribute("list");

         prompt("Data Points:",copyText);
      
      }
      
    </script>
</div>

