<div class="field-group">
	<label>Add Recommendations Directly?</label>
	<aui-toggle id="add-recommendation-directly" label="Add Recommendations directly?"
		#if($decisionGuidanceConfig.isRecommendationAddedToKnowledgeGraph())
		checked
		#end
		></aui-toggle>
	<div class="description">If enabled, all recommendations for a decision problem are directly added to the knowledge graph.</div>
</div>

<div class="field-group">
	<label for="max-recommendation">Maximum Number of Recommendations</label>
	<input class="text short-field" type="number" data-aui-validation-field
		value="$decisionGuidanceConfig.getMaxNumberOfRecommendations()"
		id="max-recommendation"/>
	<button id="save-max-recommendation-btn" class='aui-button'>Save</button>
	<div class="description">Set the maximum number of recommendations from the activated knowledge sources that should be
		generated.
	</div>
</div>

<div class="field-group">
	<label for="similarity-threshold">Similarity Threshold</label>
	<input class="text short-field"	type="number" data-aui-validation-field
       	min="0"	max="1"	step="0.1"       	
       	value="$decisionGuidanceConfig.getSimilarityThreshold()"
       	id="similarity-threshold"/>
	<button id="save-similarity-threshold" class='aui-button'>Save</button>
	<div class="description">Set the minimum textual similarity necessary to create a recommendation.</div>
</div>

<script>
	$("#add-recommendation-directly").change(function() {
		const isActivated = $(this).prop("checked");
		conDecDecisionGuidanceAPI.setAddRecommendationDirectly("$projectKey", isActivated);
	})

    $("#save-max-recommendation-btn").click(event => {
		event.preventDefault();
		conDecDecisionGuidanceAPI.setMaxNumberOfRecommendations("$projectKey", $("#max-recommendation").val());
    })

	$("#save-similarity-threshold").click((event) => {
       event.preventDefault();
       const value = $("#similarity-threshold").val();
       conDecDecisionGuidanceAPI.setSimilarityThreshold("$projectKey", value);
	})
</script>