<h2>Decision Guidance: Recommendation of Solution Options for Decision Problems</h2>
#set($decisionGuidanceConfig = $project.getDecisionGuidanceConfiguration())

#parse("templates/settings/decisionguidance/basicDecisionGuidanceSettings.vm")
#parse("templates/settings/decisionguidance/rdfSourcesSettings.vm")
#parse("templates/settings/decisionguidance/projectSourcesSettings.vm")
#parse("templates/settings/decisionguidance/decisionGuidanceEvaluation.vm")

<script>
	$("#add-recommendation-directly").change(function() {
		const isActivated = $(this).prop("checked");
		conDecDecisionGuidanceAPI.setAddRecommendationDirectly("$projectKey", isActivated);
	})

    $("#keyword-toggle").change(function() {
        var value= $(this).val();
        const isActivated = $(this).prop("checked");
        conDecDecisionGuidanceAPI.setRecommendationInput("$projectKey", value, isActivated);
    });
    
    $("#issue-toggle").change(function() {
        var value= $(this).val();
        const isActivated = $(this).prop("checked");
        conDecDecisionGuidanceAPI.setRecommendationInput("$projectKey", value, isActivated);
    });

	$("input[type=radio][name=radiobuttons-input]").change(function() {
        conDecDecisionGuidanceAPI.setRecommendationInput("$projectKey", this.value);
    });

    $("#save-max-recommendation-btn").click((event) => {
		event.preventDefault();
        const query = $("#max-recommendation").val();
		conDecDecisionGuidanceAPI.setMaxNumberRecommendations("$projectKey", query);
    })

	$("#save-similarity-threshold").click((event) => {
       event.preventDefault();
       const value = $("#similarity-threshold").val();
       conDecDecisionGuidanceAPI.setSimilarityThreshold("$projectKey", value);
	})

	$("#save-irrelevant-words").click((event) => {
       event.preventDefault();
       const value = $("#irrelevant-words").val();
       conDecDecisionGuidanceAPI.setIrrelevantWords("$projectKey", value);
	})
</script>