<h3>Configure Project Knowledge Sources</h3>
<table id="project-source-table" class="aui aui-table-list">
	<thead>
    	<tr>
        	<th>Project</th>
        	<th>Activate?</th>
    	</tr>
	</thead>
	<tbody>
    #foreach($projectSource in $decisionGuidanceConfig.getProjectKnowledgeSources())
    	<tr>
        	<td>$projectSource.getName()</td>
        	<td>
            <aui-toggle class="activation-knowledgesource-project" name="$projectSource.getName()" label="$projectSource.getName()"
				#if ($projectSource.isActivated())
                checked
                #end
                ></aui-toggle>
        	</td>
    	</tr>
    #end
    </tbody>
</table>