<h3>Configure Project Knowledge Sources</h3>
<table id="project-source-table" class="aui aui-table-list aui-table-sortable">
	<thead>
    	<tr>
    		<th>Project Key</th>
        	<th>Project Name</th>        	
        	<th>Activated?</th>
    	</tr>
	</thead>
	<tbody>
    #foreach($projectSource in $decisionGuidanceConfig.addAllPossibleProjectKnowledgeSources())
    	<tr>
        	<td>$projectSource.getProjectKey()</td>
        	<td>$projectSource.getName()</td>
        	<td>
            <aui-toggle class="activation-knowledgesource-project" label="$projectSource.getProjectKey()"
				#if ($projectSource.isActivated())
                checked
                #end
                ></aui-toggle>
        	</td>
    	</tr>
    #end
    </tbody>
</table>

<script>
$(".activation-knowledgesource-project").each(function() {
	$(this).change(function() {
		const projectKey =  $(this).attr("label");
		const isActivated = $(this).prop("checked");
		conDecDecisionGuidanceAPI.setProjectSource("$projectKey", projectKey, isActivated);
	})
});
</script>