<h3>Configure Knowledge Sources via Resource Description Framework (RDF)</h3>
<a class="aui-expander-trigger" aria-controls="create-knowledgesource-expander">
	<span class="aui-icon aui-icon-small aui-iconfont-add">Create a Knowledge Source via RDF</span> Add
</a>
<div id="create-knowledgesource-expander" class="aui-expander-content">
	#set ($rdfId = "")
	#set ($rdfName = "")
	#set ($rdfService = "http://dbpedia.org/sparql/")
	#set ($rdfQuery = "")
	#set ($rdfTimeout = "30000")
	#set ($rdfConstraints = "")
   	#parse("templates/settings/decisionguidance/singleRdfSourceSettings.vm")
    <div class="field-group">
        <button class="aui-button-primary aui-button" id="create-rdf-source">Create</button>
    </div>
</div>

#foreach ($rdfSource in $decisionGuidanceConfig.getRDFKnowledgeSources())
	#set ($rdfId = $rdfSource.toString())
	#set ($rdfName = $rdfSource.getName())
	#set ($rdfService = $rdfSource.getService())
	#set ($rdfQuery = $rdfSource.getQuery())
	#set ($rdfTimeout = $rdfSource.getTimeout())
	#set ($rdfConstraints = $rdfSource.getConstraints())

<div class="field-group">
    <label>$rdfName activated?</label>    
    <aui-toggle class="activation-knowledgesource" name="$rdfName" label="$rdfName activated?"
		#if ($rdfSource.isActivated())
        checked
        #end
        ></aui-toggle>
    <a style="right: 16px; top:16px;" class="aui-expander-trigger" aria-controls="$rdfId">
   		<span class="aui-icon aui-icon-small aui-iconfont-edit-filled">Edit Knowledge Source</span>
	</a>
    <div class="description">Enables or disables the knowledge source for alternative recommendations
        for this project.
    </div>    
</div>

<div id="$rdfId" class="aui-item aui-expander-content">
	#parse("templates/settings/decisionguidance/singleRdfSourceSettings.vm")
	<div class="field-group">
	    <label for="update-rdf-source">Update</label>
	    <button id="update-rdf-source" class="aui-button update-knowledgesource" data-id="$rdfId"
	            name="$rdfName">
	        <span class="aui-icon aui-icon-small aui-iconfont-refresh">Updates a RDF Knowledge Source</span>
	        Update
	    </button>
	    <div class="description">Updates the RDF knowledge source.</div>
	</div>
	<div class="field-group">
	    <label for="delete-rdf-source">Delete?</label>
	    <button id="delete-rdf-source" class="aui-button-primary aui-button delete-knowledgesource" name="$rdfName">
	        <span class="aui-icon aui-icon-small aui-iconfont-trash">Deletes a RDF Knowledge Source</span> Delete
	    </button>
	    <div class="description">Deletes the knowledge source permanently from the system.</div>
	</div>
</div>
#end

<script>
	function readRdfSourceSettings(rdfId) {
		var rdfSource = {
			"name": $("#rdf-name-" + rdfId).val(),
			"service": $("#rdf-service-" + rdfId).val(),
			"query": $("#rdf-query-" + rdfId).val(),
 			"timeout": $("#rdf-timeout-" + rdfId).val(),
			"constraints" : $("#rdf-constraints-" + rdfId).val()
		}
		return rdfSource;
    }

	$("#create-rdf-source").click(event => {
		event.preventDefault();
        var rdfSource = readRdfSourceSettings("");
		conDecDecisionGuidanceAPI.createRDFKnowledgeSource("$projectKey", rdfSource);
	});

    $(".update-knowledgesource").each(function() {
        $(this).click(event => {
			event.preventDefault();
			let rdfId = $(this).data("id");
			const knowledgeSourceName = $(this).attr("name");
			var rdfSource = readRdfSourceSettings(rdfId);
			console.log(rdfSource);
			conDecDecisionGuidanceAPI.updateKnowledgeSource("$projectKey", knowledgeSourceName, rdfSource);
        });
    });

	$(".activation-knowledgesource").each(function() {
		$(this).change(function() {
			const knowledgeSourceName =  $(this).attr("name");
			const isActivated = $(this).prop("checked");
			conDecDecisionGuidanceAPI.setRDFKnowledgeSourceActivated("$projectKey", knowledgeSourceName, isActivated);
		})
	});
	
	$(".delete-knowledgesource").each(function() {
		$(this).click(event => {
			event.preventDefault();
            var confirm = window.confirm("Do you really want to delete this knowledge source?");
            if(confirm) {
                const knowledgeSourceName = $(this).attr("name");
                conDecDecisionGuidanceAPI.deleteRDFKnowledgeSource("$projectKey", knowledgeSourceName, function() {
                	location.reload();
                });
            }
        })
	});

	$("#query-help-trigger").click(event => {
		$("#query-help").toggle();
	});
	
	$("#select-rdf-service").change(function() {
		var value = $(this).val();
		if (value == "DBPedia") {
			$("#rdf-service-").val("http://dbpedia.org/sparql/")
		} else {
			$("#rdf-service-").val("")
		}
	});
</script>