<section id="create-release-note-dialog" class="aui-dialog2 aui-dialog2-xlarge aui-layer" role="dialog"
         aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 id="create-release-note-header" class="aui-dialog2-header-main">Create Release Notes</h2>
        <button class="aui-close-button" type="button" id="link-dialog-cancel-icon" aria-label="close"></button>
    </header>
    <div id="create-release-note-content" class="aui-dialog2-content">
        <div class="aui-tabs horizontal-tabs" id="createReleaseNoteTabs">
        	#parse("templates/releasenotes/dialogs/configurationTab.vm")
        	#parse("templates/releasenotes/dialogs/proposedJiraIssuesTab.vm")  
        	#parse("templates/releasenotes/dialogs/editorTab.vm")            
        </div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="create-release-note-dialog-cancel-button" class="aui-button aui-button-link">
            	$i18n.getText("condec.button.cancel")
            </button>
        </div>
    </footer>
</section>