<div class="tabs-pane aui-tabs-disabled" id="tab-editor">
    <div id="create-release-note-dialog-contain-editor-content">
        <div id="create-release-note-dialog-contain-editor">
            <textarea id="create-release-note-textarea"></textarea>
        </div>
    </div>
    <button id="create-release-note-submit-content" class="aui-button aui-button-primary">
    	$i18n.getText("condec.project.button.save")
    </button>
</div>