<div id="evaluation-container">
    <h2>Evaluation of Knowledge sources</h2>

    <div class="settings-divider">
        <div class="field-group">
            <label for="evaluation-keywords">Keywords</label>
            <input id="evaluation-keywords" class="text medium-field" placeholder="e.g. Databases"/>
            <div class="description">Enter some keywords.
            </div>
        </div>

        <div class="field-group">
            <form class="aui">
                <label for="select2-issues">Issue</label>
                <select id="select2-issues" placeholder="Select an issue..."
                        class="select medium-field">
                </select>
                <div class="description">Select an issue for evaluation.
                </div>
            </form>
        </div>

        <div class="field-group">
            <!-- Dropdown -->
            <a href="#knowledgesource-evaluation-dropdown" aria-owns="knowledgesource-evaluation-dropdown"
               aria-haspopup="true"
               class="aui-button aui-style-default aui-dropdown2-trigger">Select Knowledgesources</a>
            <label for="knowledgesource-evaluation-dropdown">Knowledge Sources</label>

            <aui-dropdown-menu id="knowledgesource-evaluation-dropdown" class="aui-style-default aui-dropdown2">
                <div class="aui-dropdown2-section">
                    <div class="aui-dropdown2-heading">
                        <strong>RDF Sources</strong>
                    </div>
                    #foreach ($rdfSource in $rdfSources)
                    <aui-item-checkbox interactive>$rdfSource.getName()
                    </aui-item-checkbox>
                    #end
                </div>
                <div class="aui-dropdown2-section">
                    <div class="aui-dropdown2-heading">
                        <strong>Project Sources</strong>
                    </div>
                    #foreach($projectSource in $projectSources)
                    <aui-item-checkbox interactive>$projectSource.getName()
                    </aui-item-checkbox>
                    #end
                </div>
            </aui-dropdown-menu>
            <div class="description">Select knowledge sources that you want to evaluate.
            </div>
        </div>
        <div class="field-group">
            <div style="display:flex; align-items:center; gap:12px">
                <input type="button" class="aui-button-primary aui-button" id="evaluation-knowledgesource-button"
                       value="Evaluate"/>
                <aui-spinner size="small" id="loading-spinner-recommendation"
                             style="margin:0 auto; display:none; "></aui-spinner>
            </div>
            <div class="description">
                Evaluates the selected knowledge source. <br/>
            </div>
        </div>

    </div>

    <table id="evaluation-results-table" class="aui">
        <thead>
        <tr>
            <th>Algorithm</th>
            <th>Knowledge Source</th>
            <th>Results</th>
            <th>Used Words</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>

    var init = false;
    $("#evaluation-container").mouseenter(function() {
        if(!init) {
        conDecAPI.getAllIssues("$projectKey", function(error, results) {
            if (results !== null && results.length > 0) {
                results.forEach(issue => {
                     $("#select2-issues").append("<option value='" + issue.id + "'>" + issue.summary + "</option>");
                });
		    }
        });
        init = true
        AJS.$("#select2-issues").auiSelect2();
        }
    });

    let activeSources = []
    var sources = $("#knowledgesource-evaluation-dropdown")
    sources.change(function(e) {

        var isChecked = e.target.hasAttribute('checked');
        if (isChecked) {
           activeSources.push(e.target.textContent);
        } else {
            activeSources.splice (activeSources.indexOf(e.target.textContent), 1);
        }
    });

    $("#evaluation-knowledgesource-button").click(function(event) {
        event.preventDefault();
        const keywords = $("#evaluation-keywords").val();
        const issueID = $("#select2-issues").val();
        const table =  $("#evaluation-results-table tbody");
        $("#evaluation-results-table tbody tr").remove();
        const spinner = $("#loading-spinner-recommendation");

        activeSources.forEach(function(sourceName) {
            spinner.show();
            conDecAPI.getRecommendationEvaluation("$projectKey", keywords, issueID , sourceName, function(results, error) {
                if(results) {
                    $("#evaluation-results-table tbody").append("<tr><td>$knowledgeSourceAlgorithm</td><td>" + sourceName + "</td><td>"+
                    results.length +"</td> </tr>");
                    spinner.hide();
                }
            });
        });


    });



</script>