<h2>Evaluation of Knowledge sources</h2>

<div class="settings-divider">
    <div class="field-group">
        <label for="evaluation-keywords">Keywords</label>
        <input id="evaluation-keywords" class="text medium-field" placeholder="e.g. Databases"/>
        <div class="description">Enter some keywords.
        </div>
    </div>
    <div class="field-group">
        <!-- Trigger -->


        <label for="knowledgesource-evaluation-dropdown">Type of Source</label>
        <!-- Dropdown -->
        <div style="display:flex; align-items:center; gap:12px">
            <a href="#knowledgesource-evaluation-dropdown" aria-owns="knowledgesource-evaluation-dropdown"
               aria-haspopup="true"
               class="aui-button aui-style-default aui-dropdown2-trigger">Select Knowledgesources</a>

            <aui-dropdown-menu id="knowledgesource-evaluation-dropdown" class="aui-style-default aui-dropdown2">
                <div class="aui-dropdown2-section">
                    <div class="aui-dropdown2-heading">
                        <strong>RDF Sources</strong>
                    </div>
                    #foreach ($rdfSource in $rdfSources)
                    <aui-item-checkbox interactive>$rdfSource.getName()
                    </aui-item-checkbox>
                    #end
                </div>
                <div class="aui-dropdown2-section">
                    <div class="aui-dropdown2-heading">
                        <strong>Project Sources</strong>
                    </div>
                    #foreach($projectSource in $projectSources)
                    <aui-item-checkbox interactive>$projectSource.getName()
                    </aui-item-checkbox>
                    #end
                </div>
            </aui-dropdown-menu>
            <input type="button" class="aui-button" id="evaluation-knowledgesource-button" value="Evaluate"/>
            <aui-spinner size="small" id="loading-spinner-recommendation"
                         style="margin:0 auto; display:none; "></aui-spinner>
        </div>
        <div class="description">
            Evaluates the selected knowledge source. <br/>
        </div>

    </div>

    <table id="evaluation-results-table" class="aui">
        <thead>
        <tr>
            <th>Algorithm</th>
            <th>Knowledge Source</th>
            <th>Results</th>
            <th>Used Words</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>

    let activeSources = []
    var sources = $("#knowledgesource-evaluation-dropdown")
    sources.change(function(e) {

        var isChecked = e.target.hasAttribute('checked');
        if (isChecked) {
           activeSources.push(e.target.textContent);
        } else {
            activeSources.splice (activeSources.indexOf(e.target.textContent), 1);
        }

        console.log(activeSources)
    });

    $("#evaluation-knowledgesource-button").click(function(event) {
        event.preventDefault();
        const keywords = $("#evaluation-keywords").val();
        const table =  $("#evaluation-results-table tbody");
        $("#evaluation-results-table tbody tr").remove();
        const spinner = $("#loading-spinner-recommendation");

        activeSources.forEach(function(sourceName) {
            spinner.show();
            conDecAPI.getRecommendationEvaluation("$projectKey", keywords, sourceName, function(results, error) {
                if(results) {
                    $("#evaluation-results-table tbody").append("<tr><td>$knowledgeSourceAlgorithm</td><td>" + sourceName + "</td><td>"+
                    results.length +"</td> </tr>");
                    spinner.hide();
                }
            });
        });


    });










</script>