$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

<div id="condec-code-coverage-dashboard-configproject" class="condec-dashboard-contents filtering hidden">
    <form class="aui">
        #set ($viewIdentifier = "code-coverage")
        <div class="field-group">
            #parse("templates/filter/project.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/knowledgeTypeMulti.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/documentationLocationMulti.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/knowledgeStatusMulti.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/linkTypeMulti.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/linkDistance.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/degree.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/documentationDate.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/dashboardCheckboxes.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/dashboardButtons.vm")
        </div>
    </form>
</div>

<div id="condec-code-coverage-dashboard-contents-data-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.data.error")
</div>

<div id="condec-code-coverage-dashboard-no-project" class="condec-dashboard-contents init">
    $i18n.getText("condec.dashboard.codecoverage.project.selection.not.done")
</div>

<div id="condec-code-coverage-dashboard-processing" class="condec-dashboard-contents waiting hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.processing")
</div>

<div id="condec-code-coverage-dashboard-fatal-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.setup.error")
</div>

<div id="condec-code-coverage-dashboard-nogit-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.nogit")
</div>

<div id="condec-code-coverage-dashboard-contents-container" class="condec-dashboard-contents results hidden">
    <div id="boxplot-IssuesPerCodeFile" class="boxplot"></div>
    <div id="boxplot-DecisionsPerCodeFile" class="boxplot"></div>
    <div id="piechartRich-DecisionDocumentedForCodeFile" class="piechart"></div>
    <div id="piechartRich-IssueDocumentedForCodeFile" class="piechart"></div>
</div>

#parse("templates/dashboard/navigationOverlay.vm")