$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

<div id="configproject" class="condec-dashboard-contents filtering">
    <form class="aui">
        <div class="field-group">
            <label for="condec-dashboard-code-coverage-project-selection">Project:</label>
            <select name="project" id="condec-dashboard-code-coverage-project-selection" class="select long-field">
                <option value="">
                    $i18n.getText("condec.dashboard.codecoverage.project.selection.pickone")
                </option>
                #foreach ($project in $projects)
                    <option value="$project.getKey()"
                        #if ($projectsWithGit.indexOf($project) == -1)
                            style="background-color:yellow"
                        #end
                    >
                        $project.getKey() - $project.getName()
                    </option>
                #end
            </select>
            <div id="condec-dashboard-code-coverage-linkdistance-selection" class="condec-filter-distance hidden">
                <label for="condec-dashboard-code-coverage-link-distance-input">Link Distance:</label>
                <input name="linkDistance" id="condec-dashboard-code-coverage-link-distance-input" class="text short-field"
                type="number" value="3" min="0" placeholder="Enter distance">
            </div>
        </div>
    </form>
</div>

<div id="condec-code-coverage-dashboard-contents-data-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.data.error")
</div>

<div id="condec-code-coverage-dashboard-no-project" class="condec-dashboard-contents init">
    $i18n.getText("condec.dashboard.codecoverage.project.selection.not.done")
</div>

<div id="condec-code-coverage-dashboard-processing" class="condec-dashboard-contents waiting hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.processing")
</div>

<div id="condec-code-coverage-dashboard-fatal-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.setup.error")
</div>

<div id="condec-code-coverage-dashboard-nogit-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.nogit")
</div>

<div id="condec-code-coverage-dashboard-contents-container" class="condec-dashboard-contents results hidden">
    <div id="boxplot-IssuesPerCodeFile" class="boxplot"></div>
    <div id="boxplot-DecisionsPerCodeFile" class="boxplot"></div>
</div>

#parse("templates/dashboard/navigationOverlay.vm")

<script>
    $(document).ready(function() {
        function projectSelectOrOnChange(event) {
            var projectKey = event.target.value;
            var selectedOptionIndex = event.target.options.selectedIndex;
            var selectedOption = event.target.options[selectedOptionIndex];
            var linkDistanceNode = document.getElementById("condec-dashboard-code-coverage-link-distance-input");
            var linkDistance = linkDistanceNode.value;

            conDecCodeCoverageDashboard.init(projectKey, linkDistance);
        }

        selectProjectNode = document.getElementById("condec-dashboard-code-coverage-project-selection");
        selectProjectNode.addEventListener("change", projectSelectOrOnChange);
    });
</script>

#if ($projectKey && $linkDistance)
<script>
    $(document).ready(function() {
        conDecCodeCoverageDashboard.init("$projectKey", "$linkDistance");

        ConDecReqDash.setJiraBaseUrl("$jiraBaseUrl");
        selectNode.value = "$projectKey";
    });
</script>
#end