$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

<div id="condec-code-coverage-dashboard-configproject" class="condec-dashboard-contents filtering hidden">
    <form class="aui">
        <div class="field-group">
            <label for="condec-dashboard-code-coverage-project-selection">Project:</label>
            <select name="project" id="condec-dashboard-code-coverage-project-selection" class="select long-field">
                <option value="">
                    $i18n.getText("condec.dashboard.codecoverage.project.selection.pickone")
                </option>
                #foreach ($project in $projects)
                    <option value="$project.getKey()"
                        #if ($projectsWithGit.indexOf($project) == -1)
                            style="background-color:yellow"
                        #end
                    >
                        $project.getKey() - $project.getName()
                    </option>
                #end
            </select>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-knowledgetypes-selection" class="condec-dashboard-filter">
                <label for="condec-dashboard-code-coverage-knowledgetypes-input">Knowledge Types:</label>
                <select name="knowledgeType" id="condec-dashboard-code-coverage-knowledgetypes-input" class="select"
                        multiple size="3">
                </select>
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-documentationlocation-selection" class="condec-dashboard-filter">
                <label for="condec-dashboard-code-coverage-documentationlocation-input">Documentation Locations:</label>
                <select name="documentationLocation" id="condec-dashboard-code-coverage-documentationlocation-input" class="select"
                        multiple size="3">
                </select>
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-knowledgestatus-selection" class="condec-dashboard-filter">
                <label for="condec-dashboard-code-coverage-knowledgestatus-input">Knowledge Status:</label>
                <select name="knowledgeStatus" id="condec-dashboard-code-coverage-knowledgestatus-input" class="select"
                        multiple size="3">
                </select>
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-linktypes-selection" class="condec-dashboard-filter">
                <label for="condec-dashboard-code-coverage-linktypes-input">Jira Issue Link Types:</label>
                <select name="linkType" id="condec-dashboard-code-coverage-linktypes-input" class="select"
                        multiple size="3">
                </select>
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-linkdistance-selection" class="condec-dashboard-filter">
                <label for="condec-dashboard-code-coverage-linkdistance-input">Link Distance:</label>
                <input name="linkDistance" id="condec-dashboard-code-coverage-linkdistance-input" class="text short-field"
                       type="number" value="3" min="0" placeholder="Enter distance">
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-degree-selection" class="condec-dashboard-filter">
                <label for="condec-dashboard-code-coverage-mindegree-input">Minimum Degree:</label>
                <input name="minDegree" id="condec-dashboard-code-coverage-mindegree-input" class="text short-field"
                       type="number" value="" min="0" placeholder="Enter minimum degree">
                <label for="condec-dashboard-code-coverage-maxdegree-input">Maximum Degree:</label>
                <input name="maxDegree" id="condec-dashboard-code-coverage-maxdegree-input" class="text short-field"
                       type="number" value="" min="0" placeholder="Enter maximum degree">
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-date-selection" class="condec-dashboard-filter">
                <label for="condec-dashboard-code-coverage-startdate-input">Start Date:</label>
                <input type="date" id="condec-dashboard-code-coverage-startdate-input" name="startDate">
                <label for="condec-dashboard-code-coverage-enddate-input">End Date:</label>
                <input type="date" id="condec-dashboard-code-coverage-enddate-input" name="endDate">
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-code-coverage-checkboxes-selection" class="condec-dashboard-filter">
                <input type="checkbox" id="condec-dashboard-code-coverage-decisionknowledge-checkbox" value="decisionKnowledgeShown">
                <label for="condec-dashboard-code-coverage-decisionknowledge-checkbox"> Show Only Decision Knowledge</label><br>
                <input type="checkbox" id="condec-dashboard-code-coverage-testcode-checkbox" value="testCodeShown">
                <label for="condec-dashboard-code-coverage-testcode-checkbox"> Show Test Code</label><br>
                <input type="checkbox" id="condec-dashboard-code-coverage-incompleteknowledge-checkbox" value="incompleteKnowledgeShown">
                <label for="condec-dashboard-code-coverage-incompleteknowledge-checkbox"> Show Incomplete Knowledge</label><br>
            </div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <input id="code-coverage-save-button" class="button" type="button" value="Save">
                <input id="code-coverage-cancel-button" class="button" type="button" value="Cancel">
            </div>
        </div>
    </form>
</div>

<div id="condec-code-coverage-dashboard-contents-data-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.data.error")
</div>

<div id="condec-code-coverage-dashboard-no-project" class="condec-dashboard-contents init hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.selection.not.done")
</div>

<div id="condec-code-coverage-dashboard-processing" class="condec-dashboard-contents waiting hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.processing")
</div>

<div id="condec-code-coverage-dashboard-fatal-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.setup.error")
</div>

<div id="condec-code-coverage-dashboard-nogit-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.codecoverage.project.nogit")
</div>

<div id="condec-code-coverage-dashboard-contents-container" class="condec-dashboard-contents results hidden">
    <div id="boxplot-IssuesPerCodeFile" class="boxplot"></div>
    <div id="boxplot-DecisionsPerCodeFile" class="boxplot"></div>
    <div id="piechartRich-DecisionDocumentedForCodeFile" class="piechart"></div>
    <div id="piechartRich-IssueDocumentedForCodeFile" class="piechart"></div>
</div>

#parse("templates/dashboard/navigationOverlay.vm")