$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

<div id="condec-branch-dashboard-configproject" class="condec-dashboard-contents filtering hidden">
    <form class="aui">
        #set ($viewIdentifier = "branch")
        <div class="field-group">
            #parse("templates/filter/project.vm")
        </div>
        <div class="field-group">
            #parse("templates/filter/dashboardButtons.vm")
        </div>
    </form>
</div>

<div id="condec-branches-dashboard-contents-data-error" class="condec-dashboard-contents error hidden">
	$i18n.getText("condec.dashboard.featurebranch.project.data.error")
</div>

<div id="condec-branches-dashboard-no-project" class="condec-dashboard-contents init">
    $i18n.getText("condec.dashboard.featurebranch.project.selection.not.done")
</div>

<div id="condec-branches-dashboard-processing" class="condec-dashboard-contents waiting hidden">
    $i18n.getText("condec.dashboard.featurebranch.project.processing")
</div>

<div id="condec-branches-dashboard-fatal-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.featurebranch.setup.error")
</div>

<div id="condec-branches-dashboard-nogit-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.featurebranch.project.nogit")
</div>

<div id="condec-branches-dashboard-contents-container" class="condec-dashboard-contents results hidden">
	<div id="piechartRich-QualityStatusForBranches" class="piechart"></div>
	<div id="piechartRich-ProblemTypesInBranches" class="piechart"></div>
	<div id="piechartRich-BranchesPerIssue" class="piechart"></div>
	<div id="boxplot-IssuesPerBranch" class="piechart"></div>
	<div id="boxplot-DecisionsPerBranch" class="piechart"></div>
	<div id="boxplot-AlternativesPerBranch" class="piechart"></div>
	<div id="boxplot-ProsPerBranch" class="piechart"></div>
	<div id="boxplot-ConsPerBranch" class="piechart"></div>
</div>

#parse("templates/dashboard/navigationOverlay.vm")