$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

#set ($viewIdentifier = "branch")
#parse("templates/filter/dashboardFilter.vm")

<div id="condec-dashboard-contents-container-$viewIdentifier" class="condec-dashboard-contents results hidden">
    <div class="field-group">
        #parse("templates/dashboard/selectedProject.vm")
    </div>
    <div id="piechartRich-QualityStatusForBranches" class="piechart"></div>
	<div id="piechartRich-ProblemTypesInBranches" class="piechart"></div>
	<div id="piechartRich-BranchesPerIssue" class="piechart"></div>
	<div id="boxplot-IssuesPerBranch" class="piechart"></div>
	<div id="boxplot-DecisionsPerBranch" class="piechart"></div>
	<div id="boxplot-AlternativesPerBranch" class="piechart"></div>
	<div id="boxplot-ProsPerBranch" class="piechart"></div>
	<div id="boxplot-ConsPerBranch" class="piechart"></div>
</div>

#parse("templates/dashboard/dashboardProcessing.vm")
#parse("templates/dashboard/dashboardNoProject.vm")
#parse("templates/dashboard/dashboardError.vm")
#parse("templates/dashboard/navigationOverlay.vm")