$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

<div class="condec-dashboard-contents filtering">
	<form class="aui">
		<div class="field-group">
			<label for="condec-dashboard-item-project-selection">Project:</label>
			<select id="condec-dashboard-item-project-selection" class="select">
				<option value="">
					$i18n.getText("condec.dashboard.featurebranch.project.selection.pickone")
				</option>
			#foreach ($project in $projects)
				<option value="$project.getKey()"
					#if ($projectsWithGit.indexOf($project) == -1)
						style="background-color:yellow"
					#end
				>
					$project.getKey() - $project.getName()
				</option>
			#end
			</select>
		</div>
	</form>
</div>

<div id="condec-branches-dashboard-contents-data-error" class="condec-dashboard-contents error hidden">
	$i18n.getText("condec.dashboard.featurebranch.project.data.error")
</div>

<div id="condec-branches-dashboard-no-project" class="condec-dashboard-contents init">
    $i18n.getText("condec.dashboard.featurebranch.project.selection.not.done")
</div>

<div id="condec-branches-dashboard-processing" class="condec-dashboard-contents waiting hidden">
    $i18n.getText("condec.dashboard.featurebranch.project.processing")
</div>

<div id="condec-branches-dashboard-fatal-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.featurebranch.setup.error")
</div>

<div id="condec-branches-dashboard-nogit-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.featurebranch.project.nogit")
</div>

<div id="condec-branches-dashboard-contents-container" class="condec-dashboard-contents results hidden">
	<div id="piechartRich-QualityStatusForBranches" class="piechart"></div>
	<div id="piechartRich-ProblemTypesInBranches" class="piechart"></div>
	<div id="piechartRich-BranchesPerIssue" class="piechart"></div>
	<div id="boxplot-IssuesPerBranch" class="piechart"></div>
	<div id="boxplot-DecisionsPerBranch" class="piechart"></div>
	<div id="boxplot-AlternativesPerBranch" class="piechart"></div>
	<div id="boxplot-ProsPerBranch" class="piechart"></div>
	<div id="boxplot-ConsPerBranch" class="piechart"></div>
</div>

#parse("templates/dashboard/navigationOverlay.vm")

<script>
$(document).ready(function() {
    function projectSelectOrOnChange(event) {
        var projectKey = event.target.value;
        var selectedOptionIndex = event.target.options.selectedIndex;
        var selectedOption = event.target.options[selectedOptionIndex];
        conDecBranchesDashboard.init(projectKey);
    }
    selectNode = document.getElementById("condec-dashboard-item-project-selection");
    selectNode.addEventListener("change", projectSelectOrOnChange);
});
</script>