<div class="condec-dashboard-contents results" id="dynamic-content-general">
    <h3>General Metrics</h3>
    <div id="boxplot-CommentsPerJiraIssue" class="boxplot"></div>
    <div id="piechartInteger-ReqCodeSummary" class="piechart"></div>
    <div id="piechartInteger-DecSources" class="piechart"></div>
	<div id="piechartInteger-RelevantSentences" class="piechart"></div>
    <div id="piechartInteger-KnowledgeTypeDistribution" class="piechart"></div>
</div>