$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")

#if (!$projectKey)
	#parse("templates/dashboard/projectPicker.vm")	
	#parse("templates/dashboard/noProjectSelected.vm")	
#end

#if ($projectKey)
<div class="condec-dashboard-contents results" id="dynamic-content-general">
    <h3>General Metrics</h3>
    <div id="boxplot-CommentsPerJiraIssue" class="boxplot"></div>
	<div id="boxplot-CommitsPerJiraIssue" class="boxplot"></div>
    <div id="piechartInteger-ReqCodeSummary" class="piechart"></div>
    <div id="piechartInteger-DecSources" class="piechart"></div>
	<div id="piechartInteger-RelevantSentences" class="piechart"></div>
    <div id="piechartInteger-KnowledgeTypeDistribution" class="piechart"></div>
</div>	
#parse("templates/dashboard/navigationOverlay.vm")

<script>
	$(document).ready(function () {
		ConDecReqDash.initializeChart("boxplot-CommentsPerJiraIssue", 
			"", "#Comments per Jira Issue", "$numberOfCommentsPerJiraIssue");
		ConDecReqDash.initializeChart("boxplot-CommitsPerJiraIssue", 
			"", "#Commits per Jira Issue", "$numberOfCommitsPerJiraIssue");
		ConDecReqDash.initializeChart("piechartInteger-ReqCodeSummary", 
			"", "Distribution of Knowledge Types", "$distributionOfKnowledgeTypes");
		ConDecReqDash.initializeChart("piechartInteger-DecSources", 
			"", "#Requirements and Code Classes", "$requirementsAndCodeFiles");
		ConDecReqDash.initializeChart("piechartInteger-RelevantSentences", 
			"", "#Elements from Documentation Locations", "$numberOfElementsPerDocumentationLocation");
		ConDecReqDash.initializeChart("piechartInteger-KnowledgeTypeDistribution", 
			"", "Comments in Jira Issues relevant to Decision Knowledge", "$numberOfRelevantComments");	
	});
</script>
#end