$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

<div id="condec-rationale-coverage-dashboard-configproject" class="condec-dashboard-contents filtering hidden">
    <form class="aui">
        <div class="field-group">
            <label for="condec-dashboard-rationale-coverage-project-selection">Project:</label>
            <select name="project" id="condec-dashboard-rationale-coverage-project-selection" class="select long-field">
                <option value="">
                    $i18n.getText("condec.dashboard.rationalecoverage.project.selection.pickone")
                </option>
                #foreach ($project in $projects)
                    <option value="$project.getKey()"
                        #if ($projectsWithGit.indexOf($project) == -1)
                            style="background-color:yellow"
                        #end
                    >
                        $project.getKey() - $project.getName()
                    </option>
                #end
            </select>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-rationale-coverage-issuetype-selection" class="condec-issueType">
                <label for="condec-dashboard-rationale-coverage-issuetype-input">Jira Issue Type:</label>
                <select name="issueType" id="condec-dashboard-rationale-coverage-issuetype-input" class="select">
                    <option value="">
                        $i18n.getText("condec.dashboard.rationalecoverage.issuetype.selection.pickone")
                    </option>
                    #foreach($jiraIssueType in $jiraIssueTypes)
                        <option value=$jiraIssueType.getId()>$jiraIssueType.getName()</option>
                    #end
                </select>
            </div>
        </div>
        <div class="field-group">
            <div id="condec-dashboard-rationale-coverage-filter-selection" class="condec-filter">
                <label for="condec-dashboard-rationale-coverage-link-distance-input">Link Distance:</label>
                <input name="linkDistance" id="condec-dashboard-rationale-coverage-link-distance-input" class="text short-field"
                       type="number" value="3" min="0" placeholder="Enter distance">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate">
            </div>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <input id="rationale-coverage-save-button" class="button" type="button" value="Save">
                <input id="rationale-coverage-cancel-button" class="button" type="button" value="Cancel">
            </div>
        </div>
    </form>
</div>

<div id="condec-rationale-coverage-dashboard-contents-data-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.rationalecoverage.project.data.error")
</div>

<div id="condec-rationale-coverage-dashboard-no-project" class="condec-dashboard-contents init hidden">
    $i18n.getText("condec.dashboard.rationalecoverage.project.selection.not.done")
</div>

<div id="condec-rationale-coverage-dashboard-processing" class="condec-dashboard-contents waiting hidden">
    $i18n.getText("condec.dashboard.rationalecoverage.project.processing")
</div>

<div id="condec-rationale-coverage-dashboard-fatal-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.rationalecoverage.setup.error")
</div>

<div id="condec-rationale-coverage-dashboard-nogit-error" class="condec-dashboard-contents error hidden">
    $i18n.getText("condec.dashboard.rationalecoverage.project.nogit")
</div>

<div id="condec-rationale-coverage-dashboard-contents-container" class="condec-dashboard-contents results hidden">
    <div id="boxplot-IssuesPerJiraIssue" class="boxplot"></div>
    <div id="boxplot-DecisionsPerJiraIssue" class="boxplot"></div>
    <div id="piechartRich-DecisionDocumentedForSelectedJiraIssue" class="piechart"></div>
    <div id="piechartRich-IssueDocumentedForSelectedJiraIssue" class="piechart"></div>
</div>

#parse("templates/dashboard/navigationOverlay.vm")
