$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

#set ($viewIdentifier = "rationale-completeness")
#parse("templates/filter/dashboardFilter.vm")

<div id="condec-dashboard-contents-container-$viewIdentifier" class="condec-dashboard-contents results hidden">
    <div class="field-group">
        #parse("templates/dashboard/selectedProject.vm")
    </div>
    <div id="piechartRich-IssuesSolvedByDecision" class="piechart"></div>
    <div id="piechartRich-DecisionsSolvingIssues" class="piechart"></div>
    <div id="piechartRich-ProArgumentDocumentedForDecision" class="piechart"></div>
    <div id="piechartRich-ConArgumentDocumentedForDecision" class="piechart"></div>
    <div id="piechartRich-ProArgumentDocumentedForAlternative" class="piechart"></div>
    <div id="piechartRich-ConArgumentDocumentedForAlternative" class="piechart"></div>
</div>

#parse("templates/dashboard/dashboardProcessing.vm")
#parse("templates/dashboard/dashboardNoProject.vm")
#parse("templates/dashboard/dashboardError.vm")
#parse("templates/dashboard/navigationOverlay.vm")