$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")

#if (!$projectKey)
	#parse("templates/dashboard/projectPicker.vm")	
	#parse("templates/dashboard/noProjectSelected.vm")	
#end

#if ($projectKey)
<div class="condec-dashboard-contents results" id="dynamic-content-completeness">
    <h3>Intra-Rationale Completeness Metrics</h3>
    <div id="piechartRich-IssuesSolvedByDecision" class="piechart"></div>
    <div id="piechartRich-DecisionsSolvingIssues" class="piechart"></div>
	<div id="piechartRich-ProArgumentDocumentedForDecision" class="piechart"></div>
    <div id="piechartRich-ConArgumentDocumentedForAlternative" class="piechart"></div>
    <div id="piechartRich-ConArgumentDocumentedForDecision" class="piechart"></div>
    <div id="piechartRich-ProArgumentDocumentedForAlternative" class="piechart"></div>    
</div>
#parse("templates/dashboard/navigationOverlay.vm")

<script>
	$(document).ready(function () {			
		// initialize charts
		ConDecReqDash.initializeChart("piechartRich-IssuesSolvedByDecision", 
			"", "How many issues (=decision problems) are solved by a decision?", "$issuesSolvedByDecision");
		ConDecReqDash.initializeChart("piechartRich-DecisionsSolvingIssues", 
			"", "For how many decisions is the issue (=decision problem) documented?", "$decisionsSolvingIssues");
		ConDecReqDash.initializeChart("piechartRich-ProArgumentDocumentedForDecision", 
			"", "How many decisions have at least one pro argument documented?", "$proArgumentDocumentedForDecision");
		ConDecReqDash.initializeChart("piechartRich-ConArgumentDocumentedForAlternative", 
			"", "How many alternatives have at least one con argument documented?", "$conArgumentDocumentedForAlternative");
		ConDecReqDash.initializeChart("piechartRich-ConArgumentDocumentedForDecision", 
			"", "How many decisions have at least one con argument documented?", "$conArgumentDocumentedForDecision");	
		ConDecReqDash.initializeChart("piechartRich-ProArgumentDocumentedForAlternative", 
			"", "How many alternatives have at least one pro argument documented?", "$proArgumentDocumentedForAlternative");	
    	ConDecReqDash.setJiraBaseUrl("$jiraBaseUrl");
	});
</script>
#end