$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")

<div class="condec-dashboard-contents filtering" id="configproject">
    <form class="aui" id="configFormProject">
        <div class="field-group">
            <label for="project-input">Project:</label>
            <select name="project" id="project-input" class="select long-field">
                #foreach($project in $projects)
                    <option value=$project.getKey()
					#if ($projectKey && $projectKey.equalsIgnoreCase($project.getKey()))
						selected
					#end	
					>$project.getKey() - $project.getName()</option>
                #end
            </select>
            <input class="aui-button" type="submit" value="Select project" id="select-button">
        </div>
    </form>
</div>

#if ($projectKey)
	#parse("templates/dashboard/requirementsDashboardItemFilter.vm")	
#end

#if (!$projectKey || !$issueType)
	<div id="condec-req-dashboard-no-project" class="condec-dashboard-contents init">
		$i18n.getText("condec.dashboard.featurebranch.project.selection.not.done")
	</div>
#end

#if ($projectKey && $issueType)
	#parse("templates/dashboard/requirementsDashboardItemMetrics.vm")
#end

#if ($projectKey)
	<script>
	$(document).ready(function () {	
		conDecAPI.projectKey = "$projectKey";
		conDecFiltering.fillFilterElements("requirements-dashboard");
		
		// initialize charts
		#set($title="")
		#foreach ($name in $chartNamesAndPurpose.keySet())
			#set($purpose=$chartNamesAndPurpose.get("$name"))
			#set($data=$chartNamesAndData.get("$name"))
			dataMap = new Map();
			#foreach ($dataName in $data.keySet())
				dataMap.set("$dataName", "$data.get("$dataName")");
			#end
			ConDecReqDash.initializeChart("$name", "$title", "$purpose", dataMap);
		#end
    	ConDecReqDash.setJiraBaseUrl("$jiraBaseUrl")
		ConDecReqDash.init();
	});
	</script>
#end