$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:requirements-dashboard-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:dashboard-item-condec-resources")
<div class="condec-dashboard-contents filtering" id="configproject">
    <form class="aui" id="configFormProject">
        <div class="field-group">
            <label for="project-input">Project:</label>
            <select name="project" id="project-input" class="select">
                #foreach($string in $projectNamesMap.keySet())
                    <option value=$projectNamesMap.get($string)>$string</option>
                #end
            </select>
            <input class="aui-button" type="submit" value="Select" id="select-button">
        </div>
    </form>
</div>
<div class="condec-dashboard-contents filtering hidden" id="configissuetype">
    <form class="aui" id="configFormIssue">
        <div class="field-group">            
            <input type="hidden" name="project" value=$projectKey>
			<label for="issuetype-input">Jira Issue Type:</label>
            <select name="issuetype" id="issuetype-input" class="select">
                #foreach($string in $issueTypeNamesMap.keySet())
                    <option value=$issueTypeNamesMap.get($string)>$string</option>
                #end
            </select>
            <input class="button submit" type="submit" value="Select" id="select-button">
        </div>
    </form>

</div>
<div id="condec-req-dashboard-no-project" class="condec-dashboard-contents hidden">
    $i18n.getText("condec.dashboard.featurebranch.project.selection.not.done")
</div>
<div class="condec-dashboard-contents filtering hidden" id="dynamic-content-filter">
    <h3>Filter:</h3>
    <form class="aui" id="configFormIssue">
        <input type="hidden" name="project" value=$project>
        <input type="hidden" name="issuetype" value=$issueTypeId>
        <input type="hidden" name="filter" value="true">
        <label for="linkDistanceFilter">Link Distance:</label>
        <input type="number" id="linkDistanceFilter" name="linkDistance" value=$linkDistance min="1"
               class="text short-field">

        <select id="knowledgeType-select" multiple placeholder="Knowledge Type" class="select medium-field"
                name="knowledgeTypes" style="vertical-align: bottom">
            #foreach($type in $knowledgeTypes)
                #if($selectedKnowledgeTypes.contains($type.toString()))
                    <option selected value="$type.toString()">$type.toString()</option>
                #else
                    <option value="$type.toString()">$type.toString()</option>
                #end

            #end
        </select>

        <select id="status-select" multiple placeholder="Status" class="select medium-field"
                name="status" style="vertical-align: bottom">
            #foreach($state in $status)
                #if($selectedStatus.contains($state.toString()))
                    <option selected value="$state.toString()">$state.toString()</option>
                #else
                    <option value="$state.toString()">$state.toString()</option>
                #end

            #end
        </select>

        <select id="group-select" multiple placeholder="Decision Group" class="select medium-field"
                name="group" style="vertical-align: bottom">
            #foreach($group in $groups)
                #if($selectedGroups.contains($group))
                    <option selected value="$group">$group</option>
                #else
                    <option value="$group">$group</option>
                #end

            #end
        </select>

        <label for="ignore-git">Ignore Knowledge From Git</label>
        #if($ignoreGit=="on")
            <input class="checked" type="checkbox" checked id="ignore-git" name="ignoreGit"/>
        #else
            <input class="checked" type="checkbox" id="ignore-git" name="ignoreGit"/>
        #end

        <input class="button submit" type="submit" value="Filter" id="select-button">
    </form>
    <!--
    Group Filter
    //-->
</div>
<div class="condec-dashboard-contents results hidden" id="dynamic-content-general">
    <h1>$i18n.getText("condec.jira.project"): $projectName</h1>
    <h3>General Metrics:</h3>
    <div id="boxplot-CommentsPerJiraIssue" class="notsetyet boxplot"></div>
    <div id="boxplot-DecisionsPerJiraIssue" class="notsetyet boxplot"></div>
    <div id="boxplot-IssuesPerJiraIssue" class="notsetyet boxplot"></div>
    <div id="piechartInteger-ReqCodeSummary" class="notsetyet piechart"></div>
    <div id="piechartInteger-DecSources" class="notsetyet piechart"></div>
</div>


<div class="condec-dashboard-contents results hidden" id="dynamic-content-completeness">
    <h3>Rationale Completeness Metrics</h3>
    <h4>Metrics for completeness of decision knowledge across all Jira issues.</h4>
    <div id="piechartRich-IssuesSolvedByDecision" class="notsetyet piechart"></div>
    <div id="piechartRich-DecisionsSolvingIssues" class="notsetyet piechart"></div>
    <div id="piechartRich-ConArgumentDocumentedForAlternative" class="notsetyet piechart"></div>
    <div id="piechartRich-ConArgumentDocumentedForDecision" class="notsetyet piechart"></div>
    <div id="piechartRich-ProArgumentDocumentedForAlternative" class="notsetyet piechart"></div>
    <div id="piechartRich-ProArgumentDocumentedForDecision" class="notsetyet piechart"></div>
</div>

<div class="condec-dashboard-contents results hidden" id="dynamic-content-basics">
    <h3>$issueType Completeness Metrics</h3>
    <h4>Metrics for completeness of $issueType related decision knowledge.</h4>
    <div id="piechartRich-DecisionDocumentedForSelectedJiraIssue" class="notsetyet piechart"></div>
    <div id="piechartRich-IssueDocumentedForSelectedJiraIssue" class="notsetyet piechart"></div>
    <div id="piechartInteger-RelevantSentences" class="notsetyet piechart"></div>
    <div id="piechartInteger-KnowledgeTypeDistribution" class="notsetyet piechart"></div>
</div>


<div id="condec-req-dashboard-fatal-error" class="condec-req-dashboard-fatal-error hidden">
    <h1 class="condec-req-dashboard-fatal-error hidden"> $i18n.getText(
        "condec.dashboard.requirements.setup.error") </h1>
</div>

<script type="text/javascript">
    // initialize charts
    AJS.$("#knowledgeType-select").auiSelect2();
    AJS.$("#status-select").auiSelect2();
    AJS.$("#group-select").auiSelect2();
        #set($title="")
        #foreach ($name in $chartNamesAndPurpose.keySet())
            #set($purpose=$chartNamesAndPurpose.get("$name"))
            #set($data=$chartNamesAndData.get("$name"))
        dataMap = new Map();
            #foreach ($dataName in $data.keySet())
            dataMap.set("$dataName", "$data.get("$dataName")");
            #end
        ConDecReqDash.initializeChart("$name", "$title", "$purpose", dataMap);
        #end
    ConDecReqDash.setJiraBaseUrl("$jiraBaseUrl")
</script>

#parse("templates/dashboard/navigationOverlay.vm")

<script>
	ConDecReqDash.init("$showDiv");
    $(document).ready(function () {		
            function projectSelectorOnchange(event) {
                projectName = event.target.value
                selectedOptionIndex = event.target.options.selectedIndex
                selectedOption = event.target.options[selectedOptionIndex]
                ConDecReqDash.init(projectName, event.target.dataset.uid)
            }

            //selectNode = document.getElementById("${selectID}");
            //selectNode.addEventListener('change', projectSelectorOnchange);
    });
</script>