<form class="aui">
	#set ($datepickerStartId = "start-date-picker")
	#set ($datepickerEndId = "end-date-picker")
	#parse("templates/filter/creationDate.vm")
	
	#set ($knowledgeTypeDropdownId = "knowledge-type-dropdown-chronology")	
    #parse("templates/filter/knowledgeType.vm")
    
    #set ($statusDropdownId = "status-dropdown-chronology")	
    #parse("templates/filter/status.vm")
    <input class="text medium-long-field" id="time-search-input"
           placeholder="$i18n.getText('condec.filter.label')"/>
    <input type="button" id="filter-button-time" class="aui-button aui-button-primary" value="Filter"/>
</form>
<div class="aui-group">
    <div id="evolution-timeline"></div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if(window.conDecEvolutionPage.init(conDecAPI, conDecObservable)) {
            conDecAPI.checkIfProjectKeyIsValid();
            window.conDecEvolutionPage.buildTimeLine();
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
</script>