<form class="aui">
	#parse("templates/filter/timeFilter.vm")
    #parse("templates/filter/knowledgeTypeFilter.vm")
    #parse("templates/filter/statusFilter.vm")
    <input class="text medium-long-field" id="time-search-input"
           placeholder="$i18n.getText('condec.filter.label')"/>
    <input type="button" id="filter-button-time" class="aui-button aui-button-primary" value="Filter"/>
</form>
<div class="aui-group">
    <div id="evolution-timeline"></div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if(window.conDecEvolutionPage.init(conDecAPI, conDecObservable)) {
            conDecAPI.checkIfProjectKeyIsValid();
            window.conDecEvolutionPage.buildTimeLine();
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
</script>