<form class="aui">
	#set ($datepickerStartId = "start-date-picker-chronology")
	#set ($datepickerEndId = "end-date-picker-chronology")
	#parse("templates/filter/creationDate.vm")
	
	#set ($knowledgeTypeDropdownId = "knowledge-type-dropdown-chronology")	
    #parse("templates/filter/knowledgeType.vm")
    
    #set ($statusDropdownId = "status-dropdown-chronology")	
    #parse("templates/filter/status.vm")
    
    #set($select2-decision-group = "select2-decision-group-chronology")    
  	#parse("templates/filter/decisionGroup.vm") 
    
    #set ($textInputId = "search-input-chronology")
    #parse("templates/filter/text.vm")
    
    #set ($filterButtonId = "filter-button-chronology")
    #parse("templates/filter/filterButton.vm")
</form>
<div class="aui-group">
    <div id="evolution-timeline"></div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if (window.conDecEvolutionPage.init(conDecAPI, conDecObservable)) {
            conDecAPI.checkIfProjectKeyIsValid();
            var click = 0;
            AJS.$("#menu-item-chronology").on("click", function(event) {
            	if (click === 0) {
            		window.conDecEvolutionPage.buildTimeLine();
            	}
            	click++;
    		});            
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
    
</script>