<div>
	<form class="aui">
		<div>
        	#set ($textInputId = "jstree-search-input-code")
        	#parse("templates/filter/text.vm")

            #set($select2-decision-group = "select2-code-decision-group")
            #parse("templates/filter/decisionGroup.vm")
            
            <label for="min-number-linked-issues-input">Linked Issues Min:</label>
            <input type="number" id="min-number-linked-issues-input" value="1" min="1"
                   class="text short-field"/>
            <label for="max-number-linked-issues-input"> Max:</label>
            <input type="number" id="max-number-linked-issues-input" value="100" min="1"
                   class="text short-field"/>
            
            <label for="show-without-elements-input">Show Issues without Knowledge Elements:</label>
            <input class="checked" type="checkbox" id="show-without-elements-input" onclick="checkBoxClicked()"
                   checked/>
            
            #set ($linkDistanceInputId = "link-distance-input-code")
            #parse("templates/filter/linkDistance.vm")
        </div>
    </form>
</div>
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="code-class-tree"></div>
    </div>
    <div id="treant-container-class" class="right"></div>
</div>
<script>
    /*
     * Instantiate the ConDecCodeClassPage object controlling this view:
     */
    $(document).ready(function () {
        conDecAPI.checkIfProjectKeyIsValid();
        if (window.ConDecCodeClassPage.init(conDecAPI, conDecObservable, conDecDialog, conDecContextMenu, conDecTreant, conDecTreeViewer)) {
            window.ConDecCodeClassPage.fetchAndRender();
        } else {
            console.error("ConDecCodeClassPage could not get its dependencies.");
        }
    });

    $("#select2-code-decision-group").on("change.select2", function (e) {
        conDecObservable.notify();
    });

    $("#min-number-linked-issues-input").on("change.select2", function (e) {
        conDecObservable.notify();
    });

    $("#max-number-linked-issues-input").on("change.select2", function (e) {
        conDecObservable.notify();
    });

    function checkBoxClicked() {
        conDecObservable.notify();
    }

</script>