<form class="aui">
    <label for="start-data-picker-compare">$i18n.getText("condec.startdatepicker")<span
            class="aui-icon icon-required"></span>
    </label>
    <input id="start-data-picker-compare" type="date"/>
    <label for="end-data-picker-compare">$i18n.getText("condec.enddatepicker")<span
            class="aui-icon icon-required"></span>
    </label>
    <input id="end-data-picker-compare" type="date"/>
    <input class="text medium-long-field" id="compare-search-input"
           placeholder="$i18n.getText('condec.filter.label')"/>
    <input type="button" id="filter-button-compare" class="aui-button aui-button-primary" value="Filter"/>
</form>
<div class="aui-group">
    <div id="left-network" class="aui-item">
        <h1>Current Date</h1>
    </div>
    <div id="right-network" class="aui-item">
        <h1>Selected Time</h1>
    </div>
</div>
<style type="text/css">
    #right-network{
        width: 500px;
        height: 400px;
    }
</style>
<style type="text/css">
    #left-network{
        width: 500px;
        height: 400px;
    }
</style>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if(window.conDecEvolutionPage.init(conDecAPI, conDecObservable, conDecVis)) {
            conDecAPI.checkIfProjectKeyIsValid();
            window.conDecEvolutionPage.buildCompare();
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
</script>