<form class="aui">
	#set ($viewIdentifier = "comparison")	
	<!-- filter criteria for both sides -->
	#parse("templates/filter/text.vm")
	#parse("templates/filter/knowledgeType.vm")
	#parse("templates/filter/linkType.vm")
    #parse("templates/filter/status.vm")
    #parse("templates/filter/decisionGroup.vm")
    #parse("templates/filter/degree.vm")
	#parse("templates/filter/isDecisionKnowledgeOnly.vm")
    #parse("templates/filter/filterButton.vm")
</form>
<div class="aui-group">
    <div  class="aui-item">
    	<!-- filter criteria for the left side -->
    	#parse("templates/filter/creationDate.vm")
        <div id="left-network"></div>
    </div>
    <div class="aui-item">
    	<!--  filter criteria for the right side -->
    	#set ($viewIdentifier = "comparison-right")	
    	#parse("templates/filter/creationDate.vm")
        <div id="right-network"></div>
    </div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if(window.conDecEvolutionPage.init(conDecAPI, conDecObservable, conDecVis)) {
            conDecAPI.checkIfProjectKeyIsValid();
            var click = 0;
        	AJS.$("#menu-item-comparison").on("click", function(event) {
        		if (click === 0) {
        			window.conDecEvolutionPage.buildCompare();
        		}
        		click++;
        	});             
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
</script>