<form class="aui">
	#set ($knowledgeTypeDropdownId = "knowledge-type-dropdown-comparison")
	#parse("templates/filter/knowledgeType.vm")

	#set ($statusDropdownId = "status-dropdown-comparison")	
    #parse("templates/filter/status.vm")

    #set ($textInputId = "search-input-comparison")
    #parse("templates/filter/text.vm")

    #set ($filterButtonId = "filter-button-comparison")
    #parse("templates/filter/filterButton.vm")
</form>
<div class="aui-group">
    <div  class="aui-item">
    	#set ($datepickerStartId = "start-date-picker-comparison")
    	#set ($datepickerEndId = "end-date-picker-comparison")
    	#parse("templates/filter/creationDate.vm")
        <div id="left-network"></div>
    </div>
    <div class="aui-item">
    	#set ($datepickerStartId = "start-date-picker-comparison-right")
    	#set ($datepickerEndId = "end-date-picker-comparison-right")
    	#parse("templates/filter/creationDate.vm")
        <div id="right-network"></div>
    </div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if(window.conDecEvolutionPage.init(conDecAPI, conDecObservable, conDecVis)) {
            conDecAPI.checkIfProjectKeyIsValid();
            var click = 0;
        	AJS.$("#menu-item-comparison").on("click", function(event) {
        		if (click === 0) {
        			window.conDecEvolutionPage.buildCompare();
        		}
        		click++;
        	});             
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
</script>