<aui-dropdown-menu id="condec-context-menu">
    <aui-section id="condec-context-menu-section">
        <aui-item-link href="http://amazon.com">Amazon</aui-item-link>
        <aui-item-link href="http://apple.com">Apple</aui-item-link>
    </aui-section>
</aui-dropdown-menu>