$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:report-resources")

<h3>
	$i18n.getText("condec.jira.project"): $projectName
</h3>
<!--
Three types of charts are supported thus far:
* boxplot, which expect [category,decKnowKeysList] entries provided to them.
  The decKnowKeysList point to decision knowledge elements and can be counted
  to get occurrences in the category.
* piechartRich, which expect [category,decKnowKeysList] entries provided to them.
* piechartInteger, which expect[category,#occurrences] entries provided to them.
-->

<div>
	<div id="boxplot-CommentsPerJiraIssue" class="notsetyet boxplot"></div>
	<div id="boxplot-CommitsPerJiraIssue" class="notsetyet boxplot"></div>
	<div id="boxplot-DecisionsPerJiraIssue" class="notsetyet boxplot"></div>
	<div id="boxplot-IssuesPerJiraIssue" class="notsetyet boxplot"></div>
	<div id="boxplot-LinkDistanceFromIssue" class="notsetyet boxplot"></div>
	<div id="boxplot-LinkDistanceFromAlternative" class="notsetyet boxplot"></div>
	<div id="boxplot-LinkDistanceFromDecision" class="notsetyet boxplot"></div>
</div>

<div class="report completeness">
<p>Rationale completeness metrics</p>
	<div id="piechartRich-IssuesSolvedByDecision" class="notsetyet piechart"></div>
	<div id="piechartRich-DecisionsSolvingIssues" class="notsetyet piechart"></div>
	<div id="piechartRich-ConArgumentDocumentedForAlternative" class="notsetyet piechart"></div>
	<!--<div id="piechartRich-ConArgumentDocumentedForDecision" class="notsetyet piechart"></div>-->
	<!--<div id="piechartRich-ProArgumentDocumentedForAlternative" class="notsetyet piechart"></div>-->
	<div id="piechartRich-ProArgumentDocumentedForDecision" class="notsetyet piechart"></div>
</div>

<div class="report inconsistency">
<p>Inconsistencies in decision making</p>
	<div id="piechartRich-IssuesSolvedByManyDecisions" class="notsetyet piechart"></div>
	<!--<div id="piechartRich-DecisionsMadeWithFewerProArguments" class="notsetyet piechart"></div>
	<div id="piechartRich-AlternativesRejectedWithFewerConArguments" class="notsetyet piechart"></div>-->
</div>

<div class="report general">
<p>Basic statistics</p>
	<div id="piechartRich-DecisionDocumentedForSelectedJiraIssue" class="notsetyet piechart"></div>
	<div id="piechartRich-IssueDocumentedForSelectedJiraIssue" class="notsetyet piechart"></div>
	<div id="piechartInteger-RelevantSentences" class="notsetyet piechart"></div>
	<div id="piechartInteger-KnowledgeTypeDistribution" class="notsetyet piechart"></div>
</div>

<script type="text/javascript">
// initialize charts
#set($title="")
#foreach ($name in $chartNamesAndPurpose.keySet())
#set($purpose=$chartNamesAndPurpose.get("$name"))
#set($data=$chartNamesAndData.get("$name"))
dataMap = new Map();
#foreach ($dataName in $data.keySet())
dataMap.set("$dataName", "$data.get("$dataName")");
#end
conDecReport.initializeChart("$name","$title", "$purpose", dataMap);
#end
conDecReport.setJiraBaseUrl("$jiraBaseUrl")
</script>

<!-- TODO: replace with AUI-styled or other with plugin consistent overlay implementations -->
<div id="decKnowElementsOverlay" class="hidden overlay">
	<div class="box">
		<h1>
			Involved decision knowledge elements:
		</h1>
		<div id="extractedDecKnowElements" class="contents">
		</div>
	</div>
</div>