#set($codeFileName = $request.getParameter("codeFileName"))
#set($knowledgeType = $request.getParameter("type"))
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")

<div class="aui-tabs horizontal-tabs" id="knowledge-page-tabs">
	<ul class="tabs-menu">
		<li #if(!$codeFileName && !$knowledgeType) class="menu-item active-tab" #else class="menu-item" #end id="menu-item-rationale-backlog">
    		<a href="#rationale-backlog-tab">$i18n.getText('condec.label.rationale.backlog')</a>
    	</li>
    	<li #if($codeFileName || $knowledgeType) class="menu-item active-tab" #else class="menu-item" #end id="menu-item-overview">
        	<a href="#overview-tab">Overview</a>
        </li>
        <li class="menu-item" id="menu-item-graph">
        	<a href="#graph-tab">$i18n.getText('condec.label.relationshipGraph')</a>
        </li>
        <li class="menu-item" id="menu-item-chronology">
        	<a href="#chronology-tab">$i18n.getText('condec.label.evolution')</a>
        </li>
        <li class="menu-item" id="menu-item-comparison">
        	<a href="#comparison-tab">$i18n.getText('condec.label.compare')</a>
        </li>
        <li class="menu-item" id="menu-item-criteria-matrix">
        	<a href="#criteria-matrix-tab">$i18n.getText('condec.label.criteria.matrix')</a>
        </li>
        <li class="menu-item" id="menu-item-adjacency-matrix">
        	<a href="#adjacency-matrix-tab">$i18n.getText('condec.label.adjacency.matrix')</a>
        </li>        
        <li class="menu-item" id="menu-item-git">
            <a href="#git-tab">$i18n.getText('condec.knowledge.in.git')</a>
        </li>
        <li class="menu-item" id="menu-item-groups">
        	<a href="#decision-groups-tab">Decision Groups</a>
        </li>
        <li class="menu-item" id="menu-item-text-classification">
            <a href="#text-classification-tab">$i18n.getText('condec.project.settings.menu.item.classification')</a>
        </li>        
        <li class="menu-item" id="menu-item-link-recommendation">
			<a href="#link-recommendation-tab">$i18n.getText('condec.link.recommendation')</a>
		</li>
		<li class="menu-item" id="menu-item-decision-guidance">
            <a href="#decision-guidance-tab">$i18n.getText('condec.decision.guidance')</a>
        </li>
	</ul>
	<div #if(!$codeFileName && !$knowledgeType) class="tabs-pane active-pane" #else class="tabs-pane" #end id="rationale-backlog-tab">
    	#parse("templates/tabs/rationaleBacklog.vm")
    </div>
    <div #if($codeFileName || $knowledgeType) class="tabs-pane active-pane" #else class="tabs-pane" #end id="overview-tab">
        #parse("templates/tabs/overview.vm")
    </div>
    <div class="tabs-pane" id="graph-tab">
        #parse("templates/tabs/visGraph.vm")
    </div>
    <div class="tabs-pane" id="chronology-tab">
        #parse("templates/tabs/chronology.vm")
    </div>
    <div class="tabs-pane" id="comparison-tab">
        #parse("templates/tabs/comparison.vm")
    </div>
    <div class="tabs-pane" id="criteria-matrix-tab">
		#parse("templates/tabs/decisiontable/view.vm")
	</div>
    <div class="tabs-pane" id="adjacency-matrix-tab">
        #parse("templates/tabs/matrix/view.vm")
    </div>
    <div class="tabs-pane" id="git-tab">
        #parse("templates/tabs/knowledgeInGit.vm")
    </div>
    <div class="tabs-pane" id="decision-groups-tab">
        #parse("templates/tabs/decisionGroups.vm")
    </div>
    <div class="tabs-pane" id="text-classification-tab">
        #set ($viewIdentifier = "decision-knowledge-page")
        #parse("templates/tabs/textClassification.vm")
    </div>
    <div class="tabs-pane" id="link-recommendation-tab">
		#parse("templates/tabs/recommendation/linkRecommendation.vm")
	</div>
	<div class="tabs-pane" id="decision-guidance-tab">
        #parse("templates/tabs/recommendation/decisionGuidance.vm")
    </div>
</div>
#parse("templates/contextMenu.vm")
#parse("templates/dialogs/knowledgeManagementDialogs.vm")