$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")

<div class="aui-tabs horizontal-tabs" id="knowledge-page-tabs">
	<ul class="tabs-menu">
		<li class="menu-item active-tab" id="menu-item-rationale-backlog">
    		<a href="#rationale-backlog-tab">$i18n.getText('condec.label.rationale.backlog')</a>
    	</li>
        <li class="menu-item" id="menu-item-overview">
            <a href="#overview-tab">Overview</a>
        </li>
        <li class="menu-item" id="menu-item-graph">
        	<a href="#graph-tab">$i18n.getText('condec.label.relationshipGraph')</a>
        </li>
        <li class="menu-item" id="menu-item-chronology">
            <a href="#chronology-tab">$i18n.getText('condec.label.evolution')</a>
        </li>
        <li class="menu-item" id="menu-item-comparison">
            <a href="#comparison-tab">$i18n.getText('condec.label.compare')</a>
        </li>
        <li class="menu-item" id="menu-item-matrix">
            <a href="#matrix-tab">$i18n.getText('condec.label.matrix')</a>
        </li>
        <li class="menu-item" id="menu-item-groups">
            <a href="#decision-groups-tab">Decision Groups</a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="rationale-backlog-tab">
    	#parse("templates/tabs/rationaleBacklog.vm")
    </div>
    <div class="tabs-pane" id="overview-tab">
        #parse("templates/tabs/overview.vm")
    </div>
    <div class="tabs-pane" id="graph-tab">
        #parse("templates/tabs/visGraph.vm")
    </div>
    <div class="tabs-pane" id="chronology-tab">
        #parse("templates/tabs/chronology.vm")
    </div>
    <div class="tabs-pane" id="comparison-tab">
        #parse("templates/tabs/comparison.vm")
    </div>
    <div class="tabs-pane" id="matrix-tab">
        #parse("templates/tabs/matrix.vm")
    </div>
    <div class="tabs-pane" id="decision-groups-tab">
        #parse("templates/tabs/decisionGroups.vm")
    </div>
</div>
#parse("templates/dialogs/createDialog.vm")
#parse("templates/dialogs/assignDialog.vm")
#parse("templates/dialogs/editDialog.vm")
#parse("templates/dialogs/deleteDialog.vm")
#parse("templates/dialogs/deleteLinkDialog.vm")
#parse("templates/dialogs/renameGroupDialog.vm")
#parse("templates/dialogs/deleteGroupDialog.vm")
#parse("templates/dialogs/linkDialog.vm")
#parse("templates/dialogs/changeTypeDialog.vm")
#parse("templates/dialogs/changeStatusDialog.vm")
#parse("templates/dialogs/summarizationDialog.vm")
#parse("templates/dialogs/exportDialog.vm")
#parse("templates/contextMenu.vm")