<section id="dialog" class="aui-dialog2 aui-dialog2-medium aui-layer"
	role="dialog" aria-hidden="true">
	<header class="aui-dialog2-header">
		<h2 id="dialog-header" class="aui-dialog2-header-main"></h2>
		<a class="aui-dialog2-header-close"> <span
			class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
		</a>
	</header>
	<div id="dialog-content" class="aui-dialog2-content"></div>
	<footer class="aui-dialog2-footer">
		<div class="aui-dialog2-footer-actions">
			<button id="dialog-extension-button" class="aui-button">Extended
				Editor</button>
			<button id="dialog-submit-button"
				class="aui-button aui-button-primary">Do it!</button>
			<button id="dialog-cancel-button" class="aui-button aui-button-link">Cancel</button>
		</div>
	</footer>
</section>