<html>
<head>
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:treant-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:rest-client-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-management-resources")
</head>
<body>
	<form class="aui">
		<div>
			<input type="text"
				class="equal-margin-regulator text medium-long-field"
				id="decision-input-field" placeholder="Insert new decision">
			<input type="button" id="create-decision-button"
				class="button submit equal-margin-regulator" value="Create Decision" />
			<label for="depth-of-tree-input">Depth of Tree<span
				class="aui-icon icon-required"></span></label> <input type="number"
				id="depth-of-tree-input" value="4" min="1"
				class="text short-field equal-margin-regulator "
				placeholder="Enter depth of tree..."> <label
				for="depth-of-tree-input" id="depth-of-tree-warning">Depth
				must be positive</label>
			<div>
				<div>
					<input
						class="search-input form-control equal-margin-regulator text long-field"
						id="jstree-search-input" placeholder="Search decision knowledge">
				</div>
				<div id="switch-wrapper" class="equal-margin-regulator ">
					<div class="switch-on-click" id="view-editor">Editor</div>
					<div class="switch-on-click" id="view-tree">Tree</div>
				</div>
			</div>
			<div>
				<div>
					<div id="evts" class="demo equal-margin-regulator "></div>
				</div>
				<div>
					<div id="container" class="equal-margin-regulator ">
						<dl>
							<dt class="editor-header">
								Details<a href="#" id="button" class="closed">Details</a>
							</dt>
							<dd class="foldout" id="Details">No Element has been
								selected</dd>
							<script>
							var knowledgeTypes = getKnowledgeTypes();
							var html = "";
							for (i in knowledgeTypes) {
							html += "<dt class='editor-header'>";
							html +=	knowledgeTypes[i];
							html += "s<a href='#' id='button' class='closed'>Details</a></dt><dd class='foldout' id='";
							html += knowledgeTypes[i];
							html += "'>No Element has been selected</dd>";
								}
							document.getElementById("Details").insertAdjacentHTML('afterend', html);
							</script>
							<dt class="editor-header">
								Arguments<a href="#" id="button" class="closed">Details</a>
							</dt>
							<dd class="foldout" id="Argument">No Element has been
								selected</dd>
						</dl>
					</div>
					<div class="chart equal-margin-regulator" id="treant-container">
						<p>No Element has been selected</p>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- The Modal -->
	<div id="context-menu-modal" class="modal">
		<div class="modal-wrapper">
			<div class="modal-header">
				<h2 id="modal-header">
					<span id="context-menu-header"></span> <span id="modal-close-x"
						class="modal-close" style="float: right;">&times;</span>
				</h2>
				<hr>
			</div>
			<div id="modal-content"></div>
		</div>
	</div>
	<script>
			initializeSite();
	</script>
</body>
</html>