<html>
<head>
<meta name="decorator" content="DecisionDocumentation" />
<!-- load all dependencies -->
$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.documentation.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.documentation.jira:decision-documentation-resources")
<!--$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")-->
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-flag")
</head>
<body>
	<div>
		<input type="text" id="DecisionInputField"
			class="equalMarginRegulator" placeholder="Insert new decision">
		<input type="button" name="CreateDecision" id="CreateDecision"
			class="equalMarginRegulator" value="Create Decision" /> <label
			for="depthOfTreeInput">Depth of Tree</label> <input type="number"
			id="depthOfTreeInput" value="4" min="1" class="equalMarginRegulator"
			placeholder="Enter depth of tree..."> <label
			for="depthOfTreeInput" id="DepthOfTreeWarning">Depth must be
			positive</label>
		<div>
			<div>
				<input class="search-input form-control equalMarginRegulator"
					id="jstree-search-input" placeholder="Search decision knowledge">
			</div>
			<div id="switch-wrapper" class="equalMarginRegulator">
				<div class="switch-on-click" id="view-editor">Editor</div>
				<div class="switch-on-click" id="view-tree">Tree</div>
			</div>
		</div>
		<div>
			<div>
				<div id="evts" class="demo equalMarginRegulator"></div>
			</div>
			<div>
				<div id="container" class="equalMarginRegulator">
					<dl>
						<dt class="editorheader">
							Details<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Details">No Element has been
							selected</dd>
						<dt class="editorheader">
							Problems<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Problem">No Element has been
							selected</dd>
						<dt class="editorheader">
							Issues<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Issue">No Element has been
							selected</dd>
						<dt class="editorheader">
							Goals<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Goal">No Element has been
							selected</dd>
						<dt class="editorheader">
							Solutions<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Solution">No Element has been
							selected</dd>
						<dt class="editorheader">
							Alternatives<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Alternative">No Element has been
							selected</dd>
						<dt class="editorheader">
							Claims<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Claim">No Element has been
							selected</dd>
						<dt class="editorheader">
							Contexts<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Context">No Element has been
							selected</dd>
						<dt class="editorheader">
							Assumptions<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Assumption">No Element has been
							selected</dd>
						<dt class="editorheader">
							Constraints<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Constraint">No Element has been
							selected</dd>
						<dt class="editorheader">
							Implications<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Implication">No Element has been
							selected</dd>
						<dt class="editorheader">
							Assessments<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Assessment">No Element has been
							selected</dd>
						<dt class="editorheader">
							Arguments<a href="#" id="button" class="closed">Details</a>
						</dt>
						<dd class="foldout" id="Argument">No Element has been
							selected</dd>
					</dl>
				</div>
				<div class="chart equalMarginRegulator" id="treant-container">
					<p>No Element has been selected</p>
				</div>
			</div>
		</div>
	</div>
	<!-- The Modal -->
	<div id="ContextMenuModal" class="modal">
		<div class="modal-wrapper">
			<div class="modal-header">
				<h2 id="modal-header">
					<span id="modal-close-x" class="modal-close" style="float: right;">&times;</span>
				</h2>
				<hr>
			</div>
			<div id="modal-content"></div>
		</div>
	</div>
	<script>
			initializeSite();
		</script>
</body>
</html>