<button aria-controls="linktype-dropdown" class="aui-button aui-style-default aui-dropdown2-trigger" aria-haspopup="true">
	LinkTypes
</button>
<aui-dropdown-menu id="linktype-dropdown"></aui-dropdown-menu>

<input class="text medium-long-field" id="decision-search-input"
       placeholder="$i18n.getText('condec.filter.label')"/>

<button class="aui-button aui-button-primary" id="filterDecisionLinks-button">
	<span class="aui-icon aui-icon-small aui-iconfont-search"></span> Filter
</button>