$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")

<div class="aui-tabs horizontal-tabs" id="jira-issue-tabs" data-aui-persist="username">
	<ul class="tabs-menu">
		<li class="menu-item" id="menu-item-jstree">
			<a href="#jstree-tab" title="jsTree">
				Tree Visualization 
				<span class="aui-icon aui-icon-small aui-iconfont-more-vertical"></span>
			</a>
		</li>
		<li class="menu-item" id="menu-item-treant">
			<a href="#treant-tab" title="Treant">
				Tree Visualization
				<span class="aui-icon aui-icon-small aui-iconfont-more"></span>
			</a>
		</li>
		<li class="menu-item active-tab" id="menu-item-graph">
			<a href="#graph-tab" title="vis.js">Graph Visualization</a>
		</li>
		<li class="menu-item" id="menu-item-decision-table">
			<a href="#decision-table-tab">Decision Table</a>
		</li>
		<li class="menu-item" id="menu-item-feature-branches" data-condec="feature-branches-item">
			<a href="#feature-branches-tab">Feature branch(es)</a>
		</li>
		<li class="menu-item" id="menu-item-matrix">
    		<a href="#matrix-tab">$i18n.getText('condec.label.matrix')</a>
    	</li>
		<li class="menu-item" id="menu-item-related-knowledge">
			<a href="#related-knowledge-elements-tab">Related knowledge</a>
		</li>
		<li class="menu-item" id="menu-item-duplicates">
			<a href="#duplicates-tab">Duplicate knowledge</a>
		</li>
		<li class="menu-item" id="menu-item-chronology">
			<a href="#chronology-tab">$i18n.getText('condec.label.evolution')</a>
		</li>
	</ul>
	<div class="tabs-pane" id="jstree-tab">
		#parse("templates/tabs/jstree.vm")
	</div>
	<div class="tabs-pane" id="treant-tab">
		#parse("templates/tabs/treant.vm")
	</div>
	<div class="tabs-pane active-pane" id="graph-tab">
		#parse("templates/tabs/visGraph.vm")
	</div>
	<div class="tabs-pane" id="related-knowledge-elements-tab">
		#parse("templates/tabs/relatedKnowledgeElements.vm")
	</div>
	<div class="tabs-pane" id="decision-table-tab">
		#parse("templates/tabs/decisiontable/view.vm")
	</div>
	<div class="tabs-pane" id="feature-branches-tab">
		#parse("templates/tabs/featureBranches.vm")
	</div>
	<div class="tabs-pane" id="matrix-tab">
        #parse("templates/tabs/matrix/view.vm")
    </div>
	<div class="tabs-pane" id="duplicates-tab">
		#parse("templates/tabs/duplicates.vm")
	</div>
	<div class="tabs-pane" id="chronology-tab">
        #parse("templates/tabs/chronology.vm")
    </div>
</div>
#parse("templates/contextMenu.vm")
#parse("templates/dialogs/knowledgeManagementDialogs.vm")

<script>
$(document).ready(function () {
	conDecAPI.checkIfProjectKeyIsValid();      
	conDecExport.addOnClickEventToExportAsTable();

	// Add event listener to menu items in "More" menu
	conDecContextMenu.addContextMenuToCommentTabPanel();

	var resetDecisionKnowledgeFromTextMenuItem = document.getElementById("reset-decision-knowledge-from-text-link");
	resetDecisionKnowledgeFromTextMenuItem.addEventListener("click", function(event) {
		event.preventDefault();
		event.stopPropagation();
		if (confirm("Are you sure you want to reset the decision knowledge elements extracted from the description and comments of this Jira issue? " 
			+ "This will reset all links in the knowledge graph of these elements.")) {
				conDecAPI.resetDecisionKnowledgeFromText(JIRA.Issue.getIssueId(), function() {
					conDecObservable.notify();
				});
			}
	});

	var resetRecommendationFromKnowledgeElement = document.getElementById("reset-recommendation-from-knowledge-element-link");
	resetRecommendationFromKnowledgeElement.addEventListener("click", function(event) {
		event.preventDefault();
		event.stopPropagation();
		if (confirm("Are you sure you want to reset the recommendation for this Jira issue? "
			+ "This will reset recommendations links in the knowledge graph of these elements.")) {
				conDecAPI.resetRecommendationForKnowledgeElement(JIRA.Issue.getIssueId(), function() {
					conDecObservable.notify();
				});
			}
	});

});
</script>