$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:jira-issue-module-resources")

<div class="aui-tabs horizontal-tabs" id="visualization-selection-tabs" data-aui-persist="username">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#treant">Tree Visualization</a>
        </li>
        <li class="menu-item">
            <a href="#vis">Graph Visualization</a>
        </li>
        <li class="menu-item" data-condec="feature-branches-item">
            <a href="#featureBranchesTab">Feature branch(es)</a>
        </li>
        <li class="menu-item">
            <a href="#class-treant">Connected Java-Classes</a>
        </li>
        <li class="menu-item">
            <a href="#related-issues-tab">Related issues</a>
        </li>
        <li class="menu-item">
            <a href="#duplicate-issues-tab">Duplicate issues</a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="treant">
        <div class="aui-toolbar2" role="toolbar">
            <div class="aui-toolbar-2-inner" id="treant-filter">
                <form class="aui">
                    <label for="show-elements-input">Show Linked Jira Issues:</label>
                    <input class="checked" type="checkbox" checked="true" value="true" id="show-elements-input"
                           onclick="applyCheckFilter()"/>
                </form>
            </div>
        </div>
        <div style="height: auto" id="treant-container"></div>
    </div>
    <div class="tabs-pane" id="vis">
        <div class="aui-toolbar2" role="toolbar">
            <div class="aui-toolbar-2-inner">
                #parse("templates/filter/filter.vm")
            </div>
        </div>
        <div id="vis-container"></div>
    </div>
    <div class="tabs-pane" id="featureBranchesTab">
        <div class="branchRationaleFilterPanel hidden">
            <label>Issues: <input type="checkbox" checked=true class="branchRationaleFilter" value="issue"/>
            </label>
            <label>Decisions: <input type="checkbox" checked=true class="branchRationaleFilter" value="decision"/>
            </label>
            <label>Alternative: <input type="checkbox" checked=true class="branchRationaleFilter" value="alternative"/>
            </label>
            <label>Pro: <input type="checkbox" checked=true class="branchRationaleFilter" value="pro"/>
            </label>
            <label>Con: <input type="checkbox" checked=true class="branchRationaleFilter" value="con"/>
            </label>
        </div>
        <div id="featureBranches-container">
        </div>
    </div>
    <div class="tabs-pane" id="class-treant">
        #parse("templates/tabs/classTreantTab.vm")
    </div>
    <div class="tabs-pane" id="related-issues-tab">
        #parse("templates/tabs/relatedIssuesTab.vm")
    </div>
    <div class="tabs-pane" id="duplicate-issues-tab">
        #parse("templates/tabs/duplicatesTab.vm")
    </div>
</div>

#parse("templates/dialogs/createDialog.vm")
#parse("templates/dialogs/editDialog.vm")
#parse("templates/dialogs/deleteDialog.vm")
#parse("templates/dialogs/deleteLinkDialog.vm")
#parse("templates/dialogs/assignDialog.vm")
#parse("templates/dialogs/linkDialog.vm")
#parse("templates/dialogs/changeTypeDialog.vm")
#parse("templates/dialogs/changeStatusDialog.vm")
#parse("templates/dialogs/summarizationDialog.vm")
#parse("templates/dialogs/exportDialog.vm")
#parse("templates/dialogs/consistencyCheckDialog.vm")

#parse("templates/contextMenu.vm")

<script>
    /*
     * Instantiate the ConDecJiraIssueModule object controlling this view:
     */
    $(document).ready(function () {
        conDecAPI.checkIfProjectKeyIsValid();

        consistencyTabsModule.init();
        if (window.conDecJiraIssueModule.init(conDecAPI, conDecObservable, conDecDialog, conDecContextMenu, conDecTreant,
                conDecVis)) {

            // set REST caching
            if (!localStorage.getItem("condec.restCacheTTL")) {
                localStorage.setItem("condec.restCacheTTL", 5 * 60 * 1000) // 5 minute
                // cache
            }

            // is this a demonstration case?
            if (localStorage.getItem("condec-skipIssueViewAutostart")) {
                console.log("conDecJiraIssueModule.initView() was deliberately not started!")
                return;
            }
            window.conDecJiraIssueModule.initView();

            // do not lock page load
            setTimeout(500, getBranchesDiff())
        } else {
            console.error("ConDecJiraIssueModule could not get its dependencies.");
        }
    });

    function filter() {
        window.conDecJiraIssueModule.applyClassViewFilters();
    }

    function applyCheckFilter() {
        localStorage.setItem("checkbox", document.getElementById("show-elements-input").checked);
        window.conDecJiraIssueModule.applyTreeVisFilters();

    }

</script>