$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:jira-issue-module-resources")

<div class="aui-tabs horizontal-tabs" id="visualization-selection-tabs" data-aui-persist="username">
   <ul class="tabs-menu" id="visualization-selection-tabs-menu">
      <li class="menu-item active-tab">
         <a href="#treant">Tree Visualization</a>
      </li>
      <li class="menu-item">
         <a href="#vis">Graph Visualization</a>
      </li>
      <li class="menu-item">
         <a href="#decisionTable">Decision Table</a>
      </li>
      <li class="menu-item" data-condec="feature-branches-item">
         <a href="#featureBranchesTab">Feature branch(es)</a>
      </li>
      <li class="menu-item">
         <a href="#class-treant">Connected Java-Classes</a>
      </li>
      <li class="menu-item">
         <a href="#related-issues-tab">Related knowledge</a>
      </li>
      <li class="menu-item">
         <a href="#duplicate-issues-tab">Duplicate knowledge</a>
      </li>
   </ul>
   <div class="tabs-pane active-pane" id="treant">
      <div class="aui-toolbar2" role="toolbar">
         <div class="aui-toolbar-2-inner" id="treant-filter">
            <form class="aui">
               #set ($linkDistanceInputId = "link-distance-input")	
               #parse("templates/filter/linkDistance.vm")
               #parse("templates/filter/isDecisionKnowledgeOnly.vm")
            </form>
         </div>
      </div>
      <div style="height: auto" id="treant-container"></div>
   </div>
   <div class="tabs-pane" id="vis">
      <div class="aui-toolbar2" role="toolbar">
         <div class="aui-toolbar-2-inner">
            #parse("templates/filter/filter.vm")
         </div>
      </div>
      <div id="vis-container"></div>
   </div>
   <div class="tabs-pane" id="featureBranchesTab">
      <div class="branchRationaleFilterPanel hidden">
         <label>Issues: <input type="checkbox" checked=true class="branchRationaleFilter" value="issue"/>
         </label>
         <label>Decisions: <input type="checkbox" checked=true class="branchRationaleFilter" value="decision"/>
         </label>
         <label>Alternative: <input type="checkbox" checked=true class="branchRationaleFilter" value="alternative"/>
         </label>
         <label>Pro: <input type="checkbox" checked=true class="branchRationaleFilter" value="pro"/>
         </label>
         <label>Con: <input type="checkbox" checked=true class="branchRationaleFilter" value="con"/>
         </label>
      </div>
      <div id="featureBranches-container">
      </div>
   </div>
   <div class="tabs-pane" id="class-treant">
      #parse("templates/tabs/classTreantTab.vm")
   </div>
   <div class="tabs-pane" id="related-issues-tab">
      #parse("templates/tabs/relatedIssuesTab.vm")
   </div>
   <div class="tabs-pane" id="decisionTable">
      <div class="aui-toolbar2" role="toolbar">
         <div class="aui-toolbar-2-inner">
            <form class="aui">
               <div>
                  <label for="selectDesionProblem">Issues: </label>
                  <select class="select medium-field" id="selectDesionProblem" name="selectDesionProblem">
                  </select>
                   	#set ($linkDistanceInputId = "link-distance-input-decision-table")	
               		#parse("templates/filter/linkDistance.vm")
               </div>
            </form>
				
            <div class="aui-buttons">
               <button class="aui-button" id="btnAddCriterion" title="Adds a new criterion column to decision table">
               <span class="aui-icon aui-icon-small aui-iconfont-new-edit">Adds a new criterion column to decision table</span>
               Criterion
               </button>
               
               <button class="aui-button" id="btnAddAlternative" title="Adds a new solution option to decision table">
               <span class="aui-icon aui-icon-small aui-iconfont-add">Adds a new solution option to decision table</span>
               Solution option
               </button>
               
			    <button class="aui-button aui-dropdown2-trigger" aria-owns="dropdown2-more" aria-haspopup="true">
			    Create argument for solution option
			    </button>
			    
			    <div id="dropdown2-more" class="aui-dropdown2 aui-style-default">
		            <ul class="aui-list-truncate" id="alternative-dropdown-items">
		            </ul>
		        </div>
			</div>
			<!-- Be sure to put your dropdown markup outside the button group...
			     otherwise the buttons will get jaggy edges! -->
			<aui-dropdown-menu id="split-container-dropdown">
			   
			</aui-dropdown-menu>
         </div>
      </div>
      <div style="height: auto; overflow-x: auto;" id="decisionTable-container"></div>
   </div>
   <div class="tabs-pane" id="duplicate-issues-tab">
      #parse("templates/tabs/duplicatesTab.vm")
   </div>
</div>
#parse("templates/dialogs/createDialog.vm")
#parse("templates/dialogs/editDialog.vm")
#parse("templates/dialogs/deleteDialog.vm")
#parse("templates/dialogs/deleteLinkDialog.vm")
#parse("templates/dialogs/assignDialog.vm")
#parse("templates/dialogs/linkDialog.vm")
#parse("templates/dialogs/changeTypeDialog.vm")
#parse("templates/dialogs/changeStatusDialog.vm")
#parse("templates/dialogs/summarizationDialog.vm")
#parse("templates/dialogs/exportDialog.vm")
#parse("templates/dialogs/editDecisionTableCriterionDialog.vm")
#parse("templates/contextMenu.vm")

<script>
    /*
     * Instantiate the ConDecJiraIssueModule object controlling this view:
     */
    $(document).ready(function () {
        conDecAPI.checkIfProjectKeyIsValid();

        consistencyTabsModule.init();
        if (window.conDecJiraIssueModule.init(conDecAPI, conDecObservable, conDecDialog, conDecContextMenu, conDecTreant,
                conDecVis, conDecDecisionTable)) {

            // set REST caching
            if (!localStorage.getItem("condec.restCacheTTL")) {
                localStorage.setItem("condec.restCacheTTL", 5 * 60 * 1000) // 5 minute
                // cache
            }

            // is this a demonstration case?
            if (localStorage.getItem("condec-skipIssueViewAutostart")) {
                console.log("conDecJiraIssueModule.initView() was deliberately not started!")
                return;
            }
            window.conDecJiraIssueModule.initView();

            // do not lock page load
            setTimeout(500, getBranchesDiff())
        } else {
            console.error("ConDecJiraIssueModule could not get its dependencies.");
        }
    });

</script>