<div>
<form class="aui">
    <input class="text medium-field" id="jstree-search-input"
           placeholder="$i18n.getText('condec.filter.label')"/>
    <select id="select-root-element-type" name="select-root-element-type"
            class="select short-field" onchange="conDecObservable.notify()"></select>
    <input type="text" class="text medium-field"
           id="element-input-field" placeholder="$i18n.getText('condec.create.label')"/>
    <input type="button" id="create-element-button"
           class="aui-button aui-button-primary" value="$i18n.getText('condec.button.create')"/>
           
	#set($select2-decision-group = "select2-decision-group")    
  	#parse("templates/filter/decisionGroup.vm")  
  	
  	#set ($statusDropdownId = "status-dropdown-overview")	
    #parse("templates/filter/status.vm")
  			
	#set ($linkDistanceInputId = "depth-of-tree-input")	
	#parse("templates/filter/linkDistance.vm")
    
</form>
</div>
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="jstree"></div>
    </div>
    <div id="treant-container" class="right"></div>
</div>
<script>
    /*
     * Instantiate the ConDecKnowledgePage object controlling this view:
     */
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if ( window.conDecKnowledgePage.init(conDecAPI, conDecObservable, conDecDialog, conDecContextMenu, conDecTreant, conDecTreeViewer) )
            window.conDecKnowledgePage.fetchAndRender();
        else {
            console.error("ConDecKnowledgePage could not get its dependencies.");
        }
    }); 
</script>