<html>
<head>
    <title>DecDoc Project Settings</title>

    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="atl.jira.proj.config"/>
    <meta name="admin.active.tab" content="decdoc-project-settings-activation"/>

</head>

<body>
    <h2>DecDoc Project Settings</h2>
    <p>This is only a Placeholder till the Page is finished</p>
</body>
</html>