<form class="aui">
	#set ($viewIdentifier = "rationale-backlog")
    #parse("templates/filter/text.vm")
    #parse("templates/filter/knowledgeType.vm")
    #parse("templates/filter/status.vm")
    #parse("templates/filter/creationDate.vm")
  	#parse("templates/filter/decisionGroup.vm")
	#parse("templates/filter/linkDistance.vm")
</form>
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="rationale-backlog-tree"></div>
    </div>
    <div id="treant-rationale-backlog" class="right"></div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
       if (window.conDecRationaleBacklog.init(conDecAPI, conDecObservable, conDecDialog, conDecContextMenu, conDecTreant, conDecTreeViewer)){
           conDecAPI.checkIfProjectKeyIsValid();
           window.conDecRationaleBacklog.fetchAndRender();
       }
       else {
           console.error("ConDecRationaleBacklog could not get its dependencies.");
       }
    });
</script>