<form class="aui">
    #set ($textInputId = "search-input-rationale-backlog")
    #parse("templates/filter/text.vm")

    #set ($knowledgeTypeDropdownId = "knowledge-type-dropdown-rationale-backlog")
    #parse("templates/filter/knowledgeType.vm")

    #set ($statusDropdownId = "status-dropdown-rationale-backlog")
    #parse("templates/filter/status.vm")

    #set ($datepickerStartId = "start-date-picker-rationale-backlog")
    #set ($datepickerEndId = "end-date-picker-rationale-backlog")
    #parse("templates/filter/creationDate.vm")

    #set($select2-decision-group = "select2-decision-group-rationale-backlog")
  	#parse("templates/filter/decisionGroup.vm")

	#set ($linkDistanceInputId = "link-distance-input-rationale-backlog")	
	#parse("templates/filter/linkDistance.vm")
</form>
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="rationale-backlog-tree"></div>
    </div>
    <div id="treant-rationale-backlog" class="right"></div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
       if (window.conDecRationaleBacklog.init(conDecAPI, conDecObservable, conDecDialog, conDecContextMenu, conDecTreant, conDecTreeViewer)){
           conDecAPI.checkIfProjectKeyIsValid();
           window.conDecRationaleBacklog.fetchAndRender();
       }
       else {
           console.error("ConDecRationaleBacklog could not get its dependencies.");
       }
    });

    $("#select2-decision-group-rb").on("change.select2", function (e) {
        conDecObservable.notify();
    });

    function checkBoxClicked() {
        conDecObservable.notify();
    }

</script>