$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
<form class="aui">
    <table class="aui" id="matrix" border="1"/>
    </table>
</form>

<br>
<br>

<div class='my-legend'>
    <div class='legend-title'>Relationships</div>
    <div class='legend-scale'>
        <ul class='legend-labels' id="legendList">
        </ul>
    </div>
</div>
<br>
<br>
<div class='my-legend'>
    <div class='legend-title'>Relationships</div>
    <div class='legend-scale'>
        <ul class='legend-labels' id="legendList">
        </ul>
    </div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if(window.conDecRelationshipMatrixPage.init(conDecAPI, conDecObservable)) {
            conDecAPI.checkIfProjectKeyIsValid();
            window.conDecRelationshipMatrixPage.buildMatrix();
            window.conDecRelationshipMatrixPage.buildLegend();
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
</script>