<div class="aui-group">
    <div class="aui-toolbar2" role="toolbar">
        <div class="aui-toolbar-2-inner">
        	<form class="aui">
        		#parse("templates/filter/linkType.vm")
        		
        		#set ($statusDropdownId = "status-dropdown-graph")	
        		#parse("templates/filter/status.vm")

        		#set ($textInputId = "decision-search-input")
        		#parse("templates/filter/text.vm")
        	
        		#set($select2-decision-group = "select2-decision-group-relationshipView")    
  				#parse("templates/filter/decisionGroup.vm") 
        	
        		#set ($filterButtonId = "filterDecisionLinks-button")
        		#parse("templates/filter/filterButton.vm")
        	</form>
        </div>
    </div>
    <div id="graph-container" class="graph"></div>
</div>

<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if(window.conDecRelationshipPage.init(conDecAPI, conDecObservable, conDecVis)) {
            conDecAPI.checkIfProjectKeyIsValid();
            window.conDecRelationshipPage.buildDecisionGraph();
        }
        else {
            console.error("ConDecRelationshipPage could not get its dependencies.");
        }
    });
</script>