<html>
    $webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
    $webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
<form class="aui">
    <table class="aui" id="matrix" border="1">
    <script>
        conDecAPI.getMatrixData(function (data) {
            buildMatrix(data);
        });

        function buildMatrix(data) {
            const matrix = document.getElementById("matrix");
            newTableHeaderElement(matrix, "");

            for (let d in data.matrixHeaderRow) {
                newTableHeaderElement(matrix, data.matrixHeaderRow[d]);
            }

            for (let d in data.matrixData){
                const row = data.matrixData[d];
                newTableRow(matrix, row);
            }
        }

        function newTableHeaderElement(matrix, text) {
            const tableColumn = document.createElement("th");
            tableColumn.innerText = text;
            matrix.appendChild(tableColumn);
        }

        function newTableRow(matrix, row) {
            matrix.appendChild(document.createElement("tr"));
            for (let d in row) {
                if (d == 0) {
                    newTableHeaderElement(matrix, row[d]);
                } else {
                    new newTableElement(matrix, row[d]);
                }
            }
        }

        function newTableElement(matrix, color) {
            const tableRowElement = document.createElement("td");
            tableRowElement.style.backgroundColor = color;
            matrix.appendChild(tableRowElement);
        }
    </script>
    </table>
</form>
</html>