<form class="aui">
	#set ($viewIdentifier = "matrix")
	#parse("templates/filter/text.vm")
    #parse("templates/filter/knowledgeType.vm")
    #parse("templates/filter/status.vm")
    #parse("templates/filter/linkType.vm")
	
    #set($select2-decision-group = "select2-decision-group-" + $viewIdentifier)    
    #parse("templates/filter/decisionGroup.vm")
        		
    #parse("templates/filter/degree.vm")
    #parse("templates/filter/isDecisionKnowledgeOnly.vm")
    #parse("templates/filter/creationDate.vm")	

    #parse("templates/filter/filterButton.vm")
</form>
<div class="container">
    <table class="aui aui-table-list" id="matrix"></table>
</div>
<div class='my-legend'>
    <div class='legend-title'>Relationship Types</div>
    <div class='legend-scale'>
        <ul class='legend-labels' id="legendList">
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if (window.conDecRelationshipMatrixPage.init(conDecAPI, conDecObservable)) {
            conDecAPI.checkIfProjectKeyIsValid();
            var click = 0;
        	AJS.$("#menu-item-matrix").on("click", function(event) {
        		if (click === 0) {
        			window.conDecRelationshipMatrixPage.buildMatrix();
                    window.conDecRelationshipMatrixPage.buildLegend();
        		}
        		click++;
        	});  
        }
        else {
            console.error("ConDecRelationshipMatrixPage could not get its dependencies.");
        }
    });
</script>