$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:release-note-page-resources")
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <h1>Release Notes</h1>
    <button class="aui-button" id="openCreateReleaseNoteDialogButton" onclick="addReleaseNote()" resolved=""><span
            class="aui-icon aui-icon-small aui-iconfont-add"></span> Create new Release Note
    </button>
    <table id="release-notes-table">
        <thead>
        <tr>
            <th id="basic-id">#Id</th>
            <th id="basic-title">Title</th>
            <th id="basic-content">Content</th>
        </tr>
        </thead>
        <tbody id="release-notes-table-body">
        </tbody>
    </table>
    <aui-spinner id="release-note-table-loader" size="large"></aui-spinner>

</div>
</div>


#parse("templates/dialogs/createReleaseNoteDialog.vm")
#parse("templates/dialogs/editReleaseNoteDialog.vm")

<script>
    /*
     * Instantiate the ConDecKnowledgePage object controlling this view:
     */
    $(document).ready(function () {
        console.log("conDecReleaseNotePage working")

        conDecAPI.checkIfProjectKeyIsValid();
        if (window.conDecReleaseNotePage.init(conDecAPI, conDecObservable, conDecDialog, conDecContextMenu, conDecTreant, conDecTreeViewer)){
            window.conDecReleaseNotePage.getReleaseNotes();
        }else {
            console.error("conDecReleaseNotePage could not get its dependencies.");
        }

    });

    function addReleaseNote() {
        window.conDecReleaseNotePage.addReleaseNote();
    }

    function displayReleaseNote(id) {
        window.conDecReleaseNotePage.displayReleaseNote(id);
    }
</script>