<html>
<head>
<title>DecDoc Settings</title>
<meta name="decorator" content="atl.admin" />
<meta name="admin.active.section"
	content="admin_plugins_menu/new_plugin_section" />
<meta name="admin.active.tab" content="jira-menu-item1">
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.documentation.jira:rest-client-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.documentation.jira:stylesheet-and-icon-resources")
</head>
<body>
	<h2>DecDoc Settings</h2>
	<table>
		<tr>
			<th>Project Name</th>
			<th>DecDoc Activated?</th>
			<th>Use JIRA Issues to Store Decision Knowledge?</th>
		</tr>
		#foreach ($proj in $projectsMap)
		<tr>
			<td><aui-label for="$proj.getProjectKey()-toggle">$proj.getProjectName()</aui-label>
			</td>
			<td><aui-toggle id="$proj.getProjectKey()-isActivated-toggle"
					label="$proj.getProjectName()-Activated"
					value="$proj.getProjectKey()"></aui-toggle> <script>
						var toggle = document.getElementById('$proj.getProjectKey()-isActivated-toggle');
						#if ($proj.isActivated() == true)
							toggle.checked = true;
						#else
							toggle.checked = false;
						#end
						toggle.addEventListener('change', function(error) {
							this.busy = true;
							setActivated(this.checked, this.value);
							this.busy = false;
						});
					</script></td>
			<td><aui-toggle
					id="$proj.getProjectKey()-isIssueStrategy-toggle"
					label="$proj.getProjectName()-IssueStrategy"
					value="$proj.getProjectKey()"></aui-toggle> <script>
						var toggle = document.getElementById('$proj.getProjectKey()-isIssueStrategy-toggle');
						#if ($proj.isIssueStrategy() == true)
							toggle.checked = true;
						#else
							toggle.checked = false;
						#end
						toggle.addEventListener('change', function(e) {
							this.busy = true;
							setIssueStrategy(this.checked, this.value);
							this.busy = false;
						});
					</script></td>
		</tr>
		#end
	</table>
</body>
</html>