<html>
<head>
<title>ConDec Settings</title>
<meta name="decorator" content="atl.admin" />
<meta name="admin.active.section"
	content="admin_plugins_menu/new_plugin_section" />
<meta name="admin.active.tab" content="jira-menu-item1">
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
</head>
<body>
	<h1>Continuous Management of Decision Knowledge (ConDec) Settings</h1>
	<form class="aui">
		<h2>Settings for Open Authentication (OAuth)</h2>
		<div class = "description">
			You need to configure a new application link (with an arbitrary, non-existing URL) and generate a public/private key.
			Please read and follow 
			<a href="https://developer.atlassian.com/cloud/jira/platform/jira-rest-api-oauth-authentication/" target="_blank"> 
				these instructions
			</a> about JIRA application links and public/private keys. 
			
		</div>
		<div class="field-group">
			<label for="jiraHome">JIRA Home URL</label> <input type="text"
				class="text long-field" id="jiraHome" placeholder="https://..." value=$jiraHomeForGitAuthentication />
			<div class="description">URL to a JIRA Server.</div>
		</div>

        <div class="field-group">
			<label for="privateKey">Private Key</label> <input type="text"
				class="text long-field" id="privateKey" value=$privateKeyForGitAuthentication />
			<div class="description">Private key that matches the public key in Application links (under Incoming Authentication).</div>
		</div>
        <div class="field-group">
			<label for="consumerKey">Consumer Key</label> <input type="text"
				class="text long-field" id="consumerKey" value=$consumerKeyForGitAuthentication />
			<div class="description">Consumer key that matches the consumer key in Application links (under Incoming Authentication).</div>
			<input type="button" id="requestRequestToken" class="aui-button aui-button-primary" value="Request Request Token" />
			<div class = "description"> Follow the shown link and allow the access. 
				Copy the shown "secret" into the respective field. 
			</div>
		</div>
		
		<div class="field-group">
			<label for="requestToken">Request Token</label> <input type="text"
				class="text long-field" id="requestToken" value=$requestTokenForGitAuthentication />
			<div class="description">The Request token is automatically provided after requesting it.</div>
		</div>
		<div class="field-group">
			<label for="gitIntegration-secret">Secret</label> <input type="text"
				class="text long-field" id="gitIntegration-secret" value=$secretForGitAuthentication>
			<div class="description">You need to manually copy the secret into this field.</div>
			<input type="button" id="requestAccessToken" class="aui-button aui-button-primary" value="Request Access Token" />
		</div>
		
		<div class="field-group">
			<label for="accessToken">Access Token</label> <input type="text"
				class="text long-field" id="accessToken" value=$accessTokenForGitAuthentication />
			<div class="description">The access token is automatically provided after requesting it.</div>
		</div>

		<script>
			var requestTokenButton = document.getElementById('requestRequestToken');
			requestTokenButton.addEventListener("click", function() {
				var jiraBaseUrl = document.getElementById("jiraHome");
				var jiraPrivateKey = document.getElementById("privateKey");
				var consumerKey = document.getElementById("consumerKey");
                conDecAPI.getRequestToken(conDecAPI.projectKey, jiraBaseUrl.value, jiraPrivateKey.value, consumerKey.value, function(result) {
                    this.busy = true;
                    document.getElementById("requestToken").value = result["result"];
                   	var url = jiraBaseUrl.value + "/plugins/servlet/oauth/authorize?oauth_token=" + result["result"];
                   	prompt("Please visit url, approve and copy secret",url);
                    this.busy = false;
                });
                window.onbeforeunload = null;
            });

            var accessTokenButton = document.getElementById('requestAccessToken');
			accessTokenButton.addEventListener("click", function() {
				var jiraBaseUrl = document.getElementById("jiraHome");
				var jiraPrivateKey = document.getElementById("privateKey");
				var consumerKey = document.getElementById("consumerKey");
				var requestToken = document.getElementById("requestToken");
				var secret = document.getElementById("gitIntegration-secret");

                conDecAPI.getAccessToken(conDecAPI.projectKey, jiraBaseUrl.value, jiraPrivateKey.value, consumerKey.value, 
                		requestToken.value, secret.value, function(result) {
                	this.busy = true;
                	console.log(result);
                	document.getElementById("accessToken").value = result["result"];
                	this.busy = false;
                });
                window.onbeforeunload = null;
            });			
		</script>
		
		<h2>Project Settings</h2>
		<table class="aui">
			<tr>
				<th id="projectName">Project Name</th>
				<th id="isActivated">ConDec Activated?</th>
				<th id="isIssue">Store Knowledge in JIRA Issues?</th>
				<th id="extractGit">Extract Knowledge From Git?</th>
				<th id="extractCom">Extract Knowledge From Issue Comments?</th>
			</tr>
			#foreach ($proj in $projectsMap)
			<tr>
				<td headers="projectName"><aui-label for="$proj.getProjectKey()-toggle">$proj.getProjectName()</aui-label></td>
				<td headers="isActivated"><aui-toggle id="$proj.getProjectKey()-isActivated-toggle"
						label="$proj.getProjectName()-Activated"
						value="$proj.getProjectKey()"></aui-toggle> <script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isActivated-toggle');
                            #if ($proj.isActivated() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (error) {
                                this.busy = true;
                                conDecAPI.setActivated(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
				<td headers="isIssue"><aui-toggle	id="$proj.getProjectKey()-isIssueStrategy-toggle"
						label="$proj.getProjectName()-IssueStrategy"
						value="$proj.getProjectKey()"></aui-toggle> <script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isIssueStrategy-toggle');
                            #if ($proj.isIssueStrategy() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (e) {
                                this.busy = true;
                                conDecAPI.setIssueStrategy(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
				<td headers="extractGit"><aui-toggle
						id="$proj.getProjectKey()-isKnowledgeExtractedFromGit-toggle"
						label="$proj.getProjectName()-KnowledgeExtractedFromGit"
						value="$proj.getProjectKey()"></aui-toggle>
					<script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isKnowledgeExtractedFromGit-toggle');
                            #if ($proj.isKnowledgeExtractedFromGit() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (error) {
                                this.busy = true;
                                conDecAPI.setKnowledgeExtractedFromGit(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
				<td headers="extractCom"><aui-toggle
						id="$proj.getProjectKey()-isKnowledgeExtractedFromIssues-toggle"
						label="$proj.getProjectName()-KnowledgeExtractedFromIssues"
						value="$proj.getProjectKey()"></aui-toggle>
					<script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isKnowledgeExtractedFromIssues-toggle');
                            #if ($proj.isKnowledgeExtractedFromIssues() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (error) {
                                this.busy = true;
                                conDecAPI.setKnowledgeExtractedFromIssues(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
			</tr>
			#end
		</table>
	</form>
</body>
</html>