<html>
<head>
<title>ConDec Settings</title>
<meta name="decorator" content="atl.admin" />
<meta name="admin.active.section"
	content="admin_plugins_menu/new_plugin_section" />
<meta name="admin.active.tab" content="jira-menu-item1">
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
</head>
<body>
	<h1>Continuous Management of Decision Knowledge (ConDec) Settings</h1>
	<form class="aui">
		<table class="aui">
			<tr>
				<th id="projectName">Project Name</th>
				<th id="isActivated">ConDec Activated?</th>
				<th id="isIssue">Store Knowledge in JIRA Issues?</th>
				<th id="extractGit">Extract Knowledge From Git?</th>
				<th id="extractCom">Extract Knowledge From JIRA Issue Text?</th>
			</tr>
			#foreach ($proj in $projectsMap)
			<tr>
				<td headers="projectName"><aui-label for="$proj.getProjectKey()-toggle">$proj.getProjectName()</aui-label></td>
				<td headers="isActivated"><aui-toggle id="$proj.getProjectKey()-isActivated-toggle"
						label="$proj.getProjectName()-Activated"
						value="$proj.getProjectKey()"></aui-toggle> <script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isActivated-toggle');
                            console.log($proj.isActivated());
                            #if ($proj.isActivated() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (error) {
                                this.busy = true;
                                conDecAPI.setActivated(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
				<td headers="isIssue"><aui-toggle	id="$proj.getProjectKey()-isIssueStrategy-toggle"
						label="$proj.getProjectName()-IssueStrategy"
						value="$proj.getProjectKey()"></aui-toggle> <script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isIssueStrategy-toggle');
                            #if ($proj.isIssueStrategy() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (e) {
                                this.busy = true;
                                conDecAPI.setIssueStrategy(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
				<td headers="extractGit"><aui-toggle
						id="$proj.getProjectKey()-isKnowledgeExtractedFromGit-toggle"
						label="$proj.getProjectName()-KnowledgeExtractedFromGit"
						value="$proj.getProjectKey()"></aui-toggle>
					<script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isKnowledgeExtractedFromGit-toggle');
                            #if ($proj.isKnowledgeExtractedFromGit() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (error) {
                                this.busy = true;
                                conDecAPI.setKnowledgeExtractedFromGit(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
				<td headers="extractCom"><aui-toggle
						id="$proj.getProjectKey()-isKnowledgeExtractedFromIssues-toggle"
						label="$proj.getProjectName()-KnowledgeExtractedFromIssues"
						value="$proj.getProjectKey()"></aui-toggle>
					<script>
                        $(document).ready(function () {
                            var toggle = document.getElementById('$proj.getProjectKey()-isKnowledgeExtractedFromIssues-toggle');
                            #if ($proj.isKnowledgeExtractedFromIssues() == true)
                                toggle.checked = true;
                            #else
                                toggle.checked = false;
                            #end
                            toggle.addEventListener('change', function (error) {
                                this.busy = true;
                                conDecAPI.setKnowledgeExtractedFromIssues(this.checked, this.value);
                                this.busy = false;
                            });
                        });
					</script></td>
			</tr>
			#end
		</table>
	</form>
</body>
</html>