<html>
<head>
<meta name="decorator" content="DecisionDocumentation"/>
<title>Decision Exploration</title>
$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.documentation.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.documentation.jira:decision-documentation-resources")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-flag")
<script>
	$().ready(function() {
		var $scrollingDiv = $("#scrollingDiv");

		$(window).scroll(function(){
			$scrollingDiv
				.stop()
				.animate({"marginTop": ($(window).scrollTop() + 30) + "px"}, "slow" );
		});
	});
</script>
</head>
<body>
	Decision Knowledge from Git
	<div class="chart" id="treant-container"></div>
	<script>

    </script>
</body>
</html>