<h3>Settings for the duplication detection</h3>

<div class="field-group top-label">
    <label for="min-length-duplicate">Minimum length of similar text for duplication detection</label>
    <input class="text short-field" type="number"
           data-aui-validation-field
           value="$linkSuggestionConfig.getMinTextLength()"
           step="1" min="3"
           id="min-length-duplicate" />
    <button id="save-min-length-duplicate-btn" class='aui-button'>Save</button>
    <div class="description">To calculate duplicates, the description of two knowledge elements is preprocessed an then compared.
        If both knowledge elements have at least one fragment of text that has at least X identical words in the same order, they are shown as duplicates.
    </div>
</div>

<script>
	$("#save-min-length-duplicate-btn").click(event => {
		event.preventDefault();
		configAPI.setMinimumDuplicateLength("$projectKey", $("#min-length-duplicate").val())
    })
</script>