<h3>Settings for the consistency check events</h3>

<div class="field-group">
    <label for="isConsistencyDoneActivated-toggle">Consistency check for done event activated?</label>
    <aui-toggle id="isConsistencyDoneActivated-toggle" label="Resolved event activated?"></aui-toggle>
    <div class="description">Enables or disables the check dialog for the done event of an issue.
    </div>
</div>

<div class="field-group">
    <label for="isConsistencyClosedActivated-toggle">Consistency event check for closed event activated?</label>
    <aui-toggle id="isConsistencyClosedActivated-toggle" label="Closed event activated?"></aui-toggle>
    <div class="description">Enables or disables the check dialog for the closed event of an issue.
    </div>
</div>
