<h3>Settings for the prompting events for link suggestion and duplicate recognition</h3>

<div class="field-group">
    <label>Link suggestion at done event activated?</label>
    <aui-toggle id="isLinkSuggestionAtDoneEventActivated-toggle" label="Resolved event activated?"
    #if($project.getPromptingEventConfiguration().isPromptEventForLinkSuggestionActivated("done"))
		checked
	#end
    ></aui-toggle>
    <div class="description">
    	Enables or disables the check dialog for the done event of an issue.
    </div>
</div>

<div class="field-group">
    <label>Link suggestion at closed event activated?</label>
    <aui-toggle id="isLinkSuggestionAtClosedEventActivated-toggle" label="Closed event activated?"
    #if($project.getPromptingEventConfiguration().isPromptEventForLinkSuggestionActivated("closed"))
		checked
	#end
    ></aui-toggle>
    <div class="description">
    	Enables or disables the check dialog for the closed event of an issue.
    </div>
</div>

<script>
	$("#isLinkSuggestionAtDoneEventActivated-toggle").change(function() {
		const isActivated = $(this).prop("checked");
		nudgingAPI.activatePromptEventForLinkSuggestion("$projectKey", "done", isActivated);
	})
	
	$("#isLinkSuggestionAtClosedEventActivated-toggle").change(function() {
		const isActivated = $(this).prop("checked");
		nudgingAPI.activatePromptEventForLinkSuggestion("$projectKey", "closed", isActivated);
	})
</script>