<div id="decision-guidance-prompt">
    <h3>Decision Guidance</h3>
    This Jira issue is linked to <strong id="num-decision-problems"></strong> decision problems, which have the
    following amounts of recommendations.
    <br/>
    <div id="decision-problems-overview">
        <table id="decision-problems-table" class="aui aui-table-list">
            <thead>
            <tr>
                <th class="aui-table-column">Decision Problem</th>
                <th class="aui-table-column">Number of recommendations</th>
            </tr>
            </thead>
            <tbody id="decision-problems-table-body">
            </tbody>
        </table>
    </div>

    <button id="go-to-decision-guidance-tab" class="aui-button aui-button-link">
        <span class="aui-icon aui-icon-small aui-iconfont-link">Go to decision guidance tab</span>
        Go to decision guidance tab
    </button>
</div>