<div id="decision-guidance-prompt" class="condec-prompt">
    <h3>
    	$i18n.getText("condec.decision.guidance") 
    	<span id="decision-guidance-check-icon" class="aui-icon aui-iconfont-question-circle"></span>
    </h3>
    <p>This Jira issue is linked to <strong id="num-decision-problems"></strong> decision problems, which altogether have <strong id="num-recommendations">...</strong> recommendations.
    The number of recommendations per decision problem is listed below.</p>
    <div id="decision-problems-overview">
        <table id="decision-problems-table" class="aui aui-table-list">
            <thead>
            <tr>
                <th class="aui-table-column">Decision Problem</th>
                <th class="aui-table-column">Number of recommendations</th>
            </tr>
            </thead>
            <tbody id="decision-problems-table-body">
            </tbody>
        </table>
    </div>
    <aui-spinner id="decision-guidance-spinner"></aui-spinner>
    <div class="right-aligned">
    	<button id="go-to-decision-guidance-tab" class="aui-button aui-button-link">
        	<span class="aui-icon aui-icon-small aui-iconfont-shortcut"></span> Go to decision guidance details
    	</button>    
    </div>    
</div>