<div id="definition-of-done-checking-prompt" class="condec-prompt">
    <h3>
    	$i18n.getText("condec.label.quality") 
    	<span id="definition-of-done-check-icon" class="aui-icon aui-icon-large aui-iconfont-check-circle condec-fine" 
    		style="visibility:hidden" title="Great work!"></span>
    </h3>
    <p id="definition-of-done-checking-summary"></p>
    <ul id="definition-of-done-checking-results">
        
    </ul>
    <aui-spinner id="dod-spinner"></aui-spinner>  
    <div class="right-aligned">    	
    	<button id="go-to-quality-check-tab" class="aui-button aui-button-link">
        	<span class="aui-icon aui-icon-small aui-iconfont-shortcut"></span> Go to quality check details
        </button>
    </div>	
</div>