<div id="link-recommendation-prompt" class="condec-prompt">
    <h3>
    	$i18n.getText("condec.link.recommendation") 
    	<span id="link-recommendation-check-icon" class="aui-icon aui-iconfont-question-circle"></span>
    </h3>
    <p id="link-recommendation-summary"></p>
    <aui-spinner id="link-recommendation-spinner"></aui-spinner>
	<div class="right-aligned">  
    	<button id="go-to-link-recomendation-tab" class="aui-button aui-button-link">
        	<span class="aui-icon aui-icon-small aui-iconfont-shortcut"></span> Go to link recommendation details
    	</button>
    </div>	
</div>