<div id="non-validated-elements-prompt">
    <h3>Non-validated elements</h3>
    This issue contains <strong
    id="num-non-validated-elements"></strong> knowledge elements that have not been manually validated. <br/>
    Please validate the knowledge elements if you approve their classifications.<br/>

    <table id="non-validated-container-short" class="aui aui-table-list">
        <thead>
        <tr>
            <th class="aui-table-column-issue-key">$i18n.getText("condec.classification.nonvalidatedelement")</th>
            <th class="aui-table-column-unsortable">$i18n.getText("condec.classification.classifiedknowledgetype")</th>
        </tr>
        </thead>
        <tbody id="non-validated-table-body">
        </tbody>
    </table>
    <button id="go-to-classification-tab" class="aui-button aui-button-link">
        <span class="aui-icon aui-icon-small aui-iconfont-link">Go to text classification tab</span>
        Go to text classification tab
    </button>
</div>
