<div id="non-validated-elements-prompt" class="condec-prompt">
    <h3>Non-validated elements</h3>
    <p>This Jira issue contains 
    <strong id="num-non-validated-elements"></strong> 
    knowledge elements that have not been manually validated.
    Please validate the knowledge elements if you approve their classifications.</p>
    <table id="non-validated-container-short" class="aui aui-table-list">
        <thead>
        <tr>
            <th class="aui-table-column-issue-key">$i18n.getText("condec.classification.nonvalidatedelement")</th>
            <th class="aui-table-column-unsortable">$i18n.getText("condec.classification.classifiedknowledgetype")</th>
        </tr>
        </thead>
        <tbody id="non-validated-table-body">
        </tbody>
    </table>
    <div class="right-aligned">    
    	<button id="go-to-classification-tab" class="aui-button aui-button-link">
        	<span class="aui-icon aui-icon-small aui-iconfont-shortcut"></span>Go to text classification tab
    	</button>
    </div>
    <aui-spinner id="non-validated-spinner"></aui-spinner>
</div>