<section id="unified-prompt" class="aui-dialog2 aui-dialog2-large aui-layer aui-dialog2-warning" role="dialog" 
	data-aui-remove-on-hide="true" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="unified-prompt-header"></h2>
        <button class="aui-close-button" type="button" aria-label="close"></button>
    </header>
    <div class="aui-dialog2-content">
        #parse("templates/prompts/definitionOfDoneCheckingPrompt.vm")       
        #parse("templates/prompts/linkRecommendationPrompt.vm")
        #parse("templates/prompts/decisionGuidancePrompt.vm")
        #parse("templates/prompts/nonValidatedElementsPrompt.vm")
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="warning-dialog-continue" class="aui-button">$i18n.getText('condec.button.continue')</button>
        </div>
    </footer>
</section>