<div class="aui-toolbar2" role="toolbar">
	<form class="aui">	
		<div class="condec-filter">  
			#parse("templates/filter/linkDistance.vm")
			#if($viewIdentifier != "overview")
				#parse("templates/filter/knowledgeType.vm") 
			#else
				<select id="select-root-element-type" name="knowledge-type-dropdown-overview"
            		class="select short-field" onchange="conDecKnowledgePage.updateView()"></select>
            	<input type="text" class="text medium-field"
           			id="element-input-field" placeholder="$i18n.getText('condec.create.label')"/>
				<input type="button" id="create-element-button"
           			class="aui-button aui-button-primary" value="$i18n.getText('condec.button.create')"/>
        	#end
        	#parse("templates/filter/status.vm")
			#parse("templates/filter/isDecisionKnowledgeOnly.vm")           	       	
			#if($showTransitiveFilter)
				#parse("templates/filter/isTransitiveLinks.vm")
			#end	
			#if($viewIdentifier == "decision-table")
				<select class="select long-field" id="decision-problem-dropdown"></select>         
			#end 
		</div>   
		<div id="management-filter-$viewIdentifier" class="aui-expander-content condec-filter">        
			#parse("templates/filter/text.vm")
			#parse("templates/filter/documentationLocation.vm")	
			#parse("templates/filter/linkType.vm")
			#parse("templates/filter/decisionGroup.vm")   	
			#parse("templates/filter/degree.vm")
			#if($viewIdentifier != "comparison") <!-- since the comparison has two date selection fields -->
				#parse("templates/filter/documentationDate.vm")
			#end
			#parse("templates/filter/isIrrelevantText.vm")     
			#parse("templates/filter/isTestCode.vm")   
			#if($viewIdentifier == "graph")
				#parse("templates/filter/isHierarchicalGraph.vm")
			#end
			#if($viewIdentifier == "chronology")
				#parse("templates/filter/chronologyElementPlacement.vm")
			#end	
		</div>
		<div id="quality-filter-$viewIdentifier" class="aui-expander-content condec-filter">        
		    #parse("templates/filter/qualityHighlightingCriteria.vm")	
		</div>
		<div id="change-impact-filter-$viewIdentifier" class="aui-expander-content condec-filter">        
		    #parse("templates/filter/changeImpactAnalysisCriteria.vm")
		</div>
		<div class="condec-filter" style="float:right; margin-bottom:4px;"> 
			<a data-replace-text="$i18n.getText('condec.label.less.filter.criteria')" class="aui-expander-trigger" 
				aria-controls="management-filter-$viewIdentifier">$i18n.getText('condec.label.more.filter.criteria')</a> 
			--- <a data-replace-text="$i18n.getText('condec.label.hide.quality.highlighting.options')" class="aui-expander-trigger" 
				aria-controls="quality-filter-$viewIdentifier">$i18n.getText('condec.label.show.quality.highlighting.options')</a>  
			#set($ciaViews = ["jstree", "graph", "matrix"])
			#if ($ciaViews.contains($viewIdentifier))
				--- <a data-replace-text="$i18n.getText('condec.label.hide.cia.highlighting.options')" class="aui-expander-trigger" 
					aria-controls="change-impact-filter-$viewIdentifier">$i18n.getText('condec.label.show.cia.highlighting.options')</a> 
			#end 
			&nbsp; 
			#parse("templates/filter/filterButton.vm")
		</div>
	</form>
</div>