<form class="aui">
	#set ($knowledgeTypeDropdownId = "knowledge-type-dropdown-" + $viewIdentifier)	
	#parse("templates/filter/knowledgeType.vm")

	#set ($statusDropdownId = "status-dropdown-" + $viewIdentifier)	
	#parse("templates/filter/status.vm")

	#set ($datepickerStartId = "start-date-picker-" + $viewIdentifier)
	#set ($datepickerEndId = "end-date-picker-" + $viewIdentifier)
	#parse("templates/filter/creationDate.vm")

	#set ($linkTypeDropdownId = "link-type-dropdown-" + $viewIdentifier)	
	#parse("templates/filter/linkType.vm")

	#set ($documentationLocationDropdownId = "documentation-location-dropdown-" + $viewIdentifier)	
	#parse("templates/filter/documentationLocation.vm")

	#set ($linkDistanceInputId = "link-distance-input-" + $viewIdentifier)	
	#parse("templates/filter/linkDistance.vm")
</form>