<div class="condec-filter-criterion"
	title="Set the decay per iteration step. When the decay value is set to 1, no decay happens.">
	<label for="decay-input-$viewIdentifier" id="decay-input-label-$viewIdentifier">
		$i18n.getText("condec.decay.label")
	</label>
	<input type="number" id="decay-input-$viewIdentifier" value="0.75" min="0" step='0.01' class="text short-field"
		placeholder="Enter Decay">
</div>

<div class="condec-filter-criterion"
	title="The element is included in the impact graph if elementImpact >= threshold.">
	<label for="threshold-input-$viewIdentifier" id="threshold-input-label-$viewIdentifier">
		$i18n.getText("condec.threshold.label")
	</label>
	<input type="number" id="threshold-input-$viewIdentifier" value="0.25" min="0" step='0.01'
		class="text short-field" placeholder="Enter threshold">
</div>

<div class="condec-filter-criterion"
	title="Enables to show elements that are not impacted by the change (i.e. below the threshold) but that surround the impacted elements.">
    <label for="context-input-$viewIdentifier" id="context-input-label-$viewIdentifier">
        $i18n.getText("condec.context.label")
    </label>
    <input type="number" id="context-input-$viewIdentifier" value="0" min="0" step='1' class="text short-field"
           placeholder="Context distance" name="context">
</div>

<button aria-controls="propagation-rule-dropdown-$viewIdentifier" class="aui-button aui-dropdown2-trigger"
        aria-haspopup="true">
    $i18n.getText("condec.label.propagation.rule")
</button>
<aui-dropdown-menu id="propagation-rule-dropdown-$viewIdentifier" name="passRule"></aui-dropdown-menu>

<div class="condec-filter-criterion">
    <label for="recommended-links-in-cia-input-$viewIdentifier" style="display:none" id="recommended-links-in-cia-label-$viewIdentifier">$i18n.getText('condec.recommendation.in.cia.label')</label>
    <input type="checkbox" type="checkbox" id="recommended-links-in-cia-input-$viewIdentifier" style="display:none"/>
</div>

<div class="condec-filter-criterion">
    <label for="is-link-recommendation-input-$viewIdentifier">$i18n.getText('condec.label.is.link.recommendation')</label>
    <input type="checkbox" type="checkbox" id="is-link-recommendation-input-$viewIdentifier"/>
</div>
<script>
	$("#is-link-recommendation-input-$viewIdentifier").change(function() {
	var isChecked = document.getElementById("is-link-recommendation-input-$viewIdentifier").checked;
		if(isChecked) {
			document.getElementById("recommended-links-in-cia-input-$viewIdentifier").style.display="";
			document.getElementById("recommended-links-in-cia-label-$viewIdentifier").style.display="";
		} else {
			document.getElementById("recommended-links-in-cia-input-$viewIdentifier").checked=false;
			document.getElementById("recommended-links-in-cia-input-$viewIdentifier").style.display="none";
			document.getElementById("recommended-links-in-cia-label-$viewIdentifier").style.display="none";
		}
	});
</script>

<a id="link-impact-input-$viewIdentifier" 
	title="Link type and rule weights can be changed by the rationale manager." target="_blank">
	<span class="aui-icon aui-icon-small aui-iconfont-settings"></span> $i18n.getText('condec.label.configuration')
</a>

<input type="button" id="cia-button-$viewIdentifier" class="aui-button aui-button-primary" 
	value="$i18n.getText('condec.cia.button')"/>

<script>
	var linkImpactLink = document.getElementById("link-impact-input-$viewIdentifier");
	linkImpactLink.href = AJS.contextPath() + "/plugins/servlet/condec/settings?projectKey=" 
		+ conDecAPI.getProjectKey() + "&category=cia";
	AJS.$(linkImpactLink).tooltip();
</script>