<div class="condec-filter-criterion"
	title="$i18n.getText('condec.decay.title')">
	<label for="decay-input-$viewIdentifier" id="decay-input-label-$viewIdentifier">
		$i18n.getText("condec.decay.label")
	</label>
	<input type="number" id="decay-input-$viewIdentifier" value="0.75" min="0" step='0.01' class="text short-field"
		placeholder="Enter Decay">
</div>

<div class="condec-filter-criterion"
	title="$i18n.getText('condec.threshold.title')">
	<label for="threshold-input-$viewIdentifier" id="threshold-input-label-$viewIdentifier">
		$i18n.getText("condec.threshold.label")
	</label>
	<input type="number" id="threshold-input-$viewIdentifier" value="0.25" min="0" step='0.01'
		class="text short-field" placeholder="Enter threshold">
</div>

<div class="condec-filter-criterion"
	title="$i18n.getText('condec.context.title')">
    <label for="context-input-$viewIdentifier" id="context-input-label-$viewIdentifier">
        $i18n.getText("condec.context.label")
    </label>
    <input type="number" id="context-input-$viewIdentifier" value="0" min="0" step='1' class="text short-field"
           placeholder="Context distance" name="context">
</div>

<button aria-controls="propagation-rule-dropdown-$viewIdentifier" class="aui-button aui-dropdown2-trigger"
        aria-haspopup="true">
    $i18n.getText("condec.propagation.rule.label")
</button>
<aui-dropdown-menu id="propagation-rule-dropdown-$viewIdentifier" name="passRule"></aui-dropdown-menu>

<div class="condec-filter-criterion">
    <label for="recommended-links-in-cia-input-$viewIdentifier" style="display:none" id="recommended-links-in-cia-label-$viewIdentifier">$i18n.getText('condec.recommendation.in.cia.label')</label>
    <input type="checkbox" type="checkbox" id="recommended-links-in-cia-input-$viewIdentifier" style="display:none"/>
</div>

<div class="condec-filter-criterion"
	title="$i18n.getText('condec.is.link.recommendation.title')">
    <label for="is-link-recommendation-input-$viewIdentifier">$i18n.getText('condec.is.link.recommendation.label')</label>
    <input type="checkbox" type="checkbox" id="is-link-recommendation-input-$viewIdentifier"/>
</div>
<script>
	$("#is-link-recommendation-input-$viewIdentifier").change(function() {
	var isChecked = document.getElementById("is-link-recommendation-input-$viewIdentifier").checked;
		if(isChecked) {
			document.getElementById("recommended-links-in-cia-input-$viewIdentifier").style.display="";
			document.getElementById("recommended-links-in-cia-label-$viewIdentifier").style.display="";
		} else {
			document.getElementById("recommended-links-in-cia-input-$viewIdentifier").checked=false;
			document.getElementById("recommended-links-in-cia-input-$viewIdentifier").style.display="none";
			document.getElementById("recommended-links-in-cia-label-$viewIdentifier").style.display="none";
		}
	});
</script>

<a id="link-impact-input-$viewIdentifier" 
	title="$i18n.getText('condec.configuration.title')" target="_blank">
	<span class="aui-icon aui-icon-small aui-iconfont-settings"></span> $i18n.getText('condec.configuration.label')
</a>

<input type="button" id="cia-button-$viewIdentifier" class="aui-button aui-button-primary" 
	value="$i18n.getText('condec.cia.button')"/>

<script>
	var linkImpactLink = document.getElementById("link-impact-input-$viewIdentifier");
	linkImpactLink.href = AJS.contextPath() + "/plugins/servlet/condec/settings?projectKey=" 
		+ conDecAPI.getProjectKey() + "&category=cia";
</script>