<label for="$datepickerStartId">$i18n.getText("condec.datepicker.start")</label> 
<input id="$datepickerStartId" type="date" class="aui-date-picker"/>
<label for="$datepickerEndId">$i18n.getText("condec.datepicker.end")</label> 
<input id="$datepickerEndId" type="date" class="aui-date-picker"/>