<label for="$minDegreeInputId">$i18n.getText('condec.label.degree.min')</label>
<input type="number" id="$minDegreeInputId" value="0" min="0" class="text short-field"/>
<label for="$maxDegreeInputId">$i18n.getText('condec.label.degree.max')</label>
<input type="number" id="$maxDegreeInputId" value="100" min="0" class="text short-field"/>