<button aria-controls="documentation-location-dropdown-$viewIdentifier" class="aui-button aui-dropdown2-trigger" aria-haspopup="true">
	$i18n.getText('condec.label.documentation.location')
</button>
<aui-dropdown-menu id="documentation-location-dropdown-$viewIdentifier"></aui-dropdown-menu>