<form class="aui">
#set ($knowledgeTypeDropdownId = "issuetype-dropdown")	
#parse("templates/filter/knowledgeType.vm")

#set ($statusDropdownId = "status-dropdown")	
#parse("templates/filter/status.vm")

#set ($datepickerStartId = "created-after-picker")
#set ($datepickerEndId = "created-before-picker")
#parse("templates/filter/creationDate.vm")

#set ($linkTypeDropdownId = "link-type-dropdown")	
#parse("templates/filter/linkType.vm")

#set ($documentationLocationDropdownId = "documentation-dropdown")	
#parse("templates/filter/documentationLocation.vm")

#set ($linkDistanceInputId = "node-distance-picker")	
#parse("templates/filter/linkDistance.vm")
</form>