<form class="aui">
#set ($knowledgeTypeDropdownId = "knowledge-type-dropdown-graph")	
#parse("templates/filter/knowledgeType.vm")

#set ($statusDropdownId = "status-dropdown-graph")	
#parse("templates/filter/status.vm")

#set ($datepickerStartId = "start-date-picker-graph")
#set ($datepickerEndId = "end-date-picker-graph")
#parse("templates/filter/creationDate.vm")

#set ($linkTypeDropdownId = "link-type-dropdown-graph")	
#parse("templates/filter/linkType.vm")

#set ($documentationLocationDropdownId = "documentation-location-dropdown-graph")	
#parse("templates/filter/documentationLocation.vm")

#set ($linkDistanceInputId = "link-distance-input-graph")	
#parse("templates/filter/linkDistance.vm")
</form>