<form class="aui">
#parse("templates/filter/knowledgeType.vm")
#parse("templates/filter/status.vm")

#parse("templates/filter/creationDate.vm")

#parse("templates/filter/linkType.vm")
#parse("templates/filter/documentationLocation.vm")

#parse("templates/filter/linkDistance.vm")
</form>