<div class="condec-filter-criterion">
    <label for="is-test-code-input-$viewIdentifier">$i18n.getText('condec.label.is.test.code')</label>
    <input type="checkbox" type="checkbox" id="is-test-code-input-$viewIdentifier"/>
</div>
