<div id="issuetype-$viewIdentifier" class="condec-dashboard-filter">
    <label for="issuetype-select-$viewIdentifier">$i18n.getText('condec.label.knowledge.type'):</label>
    <select name="issueType" id="issuetype-select-$viewIdentifier" class="select">
    </select>
</div>