<button aria-controls="$linkTypeDropdownId" class="aui-button aui-style-default aui-dropdown2-trigger" aria-haspopup="true">
	$i18n.getText('condec.label.link.types')
</button>
<aui-dropdown-menu id="$linkTypeDropdownId"></aui-dropdown-menu>