<div class="condec-filter-criterion">
	<label>$i18n.getText("condec.label.decision.coverage.min.number")</label>
	<input class="text short-field" type="number" id="minimum-number-of-decisions-input-$viewIdentifier" 
		max="999" value="-1"> 
	<label>$i18n.getText("condec.label.decision.coverage.max.link.distance")</label>
	<input class="text short-field" type="number" id="link-distance-to-decision-number-input-$viewIdentifier" 
		max="6" value="-1">
</div>