<label>$i18n.getText("condec.label.selected.element"):</label> 
<span class="aui-label aui-label-closeable" id="selected-element-$viewIdentifier" 
	onclick="this.innerHTML=getSelectedElementDefaultLabel()">-<span class="aui-icon-close"></span>
</span>

<script>
function getSelectedElementDefaultLabel() {
	var label = conDecAPI.getIssueKey() === undefined ? '-' : conDecAPI.getIssueKey();
	return label + '<span class=aui-icon-close></span>';
}
</script>