<button aria-controls="$statusDropdownId" class="aui-button aui-style-default aui-dropdown2-trigger" aria-haspopup="true">
	$i18n.getText("condec.label.knowledge.status")
</button>
<aui-dropdown-menu id="$statusDropdownId" style="overflow:auto;max-height:200px;"></aui-dropdown-menu>