<div class="field-group">
	<label for="select-root-types">Root Element Types:</label>
	<select class="multi-select" size="8" multiple="multiple" id="select-root-types" name="select-root-types">
		#foreach ($issueType in $project.getJiraIssueTypeNames())
			<option name="$issueType"
				#if ( $webhookConfig.getObservedTypes().contains($issueType) )
					selected
				#end
                	>
				$issueType</option>
		#end
	</select>
		<div class="description">Selects the issue type of the root element (key) of the webhook data.</div>
	<input type="button" value="Set Root Element Types" onclick="getMultipleSelectedValue()" class="aui-button aui-button-primary"/>
</div>

<div class="field-group">
	<label for="webhook-url">URL</label> <input type="text"
		class="text long-field" id="webhook-url" value="$webhookConfig.getWebhookUrl()" />
	<div class="description">URL that decision knowledge is posted
		to when updated.</div>
</div>

<div class="field-group">
	<label for="webhook-secret">Shared Secret</label> <input type="text"
		class="text long-field" id="webhook-secret" value="$webhookConfig.getWebhookSecret()" />
	<div class="description">Key to authenticate with remote server.</div>
	<input type="button" id="submitWebhook" class="aui-button aui-button-primary" value="Set Webhook URL and Secret" />
</div>

<script>
	var webHookSubmit = document.getElementById("submitWebhook");
	webHookSubmit.addEventListener("click", function() {
		var urlInput = document.getElementById("webhook-url");
		var secretInput = document.getElementById("webhook-secret");
		conDecWebhookAPI.setWebhookData("$projectKey", urlInput.value, secretInput.value);
		window.onbeforeunload = null;
	});

    function getMultipleSelectedValue() {
        var x = document.getElementById("select-root-types");
        for (var i = 0; i < x.options.length; i++) {
            if(x.options[i].selected == true){
                conDecWebhookAPI.setWebhookType(x.options[i].value, "$projectKey", "true");
            }
            else {
                conDecWebhookAPI.setWebhookType(x.options[i].value, "$projectKey", "false");
            }
        }
    }
</script>