<h2>Basic Project Settings</h2>
	
<div class="field-group">
	<label for="isActivated-toggle">ConDec Activated?</label>
	<aui-toggle id="isActivated-toggle" value="$projectKey"	label="ConDec Activated?"
		#if($project.getBasicConfiguration().isActivated())
			checked
		#end
	></aui-toggle>
	<div class="description">Enables or disables the plug-in for this project. 
		<br/>Disabling deletes the knowledge graph singleton object. 
		The knowledge graph can be recreated by disabling and enabling this setting.
		
		<br/>The extraction of decision knowledge from the description and the comments of Jira issues is automatically enabled
		when the plugin is enabled for the project. Use the <b>macro syntax in the comments and the description of Jira issues</b> 
		to manually classify/tag/annotate text as decision knowledge:
		<ul>
			<li>{issue} How to implement ...? {issue}</li>
			<li>{decision} Use ... to implement ...! {decision}</li>
			<li>{alternative} Use ... to implement ...! {alternative}</li>
			<li>{pro} Improves security. {pro}</li>
			<li>{con} Reduces usability. {con}</li>
		</ul>
		<br/>As an alternative to the macro syntax, you can also classify/tag/annotate sentences in the description and the comments 
		of Jira issues	with <b>icons/emojis</b> (here, you see their String representation):
		<ul>
			<li>(!) How to implement ...?</li>
			<li>(/) Use ... to implement ...!</li>
			<li>(on) Use ... to implement ...!</li>
			<li>(+) Improves security.</li>
			<li>(-) Reduces usability.</li>
		</ul>
		</div>
</div>

<div class="field-group">
	<label for="isIssueStrategy-toggle">Store in Jira Tickets?</label>
	<aui-toggle id="isIssueStrategy-toggle" value="$projectKey"	label="Store in Jira Issues?"
		#if($project.getBasicConfiguration().isJiraIssueDocumentationLocationActivated())
			checked
		#end
	></aui-toggle>
	<div class="description">Activates that decision knowledge can be stored in entire Jira tickets. 
		The plug-in automatically adds decision knowledge types to the issue type scheme of the project.
	</div>
</div>

<div class="field-group">
<label for="cleanDatabases">Clean Database?</label>
<input type="button" class="aui-button" id="cleanDatabase" value="Clean Database"/>
<div class="description">Removes non-existing elements and invalid links (with non-existing source or target elements) 
	from the database tables and checks if all existing elements are linked.
</div>
</div>
	
<script>	
	document.getElementById("isActivated-toggle").addEventListener("change", function(error) {
		conDecAPI.setActivated(this.checked, this.value);
	});
	
	document.getElementById("isIssueStrategy-toggle").addEventListener("change", function(error) {
		conDecAPI.setJiraIssueDocumentationLocationActivated(this.checked, this.value);
	});
	
    var cleanDatabaseButton = document.getElementById("cleanDatabase");
    cleanDatabaseButton.addEventListener("click", function () {
        if (window.confirm("Are you sure you want to clean the database? "
        		+ "Make sure that the knowledge graph is loaded and git knowledge is extracted before you confirm!")) {
        	conDecAPI.cleanDatabase("$projectKey");
        }
    });
</script>