<h2>Settings for the consistency checks of Jira Issues</h2>

<form class="aui">
    #parse("templates/settings/fragments/consistencyLinkSettings.vm")
    #parse("templates/settings/fragments/consistencyDuplicationSettings.vm")
    #parse("templates/settings/fragments/consistencyEventSettings.vm")
</form>
<script>
    $(document).ready(function () {
        conDecJiraIssueConsistencyModule.init();
    });
</script>