<h2>Decision Guidance</h2>

<h2>Configure Knowledge Sources</h2>
<div class="aui-group-split settings-divider">
    <button class="aui-button-primary aui-button" id="open-rdf-source-dialog">
                <span
                    class="aui-icon aui-icon-small aui-iconfont-add">Insert meaningful text here for accessibility</span>
        Create
    </button>

    <h4>Configure RDF Knowledge Sources</h4>

    #foreach ($rdfSource in $rdfSources)

    <div style="position:relative; padding:6px;" class="settings-border">
        <div class="field-group">
            <label>$rdfSource.getName() activated?</label>
            <aui-toggle class="activation-knowledgesource" name="$rdfSource.getName()"
                        #if ($rdfSource.isActivated())
                        checked
                        #end
                        label="$rdfSource.getName() activated?"></aui-toggle>
            <div class="description">Enables or disables the knowledge source for alternative recommendations
                for this
                project.
            </div>
        </div>

        <a href="#" style="position: absolute; right: 16px; top:16px;" class="aui-expander-trigger"
           aria-controls="$rdfSource.getName()"><span
            class="aui-icon aui-icon-small aui-iconfont-edit-filled">Edit Knowledge Source</span>
        </a>
    </div>

    <div id="$rdfSource.getName()" class="aui-item settings-border aui-expander-content">
        <!--RDF SOURCE FORM -->
        <div class="field-group">
            <label>Name*</label>
            <input class="name-knowledgesource text medium-field" name="name-knowledgesource"
                   value="$rdfSource.getName()"></input>
            <div class="description">Name your knowledge source.
            </div>
        </div>
        <div class="field-group">
            <label>RDF-Service</label>
            <input class="uri-knowledgesource text medium-field" name="uri-knowledgesource"
                   placeholder="http://dbpedia.org/sparql" value="$rdfSource.getService()"></input>
            <div class="description">Enter an RDF-Graph URI. The default location is DPPedia.
            </div>
        </div>
        <div class="field-group">
            <label>SPARQL-Query</label>
            <textarea class="query-knowledgesource textarea
                      large-field"
                      placeholder=$i18n.getText("condec.label.description")>$rdfSource.getQueryString()</textarea>
            <div class="description">Enter a SPARQL-Query.
            </div>
        </div>
        <div class="field-group">
            <label>Timeout</label>
            <input class="param-knowledgesource text short-field" name="param-knowledgesource"
                   value="$rdfSource.getTimeout()"></input>
            <div class="description">Enter the timeout in milliseconds.
            </div>
        </div>
        <div class="field-group">
            <label for="create-rdf-source">Delete?</label>
            <button class="aui-button-primary aui-button delete-knowledgesource"
                    name="$rdfSource.getName()" label="Delete Knowledge Source?">
                <span class="aui-icon aui-icon-small aui-iconfont-trash">Deletes a RDF Knowledge Source</span>
                Delete
            </button>
            <div class="description">Deletes the knowledge source permanently from the system.
            </div>
        </div>
    </div>
    #end

    <h4>Configure Project Knowledge Sources</h4>
    <table id="project-source-table" class="aui aui-table-list">

        <thead>
        <tr>
            <th>Project</th>
            <th>Activate?</th>
        </tr>
        </thead>
        <tbody>
        #foreach($projectSource in $projectSources)
        <tr>
            <td>$projectSource.getName()</td>
            <td>
                <aui-toggle class="activation-knowledgesource-project" name="$projectSource.getName()"
                            #if ($projectSource.isActivated())
                            checked
                            #end
                            label="$projectSource.getName() activated?"></aui-toggle>
            </td>
        </tr>
        #end
        </tbody>
    </table>


</div>

<div class="field-group">
    <label for="max-recommendation">Maximum number of results</label>
    <input class="text short-field"
           type="number"
           data-aui-validation-field
           value="$maxNumberRecommendations"
           id="max-recommendation"
           name="max-recommendation"/>
    <button id="save-max-recommendation-btn" class='aui-button aui-button-primary aui-button-compact'>
        Save
    </button>
    <div class="description">Set the maximum number of results of recommendations that should be displayed in the
        jira
        issue view.
    </div>

</div>


#parse("templates/settings/fragments/decisionguidance/decisionGuidanceEvaluation.vm")
#parse("templates/dialogs/createRDFKnowledgeSource.vm")

<script>

    $(document).ready(function() {

        $(".aui-expander-trigger").click(function(event) {
            event.preventDefault();
        });

        $("#save-max-recommendation-btn").click((event) => {
           event.preventDefault();
            const query = $("#max-recommendation").val();
           conDecAPI.setMaxNumberRecommendations("$projectKey", query);

        })

        $("#create-rdf-source").click((event) => {
           event.preventDefault();
           const name = $("#create-name-knowledgesource");
           const service = $("#create-uri-knowledgesource");
           const queryString = $("#create-query-knowledgesource");
           const timeout = $("#create-param-knowledgesource");

           var rdfSourceJSON = {
                "name": name.val(),
                "service": service.val(),
                "queryString": queryString.val(),
                "timeout": timeout.val()
           }
           conDecAPI.setRDFKnowledgeSource("$projectKey", rdfSourceJSON);
        });

         $("#update-rdf-source").click((event) => {
            //TODO
        });

         const activations = $(".activation-knowledgesource");

         activations.each(function() {

            $(this).change(function() {
                const knowledgeSourceName =  $(this).attr("name");
                const isActivated = $(this).prop("checked");
                conDecAPI.setKnowledgeSourceActivated("$projectKey", knowledgeSourceName, isActivated);
            })

         });

         const deletions = $(".delete-knowledgesource");

         deletions.each(function() {
            $(this).click((event) => {
                event.preventDefault();
                var confirm = window.confirm("Do you really want to delete this knowledge source?");
                if(confirm) {
                    const knowledgeSourceName =  $(this).attr("name");
                    conDecAPI.deleteKnowledgeSource("$projectKey", knowledgeSourceName);
                    location.reload();
                }
            })
         });

         $("#add-project-source").click((event) => {
            event.preventDefault();
            const projectSourceKey = $("#select-projects").val();
            conDecAPI.setProjectSource("$projectKey", projectSourceKey);
            $("#project-source-table tbody").append(
            "<tr>"+
                "<td>" + projectSourceKey + "</td>"+
               " <td><aui-toggle></aui-toggle>"+
            "</tr>"

            );
         });

         const activationsProjects = $(".activation-knowledgesource-project");

         activationsProjects.each(function() {

            $(this).change(function() {
                const projectKey =  $(this).attr("name");
                const isActivated = $(this).prop("checked");
                conDecAPI.setProjectSource("$projectKey", projectKey, isActivated);
            })

         });
    });
































</script>