<h2>Decision Guidance</h2>

<h2>General</h2>
<div class="settings-divider">
    <div class="field-group">
        <label>Add Recommendations directly?</label>
        <aui-toggle id="add-recommendation-directly" name=""
                    #if($addRecommendationDirectly)
                    checked
                    #end
                    label="$rdfSource.getName() activated?"></aui-toggle>
        <div class="description">If enabled, all recommendations for an issue are directly added to the graph.
        </div>
    </div>
</div>

<h2>Configure Knowledge Sources</h2>
<div class="settings-divider">
    <h4>General</h4>
    <div class="settings-divider">
        <a data-aui-trigger aria-controls='input-method-help' href='input-method-help'>
        <span
            class='aui-icon aui-icon-small aui-iconfont-question-circle'>Insert meaningful text here for accessibility</span>
        </a>
        <aui-inline-dialog id='input-method-help' responds-to='hover'>
            <p>Chose the input on which to base a recommendation. The inputs can be combined and deliver various
                results.</p>
        </aui-inline-dialog>
        <fieldset class="group">
            <legend><span>Keyword-based
        </span></legend>
            <aui-toggle id="keyword-toggle" name="" value="KEYWORD"
                        #if ($recommendationInput.KEYWORD)
                            checked
                        #end
                        label=""></aui-toggle>
            <div class="description">Keyword-based recommendations use keywords from the input field.
            </div>
        </fieldset>
        <fieldset class="group">
            <legend><span>Issue-based
        </span></legend>
            <aui-toggle id="issue-toggle" name="" value="ISSUE"
                        #if ($recommendationInput.ISSUE)
                        checked
                        #end
                        label=""></aui-toggle>
            <div class="description">Issue-based recommendations uses the issue itself and already documented solution
                options.
            </div>
        </fieldset>
    </div>

    <h4>Configure RDF Knowledge Sources</h4>

    <div>
        <a class="aui-expander-trigger" aria-controls="create-knowledgesource-expander"
        ><span
            class="aui-icon aui-icon-small aui-iconfont-add">Create a Knowledge Source</span>Add
        </a>
        <div id="create-knowledgesource-expander" class="aui-expander-content">
            <div class="field-group">
                <label for="create-name-knowledgesource">Name*</label>
                <input id="create-name-knowledgesource" class="text medium-field" name="name-knowledgesource">
                <div class="description">Name your knowledge source.</div>
            </div>
            <div class="field-group">
                <label for="create-uri-knowledgesource">Select RDF-Service</label>
                <select class="select medium-field" id="select-rdf-service">
                    <option value="DBPedia">DBPedia</option>
                    <option value="OtherSource">Other</option>
                </select>
                <div class="description">Select an RDF Service.</div>
            </div>
            <div class="field-group">
                <label for="create-uri-knowledgesource">RDF-Service</label>
                <input id="create-uri-knowledgesource" class="text large-field" name="uri-knowledgesource"
                       placeholder="http://dbpedia.org/sparql" value="http://dbpedia.org/sparql">
                <div class="description">Enter an RDF-Graph URI. The default location is DPPedia.</div>
            </div>
            <div class="field-group">
                <label for="create-query-knowledgesource">SPARQL-Query</label>
                <div style="display:flex;">
                <textarea id="create-query-knowledgesource"
                          placeholder="SPARQL-Query" class="textarea
                          large-field"></textarea>

                    <div style="padding: 5px; max-width:300px;text-align: left;">
                        <a id="query-help-trigger"><span
                            class="aui-icon aui-icon-small aui-iconfont-question-circle">Example RDF-Query</span></a>
                        <div style="padding:6px; display:none; border: 1px solid #dfe1e6; line-height: 200%"
                             id="query-help">
                            "%variable%" is a placeholder for your search in the jira issue view.
                            The variable will be replaced by a resource. Also provide the sparql-variables ?alternative
                            and ?url. <br>
                            E.g.
                            &lt;http://dbpedia.org/resources/%variable%> <br>
                            %variable% = MySQL <br>
                            &lt;http://dbpedia.org/resources/MySQL><br>
                            <div
                                style="border: 1px solid; border-radius:3px; background:whitesmoke; padding:6px; margin: 6px; line-height: 100%">
                                //Example Query <br>
                                PREFIX dbo: &lt;http://dbpedia.org/ontology/> <br>
                                PREFIX dct: &lt;http://purl.org/dc/terms/> <br>
                                PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#> <br>
                                PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#> <br> <br>
                                PREFIX foaf:&lt;//xmlns.com/foaf/0.1/>


                                select distinct ?alternative ?url ?link where { <br>
                                %variable% dbo:genre ?genre. <br>
                                ?sameGenre dbo:genre ?genre. <br>
                                ?sameGenre rdfs:label ?alternative. <br>
                                ?sameGenre foaf:isPrimaryTopicOf ?url. <br>
                                FILTER(LANG(?alternative) = "en"). <br>
                                ?sameGenre dbo:wikiPageExternalLink ?link. <br>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">Enter a SPARQL-Query.</div>
                <button class="aui-button" id="insert-design-patterns">Design Patterns</button>
                <button class="aui-button" id="insert-frameworks">Frameworks</button>
                <div class="description">Choose an example query.</div>
            </div>
            <div class="field-group">
                <label for="create-param-knowledgesource">Timeout</label>
                <input type="number" min="1" value="30000" id="create-param-knowledgesource"
                       class="text short-field"
                       name="param-knowledgesource">
                <div class="description">Enter the timeout in milliseconds.</div>
            </div>
            <div class="field-group">
                <button class="aui-button-primary aui-button" id="create-rdf-source">
                    Create
                </button>
            </div>
        </div>
    </div>

    #foreach ($rdfSource in $rdfSources)

    <div style="position:relative; padding:6px;" class="settings-border">
        <div class="field-group">
            <label>$rdfSource.getName() activated?</label>
            <aui-toggle class="activation-knowledgesource" name="$rdfSource.getName()"
                        #if ($rdfSource.isActivated())
                        checked
                        #end
                        label="$rdfSource.getName() activated?"></aui-toggle>
            <div class="description">Enables or disables the knowledge source for alternative recommendations
                for this
                project.
            </div>
        </div>

        <a style="position: absolute; right: 16px; top:16px;" class="aui-expander-trigger"
           aria-controls="$rdfSource.toString()"><span
            class="aui-icon aui-icon-small aui-iconfont-edit-filled">Edit Knowledge Source</span>
        </a>
    </div>

    <div id="$rdfSource.toString()" class="aui-item settings-border aui-expander-content">
        <!--RDF SOURCE FORM -->
        <div class="field-group">
            <label>Name*</label>
            <input class="name-knowledgesource text medium-field" id="$rdfSource.toString()-name"
                   name="name-knowledgesource"
                   value="$rdfSource.getName()"></input>
            <div class="description">Name your knowledge source.
            </div>
        </div>
        <div class="field-group">
            <label>RDF-Service</label>
            <input class="uri-knowledgesource text medium-field" name="uri-knowledgesource"
                   id="$rdfSource.toString()-service"
                   placeholder="http://dbpedia.org/sparql" value="$rdfSource.getService()"></input>
            <div class="description">Enter an RDF-Graph URI. The default location is DPPedia.
            </div>
        </div>
        <div class="field-group">
            <label>SPARQL-Query</label>
            <textarea class="query-knowledgesource textarea
                      large-field"
                      id="$rdfSource.toString()-query"
                      placeholder=$i18n.getText("condec.label.description")>$rdfSource.getQueryString()</textarea>
            <div class="description">Enter a SPARQL-Query.
            </div>
        </div>
        <div class="field-group">
            <label>Timeout</label>
            <input class="param-knowledgesource text short-field" name="param-knowledgesource"
                   id="$rdfSource.toString()-timeout"
                   value="$rdfSource.getTimeout()"></input>
            <div class="description">Enter the timeout in milliseconds.
            </div>
        </div>
        <div class="field-group">
            <label for="update-rdf-source">Update</label>
            <button id="update-rdf-source" class="aui-button update-knowledgesource" data-prefix="$rdfSource.toString()"
                    name="$rdfSource.getName()">
                <span class="aui-icon aui-icon-small aui-iconfont-refresh">Updates a RDF Knowledge Source</span>
                Update
            </button>
            <div class="description">Updates the knowledge source.
            </div>
        </div>
        <div class="field-group">
            <label for="delete-rdf-source">Delete?</label>
            <button id="delete-rdf-source" class="aui-button-primary aui-button delete-knowledgesource"
                    name="$rdfSource.getName()">
                <span class="aui-icon aui-icon-small aui-iconfont-trash">Deletes a RDF Knowledge Source</span>
                Delete
            </button>
            <div class="description">Deletes the knowledge source permanently from the system.
            </div>
        </div>

    </div>
    #end

    <div class="field-group">
        <label for="max-recommendation">Maximum number of results</label>
        <input class="text short-field"
               type="number"
               data-aui-validation-field
               value="$maxNumberRecommendations"
               id="max-recommendation"
               name="max-recommendation"/>
        <button id="save-max-recommendation-btn" class='aui-button aui-button-primary aui-button-compact'>
            Save
        </button>
        <div class="description">Set the maximum number of results of recommendations from a rdf source that should be
            displayed in the
            jira
            issue view.
        </div>

    </div>

    <div class="field-group">
        <label for="similarity-threshold">Similarity Score of Issues (%)</label>
        <input class="text short-field"
               type="number"
               min="0"
               max="1"
               step="0.1"
               data-aui-validation-field
               value="$similarityThreshold"
               id="similarity-threshold"
               name="similarity-threshold"/>
        <button id="save-similarity-threshold" class='aui-button aui-button-primary aui-button-compact'>
            Save
        </button>
        <div class="description">Set the similarity score for textual similarity.
        </div>

    </div>

    <div class="settings-divider">
        <h4>Configure Project Knowledge Sources</h4>
        <table id="project-source-table" class="aui aui-table-list">

            <thead>
            <tr>
                <th>Project</th>
                <th>Activate?</th>
            </tr>
            </thead>
            <tbody>
            #foreach($projectSource in $projectSources)
            <tr>
                <td>$projectSource.getName()</td>
                <td>
                    <aui-toggle class="activation-knowledgesource-project" name="$projectSource.getName()"
                                #if ($projectSource.isActivated())
                                checked
                                #end
                                label="$projectSource.getName() activated?"></aui-toggle>
                </td>
            </tr>
            #end
            </tbody>
        </table>
    </div>

</div>


#parse("templates/settings/fragments/decisionguidance/decisionGuidanceEvaluation.vm")

<script>

    $(document).ready(function() {

        $("#keyword-toggle").change(function() {
            var value= $(this).val();
            const isActivated = $(this).prop("checked");
            conDecAPI.setRecommendationInput("$projectKey", value, isActivated);
        });
        $("#issue-toggle").change(function() {
            var value= $(this).val();
            const isActivated = $(this).prop("checked");
            conDecAPI.setRecommendationInput("$projectKey", value, isActivated);
        });

        if("$recommendationInput" == "KEYWORD")
            $("#keyword-based").prop("checked", true);
        else
            $("#issue-based").prop("checked", true);


         $('input[type=radio][name=radiobuttons-input]').change(function() {
            conDecAPI.setRecommendationInput("$projectKey", this.value);
        });


        $("#save-max-recommendation-btn").click((event) => {
           event.preventDefault();
            const query = $("#max-recommendation").val();
           conDecAPI.setMaxNumberRecommendations("$projectKey", query);

        })

       $("#save-similarity-threshold").click((event) => {
           event.preventDefault();
           const value = $("#similarity-threshold").val();
           conDecAPI.setSimilarityThreshold("$projectKey", value);

       })

        $("#create-rdf-source").click((event) => {
           event.preventDefault();
           const name = $("#create-name-knowledgesource");
           const service = $("#create-uri-knowledgesource");
           const queryString = $("#create-query-knowledgesource");
           const timeout = $("#create-param-knowledgesource");

           var rdfSourceJSON = {
                "projectKey": "$projectKey",
                "name": name.val(),
                "service": service.val(),
                "queryString": queryString.val(),
                "timeout": timeout.val()
           }
           conDecAPI.setRDFKnowledgeSource("$projectKey", rdfSourceJSON);
        });

        var updateButtons = $(".update-knowledgesource");
        updateButtons.each(function() {


            $(this).click((event) => {
                   event.preventDefault();
                   let prefix = "#" + $(this).data("prefix");
                   const knowledgeSourceName = $(this).attr("name");
                   const name = $(prefix + "-name");
                   const service = $(prefix + "-service");
                   const queryString = $(prefix + "-query");
                   const timeout = $(prefix + "-timeout");

                   var rdfSourceJSON = {
                        "projectKey": "$projectKey",
                        "name": name.val(),
                        "service": service.val(),
                        "queryString": queryString.val(),
                        "timeout": timeout.val()
                   }
                   console.log(rdfSourceJSON);
                   conDecAPI.updateKnowledgeSource("$projectKey",knowledgeSourceName, rdfSourceJSON);
            });

        });

         const activations = $(".activation-knowledgesource");

         activations.each(function() {

            $(this).change(function() {
                const knowledgeSourceName =  $(this).attr("name");
                const isActivated = $(this).prop("checked");
                conDecAPI.setKnowledgeSourceActivated("$projectKey", knowledgeSourceName, isActivated);
            })

         });

          $("#add-recommendation-directly").change(function() {
            const isActivated = $(this).prop("checked");
            conDecAPI.setAddRecommendationDirectly("$projectKey", isActivated);
          })

         const deletions = $(".delete-knowledgesource");

         deletions.each(function() {
            $(this).click((event) => {
                event.preventDefault();
                var confirm = window.confirm("Do you really want to delete this knowledge source?");
                if(confirm) {
                    const knowledgeSourceName =  $(this).attr("name");
                    conDecAPI.deleteKnowledgeSource("$projectKey", knowledgeSourceName);
                    location.reload();
                }
            })
         });

         $("#add-project-source").click((event) => {
            event.preventDefault();
            const projectSourceKey = $("#select-projects").val();
            conDecAPI.setProjectSource("$projectKey", projectSourceKey);
            $("#project-source-table tbody").append(
            "<tr>"+
                "<td>" + projectSourceKey + "</td>"+
               " <td><aui-toggle></aui-toggle>"+
            "</tr>"

            );
         });

         const activationsProjects = $(".activation-knowledgesource-project");

         activationsProjects.each(function() {

            $(this).change(function() {
                const projectKey =  $(this).attr("name");
                const isActivated = $(this).prop("checked");
                conDecAPI.setProjectSource("$projectKey", projectKey, isActivated);
            })

         });


        const DBPEDIAPREFIX = "PREFIX dbo: <http://dbpedia.org/ontology/>\n" +
                            "PREFIX dct: <http://purl.org/dc/terms/>\n"+
                            "PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\n" +
                            "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n" +
                            "PREFIX foaf: <http://xmlns.com/foaf/0.1/>\n\n";



        const FACTORYPATTERN =
               "select distinct ?alternative ?url ?links where {\n" +
                "%variable% dct:subject ?concept.\n" +
                "?software dct:subject ?concept.\n " +
                "?url foaf:primaryTopic ?software.\n " +
               "FILTER(regex(?concept, 'pattern', 'i')).\n" +
               "?software  dbo:wikiPageExternalLink ?links.\n" +
               "?software rdfs:label ?alternative.\n" +
               "FILTER(LANG(?alternative) = 'en'). }";

        const FRAMEWORKS = "select distinct ?alternative ?url ?link   where { \n" +
                            "%variable% dbo:genre ?genre.\n" +
                            "?sameGenre dbo:genre ?genre.\n" +
                            "?sameGenre rdfs:label ?alternative.\n" +
                            "?sameGenre foaf:isPrimaryTopicOf ?url.\n" +
                            "FILTER(LANG(?alternative) = 'en').\n" +
                            "?sameGenre dbo:wikiPageExternalLink ?link.}";

         $("#insert-design-patterns").click(function(event) {
            event.preventDefault();
            var currentText = $("#create-query-knowledgesource").val();
            $("#create-query-knowledgesource").val(DBPEDIAPREFIX + FACTORYPATTERN);
         });

        $("#insert-frameworks").click(function(event) {
            event.preventDefault();
            var currentText = $("#create-query-knowledgesource").val();
            $("#create-query-knowledgesource").val(DBPEDIAPREFIX + FRAMEWORKS);
         });

         $("#select-rdf-service").change(function() {
               var value = $(this).val();
               if(value == "DBPedia") {
                    $("#create-uri-knowledgesource").val("http://dbpedia.org/sparql/")
               } else {
                    $("#create-uri-knowledgesource").val("")
               }
         });

         $("#query-help-trigger").click( event => {
             $("#query-help").toggle();
         });



    });
</script>