<h2>Rationale Backlog Configuration</h2>

#set($definitionOfDone = $project.getDefinitionOfDone())

<form class="aui">
    #parse("templates/settings/fragments/completenessCriteriaSettings.vm")
    #parse("templates/settings/fragments/completenessEventSettings.vm")
</form>

<script>
    $(document).ready(function () {
        const saveDefinitionOfDoneButton = $("#change-definition-of-done");
        saveDefinitionOfDoneButton.click(event => {
            event.preventDefault();
            let definitionOfDone = {
                "issueIsLinkedToAlternative": $("#issue-link-alternative-checkbox").prop("checked"),
                "decisionIsLinkedToPro": $("#decision-link-pro-checkbox").prop("checked"),
                "alternativeIsLinkedToArgument": $("#alternative-link-argument-checkbox").prop("checked"),
                "lineNumbersInCodeFile": $("#line-numbers-in-code-file-number-input").prop("value"),
                "linkDistanceFromCodeFileToDecision": $("#link-distance-from-code-file-to-decision-number-input").prop("value"),
                "thresholdLow": $("#low-threshold-number-of-decisions-per-issue-number-input").prop("value"),
                "thresholdHigh": $("#high-threshold-number-of-decisions-per-issue-number-input").prop("value")
            }
            console.log(definitionOfDone);
            conDecAPI.setDefinitionOfDone("$projectKey", definitionOfDone);
        });
        conDecJiraIssueCompletenessModule.init();
    });
</script>