<h2>Rationale Backlog configuration</h2>


<div id="configure-definition-of-done" class="settings-divider aui-group">
    <div class="field-group">
        <div class="description"><b>Set the <i>definition of done</i> for each type of decision knowledge</b>
            <br/>All elements that do <strong>not</strong> match the definition of done are shown in the
            Rationale Backlog View. Some Criteria for this are default and others can be configured.
            <br/>Criteria to match the definition of done:
            <dl>
                <dt><strong>Issue:</strong></dt>
                <dd>
                    <label>
                        <small>- is <i>resolved</i></small>
                        <input type="checkbox" disabled="disabled" checked="checked">
                    </label>
                </dd>
                <dd>
                    <label>
                        <small>- is linked to a decision</small>
                        <input type="checkbox" disabled="disabled" checked="checked">
                    </label>
                </dd>
                <dd>
                    <label>
                        <small>- has to be linked to an alternative</small>
                        <input type="checkbox" id="issue-link-alternative-checkbox" value="issueLinkAlternative">
                    </label>
                </dd>
                <dt><strong>Decision:</strong></dt>
                <dd>
                    <label>
                        <small>- is <b>not</b> <i>challenged</i></small>
                        <input type="checkbox" disabled="disabled" checked="checked">
                    </label>
                </dd>
                <dd>
                    <label>
                        <small>- is linked to an issue</small>
                        <input type="checkbox" disabled="disabled" checked="checked">
                    </label>
                </dd>
                <dd>
                    <label>
                        <small>- has to be linked to an pro-argument</small>
                        <input type="checkbox" id="decision-link-pro-checkbox" value="decisionLinkPro">
                    </label>
                </dd>
                <dt><strong>Alternative:</strong></dt>
                <dd>
                    <label>
                        <small>- is linked to an issue</small>
                        <input type="checkbox" disabled="disabled" checked="checked">
                    </label>
                </dd>
                <dd>
                    <label>
                        <small>- has to be linked to an argument</small>
                        <input type="checkbox" id="alternative-link-argument-checkbox" value="alternativeLinkArgument">
                    </label>
                </dd>
                <dt><strong>Argument (Pro or Con):</strong></dt>
                <dd>
                    <label>
                        <small>- is linked to a decision or to an alternative</small>
                        <input type="checkbox" disabled="disabled" checked="checked">
                    </label>
                </dd>
            </dl>
        </div>
    </div>
    <div class="field-group">
        <label for="change-definition-of-done">Save Definition of Done</label>
        <button class="aui-button-primary aui-button" id="change-definition-of-done">
            Save
        </button>
        <div class="description">Saves all criteria for the definition of done.
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        const saveDefinitionOfDoneButton = $("#change-definition-of-done");
        saveDefinitionOfDoneButton.click((event => {
            event.preventDefault();
            let definitionOfDone = {
                "issueIsLinkedToAlternative": $("#issue-link-alternative-checkbox").prop("checked"),
                "decisionIsLinkedToPro": $("#decision-link-pro-checkbox").prop("checked"),
                "alternativeIsLinkedToArgument": $("#alternative-link-argument-checkbox").prop("checked")
            }
            conDecAPI.setDefinitionOfDone("$projectKey", definitionOfDone);
        }))
    });


</script>