<html>
<head>
<title>ConDec Settings</title>
<meta name="decorator" content="atl.admin" />
<meta name="admin.active.section"
	content="admin_plugins_menu/new_plugin_section" />
<meta name="admin.active.tab" content="jira-menu-item1">
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
</head>
<body>

<h1>Continuous Management of Decision Knowledge (ConDec) Settings</h1>
<p>
	Activate the ConDec plugin for your projects here. 
	Advanced configuration possibilities are available on the setting page of the respective project.
</p>
	
<form class="aui">

<table class="aui aui-table-list aui-table-sortable">
	<thead>
		<tr>
			<th>Project Key</th>
			<th>Project Name</th>			
			<th>ConDec Activated?</th>
		</tr>
	</thead>
	<tbody>
		#foreach ($project in $projects)
		<tr>
			<td>
				<a href="$request.getRequestUrl()/../settings?projectKey=$project.getProjectKey()">$project.getProjectKey()</a>
			</td>	
			<td>
				<a href="$request.getRequestUrl()/../settings?projectKey=$project.getProjectKey()">$project.getProjectName()</a>
			</td>			
			<td>
				<aui-toggle id="$project.getProjectKey()-isActivated-toggle"
					value="$project.getProjectKey()"
					#if($project.getBasicConfiguration().isActivated())
						checked
					#end	
				>
				</aui-toggle> 
				<script>
                    $(document).ready(function () {
                    		var toggle = document.getElementById("$project.getProjectKey()-isActivated-toggle");
							toggle.addEventListener("change", function (error) {
							conDecAPI.setActivated(this.checked, this.value);
                        });
                    });
				</script>
			</td>			
		</tr>
		#end
	</tbody>
</table>
	
</form>
</body>
</html>