<html>
<head>
<title>ConDec Project Settings</title>
<meta name="decorator" content="atl.admin" />
<meta name="admin.active.section" content="atl.jira.proj.config" />
<meta name="admin.active.tab"
	content="decdoc-project-settings-menu-item" />
<meta name="projectKey" content="$project.getProjectKey()" />
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:release-notes-resources")
</head>
<body>
<form class="aui">
<h1>Continuous Management of Decision Knowledge (ConDec)</h1>

#set ($category = $request.getParameter("category"))
#set ($projectKey = $project.getProjectKey())

#if( $category == "rationaleModel" )
	#parse("templates/settings/rationaleModelSettings.vm")
#elseif( $category == "classification" )
	#parse("templates/settings/classification/textClassification.vm")
#elseif( $category == "git" )
	#parse("templates/settings/gitSettings.vm")
#elseif( $category == "webhook" )
	#parse("templates/settings/webhookSettings.vm")
#elseif( $category == "releaseNotes" )
	#parse("templates/settings/releaseNotesSettings.vm")
#elseif( $category == "linkRecommendation" )
    #parse("templates/settings/linkrecommendation/linkRecommendation.vm")
#elseif( $category == "decisionGuidance" )
    #parse("templates/settings/decisionguidance/decisionGuidance.vm")
#elseif( $category == "definitionOfDone" )
    #parse("templates/settings/definitionofdone/definitionOfDone.vm")
#elseif( $category == "cia" )
    #parse("templates/settings/ciaSettings.vm")
#elseif( $category == "nudging" )
    #parse("templates/settings/nudgingSettings.vm")
#else
	#parse("templates/settings/basicSettings.vm")
#end

</form>
</body>
</html>