#set ($viewIdentifier = "chronology")
#parse("templates/filter/allCriteria.vm")
<div class="aui-group">
    <div id="evolution-timeline"></div>
</div>
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#chronology-tab")) {
    		conDecChronology.initView();
			isOnceClicked = true;
		}
	});
    AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#chronology-tab")) {
    		conDecChronology.initView();
			isOnceClicked = true;
		}
	});
});
</script>