<form class="aui">
	#set ($viewIdentifier = "chronology")	
	#parse("templates/filter/text.vm")
	#parse("templates/filter/knowledgeType.vm")
	#parse("templates/filter/status.vm")
	#parse("templates/filter/decisionGroup.vm")		
	#parse("templates/filter/degree.vm")
	#parse("templates/filter/isDecisionKnowledgeOnly.vm")
	#parse("templates/filter/creationDate.vm")	
    #parse("templates/filter/filterButton.vm")
</form>
<div class="aui-group">
    <div id="evolution-timeline"></div>
</div>
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#chronology-tab")) {
    		conDecChronology.initView();
			isOnceClicked = true;
		}
	});
});
</script>