<form class="aui">
	#set ($viewIdentifier = "chronology")	
	#parse("templates/filter/text.vm")
	#parse("templates/filter/knowledgeType.vm")
	#parse("templates/filter/status.vm")
	#parse("templates/filter/decisionGroup.vm")		
	#parse("templates/filter/degree.vm")
	#parse("templates/filter/isDecisionKnowledgeOnly.vm")
	#parse("templates/filter/creationDate.vm")	
    #parse("templates/filter/filterButton.vm")
</form>
<div class="aui-group">
    <div id="evolution-timeline"></div>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if (window.conDecEvolutionPage.init(conDecAPI, conDecObservable)) {
            conDecAPI.checkIfProjectKeyIsValid();
            var click = 0;
            AJS.$("#menu-item-chronology").on("click", function(event) {
            	if (click === 0) {
            		window.conDecEvolutionPage.buildTimeLine();
            	}
            	click++;
    		});            
        }
        else {
            console.error("ConDecEvolutionPage could not get its dependencies.");
        }
    });
    
</script>