<div class="aui-toolbar2" role="toolbar">
    <div class="aui-toolbar-2-inner" id="class-treant-filter">
        <form class="aui">
        	#set ($textInputId = "search-code-class-input")
        	#parse("templates/filter/text.vm")

            <label for="show-test-elements-input">Show Test Classes:</label>
            <input type="checkbox" id="show-test-elements-input" />
            #parse("templates/filter/degree.vm")
            
            #set ($filterButtonId = "code-class-filter-button")
            #parse("templates/filter/filterButton.vm")
        </form>
    </div>
</div>
<div style="height: auto" id="treant-container-class"></div>