<form class="aui condec-filter">
	#set ($viewIdentifier = "comparison")	
	<!-- filter criteria for both sides -->
	#parse("templates/filter/text.vm")
	#parse("templates/filter/knowledgeType.vm")
	#parse("templates/filter/linkType.vm")
    #parse("templates/filter/status.vm")
    #parse("templates/filter/decisionGroup.vm")
    #parse("templates/filter/degree.vm")
	#parse("templates/filter/isDecisionKnowledgeOnly.vm")
	#parse("templates/filter/isHierarchicalGraph.vm")
	#if($showTransitiveFilter)
    #parse("templates/filter/isTransitiveLinks.vm")
	#end
    #parse("templates/filter/colorNodes.vm")
    #parse("templates/filter/filterButton.vm")
</form>
<div class="aui-group">
    <div  class="aui-item">
    	<!-- filter criteria for the left side -->
    	#parse("templates/filter/documentationDate.vm")
        <div id="left-network"></div>
    </div>
    <div class="aui-item">
    	<!--  filter criteria for the right side -->
    	#set ($viewIdentifier = "comparison-right")	
    	#parse("templates/filter/documentationDate.vm")
        <div id="right-network"></div>
    </div>
</div>
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#comparison-tab")) {
    		conDecComparison.initView();
			isOnceClicked = true;
		}
	});
});
</script>