$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:decision-knowledge-management-resources")
$webResourceManager.requireResource("de.uhd.ifi.se.decision.management.jira:stylesheet-and-icon-resources")
<form class="aui">
    <table class="aui aui-table-list" id="group-table">
    	<thead>
    		<tr>
    			<th>Group</th>
    			<th># Knowledge Elements</th>
    			<th># Java Classes</th>
    		</tr>
    	</thead>
    	<tbody id="group-table-body">
    	</tbody>
    </table>
</form>

<script>
    $(document).ready(function () {
        conDecAPI.checkIfProjectKeyIsValid();
        if (window.conDecDecisionGroupView.init(conDecAPI, conDecObservable)) {
            conDecAPI.checkIfProjectKeyIsValid();
            var click = 0;
        	AJS.$("#menu-item-groups").on("click", function(event) {
        		if (click === 0) {
        			window.conDecDecisionGroupView.buildMatrix();
        		}
        		click++;
        	});    
        } else {
            console.error("ConDecDecisionGroupView could not get its dependencies.");
        }
    });
</script>