<div>
    <aui-spinner size="large" id="loading-spinner-duplicate"></aui-spinner>
</div>

<table class="aui aui-table-list" id="duplicate-results-table">
    <thead>
    <tr>
        <th id="th-key-duplicate" class="aui-table-column-issue-key">Issue key</th>
        <th id="th-text-fragment-duplicate">Duplicate</th>
        <th id="th-options-duplicate" class="aui-table-column-unsortable">Options</th>
    <tr>
    </thead>
    <tbody id="table-content-duplicate">
    <!--<tr>
        <td>TEST-12</td>
        <td>Cannot sort tables</td>
        <td>Table sorting should be allowed</td>
    </tr>-->

    </tbody>
</table>
<script>
/* Adds the on click listener on the menu item */
$(document).ready(function () {
	var isOnceClicked = false;
	var menuItem = document.getElementById("menu-item-duplicate");
	if (menuItem === null) {
		return;
	}
	menuItem.onclick = function() {
		if (!isOnceClicked) {
			consistencyTabsModule.loadDuplicateData();
			isOnceClicked = true;
		}
	};
  }); 
</script>