<div>
    <aui-spinner size="large" id="loading-spinner-duplicate"></aui-spinner>
</div>

<table class="aui aui-table-list" id="duplicate-results-table">
    <thead>
    <tr>
        <th id="th-key-duplicate" class="aui-table-column-issue-key">Issue key</th>
        <th id="th-text-fragment-duplicate">Duplicate</th>
        <th id="th-options-duplicate" class="aui-table-column-unsortable">Options</th>
    <tr>
    </thead>
    <tbody id="table-content-duplicate">
    <!--<tr>
        <td>TEST-12</td>
        <td>Cannot sort tables</td>
        <td>Table sorting should be allowed</td>
    </tr>-->

    </tbody>
</table>
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#duplicates-tab")) {
    		consistencyTabsModule.init();
    		consistencyTabsModule.loadDuplicateData();
			isOnceClicked = true;
		}
	});
});
</script>