<div>
	<p>$i18n.getText('condec.knowledge.in.git.explanation')</p>
</div>
<div id="featureBranches-container"></div>
<div onclick="conDecGit.getBranchesDiff()">
	Suspecting branch list is not up-to date? Click here to try again.
</div>
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#git-tab")) {
    		conDecGit.getBranchesDiff();
			isOnceClicked = true;
		}
	});
	AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
		if (!isOnceClicked && event.target.href.includes("#git-tab")) {
			conDecGit.getBranchesDiff();
			isOnceClicked = true;
		}
   });
});
</script>