<form class="aui">
	#set ($viewIdentifier = "matrix")
	#parse("templates/filter/text.vm")
    #parse("templates/filter/knowledgeType.vm")
    #parse("templates/filter/status.vm")
    #parse("templates/filter/linkType.vm")
    #parse("templates/filter/decisionGroup.vm")        		
    #parse("templates/filter/degree.vm")
    #parse("templates/filter/isDecisionKnowledgeOnly.vm")
    #parse("templates/filter/creationDate.vm")	
    #parse("templates/filter/filterButton.vm")
</form>
<div class="legend">
	<label for="legend-list">Relationship Types:</label>
	<ul class="legend-labels" id="legend-list"></ul>
</div>
<div class="matrix-container">
    <table class="aui aui-table-list" id="matrix">
    	<thead>
    		<tr id="matrix-header-row"></tr>
    	</thead>
    	<tbody id="matrix-body">
    	</tbody>    
    </table>
</div>
<script>
    $(document).ready(function() {
        conDecAPI.checkIfProjectKeyIsValid();
        if (window.conDecMatrix.init(conDecAPI, conDecObservable)) {
            var click = 0;
        	AJS.$("#menu-item-matrix").on("click", function(event) {
        		if (click === 0) {
        			window.conDecMatrix.buildMatrix();
        		}
        		click++;
        	});  
        }
        else {
            console.error("ConDecMatrix could not get its dependencies.");
        }
    });
</script>