#set ($viewIdentifier = "overview")
#parse("templates/filter/allCriteria.vm")
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="jstree"></div>
    </div>
    <div class="right">
    	#parse("templates/tabs/subgraphDetails.vm")
    </div>
</div>
<script>
$(document).ready(function () {
#if(!$codeFileName && !$knowledgeType)
	/* Adds the on click listener on tab opening */
	var isOnceClicked = false;
	AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
		if (!isOnceClicked && event.target.href.includes("#overview-tab")) {
			conDecKnowledgePage.initView();
			isOnceClicked = true;
		}
	}); 
#elseif($codeFileName)
	/* Inits overview as the default tab for code file */
	conDecKnowledgePage.initView();
	$("#jstree").bind('ready.jstree', function(e, data) {
		var node = document.querySelector('[title="$codeFileName"]');
		conDecTreeViewer.selectNodeInTreeViewer(node.id.substr(0, node.id.search('_anchor')), '#jstree');
    });
#else
	/* Inits overview as the default tab for a knowledge type */
	conDecKnowledgePage.initView();
#end
});
</script>