<div class="qualityCheckContainer">
    <div id="quality-check-issue-text">
    </div>
    <div id="quality-check-decision-text">
    </div>
</div>
<script>
    /* Adds the on click listener on tab opening */
    $(document).ready(function () {
        conDecQualityCheck.initView();
    });
</script>