<div class="quality-check-container">
    <p><label id="quality-check-issue-key-$viewIdentifier"></label> requires <label id="quality-check-minimum-coverage-$viewIdentifier"></label>
    within a link distance of <label id="quality-check-link-distance-$viewIdentifier"></label>.</p>


    <p>It reaches <label id="quality-check-coverage-$viewIdentifier"></label>.</p>

    <div class="text-field" id="quality-check-problems-text-$viewIdentifier">
    </div>
    
    <table class="aui aui-table-list">
	<thead>
    	<tr>
    		<th>DoD Criterion</th>
    		<th>State (Fulfilled or Violated)</th>
    	</tr>
    </thead>
    <tbody id="quality-check-table-body-$viewIdentifier">
    </tbody>    
</table>
</div>

<script>
    /* Fills tab when the document is ready */
    $(document).ready(function () {
        if (AJS.$("#jira-issue-tabs").length) {
            conDecQualityCheck.initView("jira-issue-module", null);
        }
    });
</script>