#set ($viewIdentifier = "rationale-backlog")
#parse("templates/filter/allCriteria.vm")
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="rationale-backlog-tree"></div>
    </div>
    <div class="right">
	    #parse("templates/tabs/subgraphDetails.vm")
    </div>
</div>
<script>	
$(document).ready(function () {
	conDecAPI.checkIfProjectKeyIsValid();
#if(!$codeFileName)
	/* Inits rationale backlog as the default tab */
    conDecRationaleBacklog.initView();
#else
	/* Adds the on click listener on tab opening */
	var isOnceClicked = false;
	AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
		if (!isOnceClicked && event.target.href.includes("#rationale-backlog-tab")) {
		    conDecRationaleBacklog.initView();
			isOnceClicked = true;
		}
	});
#end
});
</script>