<form class="aui condec-filter">
	#set ($viewIdentifier = "rationale-backlog")
    #parse("templates/filter/text.vm")
    #parse("templates/filter/knowledgeType.vm")
    #parse("templates/filter/status.vm")
    #parse("templates/filter/documentationDate.vm")
  	#parse("templates/filter/decisionGroup.vm")
	#parse("templates/filter/linkDistance.vm")
	#parse("templates/filter/degree.vm")
	#parse("templates/filter/isDecisionKnowledgeOnly.vm")
    #parse("templates/filter/isTransitiveLinks.vm")
</form>
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="rationale-backlog-tree"></div>
    </div>
    <div class="right">
	   #parse("templates/tabs/subgraphDetails.vm")
    </div>
</div>
<script>
#if($codeFileName == "")
	/* Inits rationale backlog as the default tab */
	$(document).ready(function () {
		conDecRationaleBacklog.initView();
	});
#else
	/* Adds the on click listener on tab opening */
	$(document).ready(function () {
		var isOnceClicked = false;
		AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
			if (!isOnceClicked && event.target.href.includes("#rationale-backlog-tab")) {
				conDecRationaleBacklog.initView();
				isOnceClicked = true;
			}
		});
	});    
#end

</script>