<div>
    <aui-spinner size="large" id="loading-spinner"></aui-spinner>
</div>

<table class="aui aui-table-list" id="results-table">
    <thead>
    <tr>
        <th id="th-key" class="aui-table-column-issue-key">Issue key</th>
        <th id="th-name">Name</th>
        <th id="th-score">Score</th>

        <th id="th-options" class="aui-table-column-unsortable">Options</th>
    <tr>
    </thead>
    <tbody id="table-content">
    <!--<tr>
        <td>TEST-12</td>
        <td>Cannot sort tables</td>
        <td>Table sorting should be allowed</td>
    </tr>-->

    </tbody>
</table>