<div>
    <aui-spinner id="loading-spinner"></aui-spinner>
</div>

<b>Recommendation of knowledge elements to be linked to the current Jira issue</b>
<table class="aui aui-table-list" id="results-table">
    <thead>
	    <tr>
	        <th id="th-key" class="aui-table-column-issue-key">Issue key</th>
	        <th id="th-name">Name</th>
	        <th id="th-score">Score</th>	
	        <th id="th-options" class="aui-table-column-unsortable">Options</th>
	    <tr>
    </thead>
    <tbody id="table-content"></tbody>
</table>

<b>Potential duplicates</b>
<table class="aui aui-table-list" id="duplicate-results-table">
    <thead>
	    <tr>
	        <th id="th-key-duplicate" class="aui-table-column-issue-key">Issue key</th>
	        <th id="th-text-fragment-duplicate">Duplicate</th>
	        <th id="th-options-duplicate" class="aui-table-column-unsortable">Options</th>
	    <tr>
    </thead>
    <tbody id="table-content-duplicate"></tbody>
</table>

<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#related-knowledge-elements-tab")) {
    		consistencyTabsModule.init();
    		consistencyTabsModule.loadData();
    		consistencyTabsModule.loadDuplicateData();
			isOnceClicked = true;
		}
	});
});
</script>