 <div class="aui-tabs horizontal-tabs" id="$viewIdentifier-tabs" data-aui-persist="username">
	<ul class="tabs-menu">
		<li class="menu-item active-tab">
			<a href="#treant-tab-$viewIdentifier" title="Treant">
				Tree Visualization
			<span class="aui-icon aui-icon-small aui-iconfont-more"></span>
			</a>
		</li>
		<li class="menu-item">
			<a href="#jstree-$viewIdentifier" title="jsTree">
				Tree Visualization 
				<span class="aui-icon aui-icon-small aui-iconfont-more-vertical"></span>
			</a>
        </li>
        <li class="menu-item">
            <a href="#graph-$viewIdentifier" title="vis.js">Graph Visualization</a>
        </li>
        <li class="menu-item">
            <a href="#adjacency-matrix-$viewIdentifier">$i18n.getText('condec.label.adjacency.matrix')</a>
        </li>
        <li class="menu-item">
            <a href="#criteria-matrix-$viewIdentifier">$i18n.getText('condec.label.criteria.matrix')</a>
        </li>
        <li class="menu-item" id="menu-item-quality-check-$viewIdentifier">
            <a href="#quality-check-$viewIdentifier">$i18n.getText('condec.label.quality')</a>
        </li>
    </ul>
     <div class="tabs-pane active-pane treant" id="treant-tab-$viewIdentifier">
         <div id="treant-$viewIdentifier" class="treant"></div>
     </div>
     <div class="tabs-pane" id="jstree-$viewIdentifier">
     </div>
     <div class="tabs-pane" id="graph-$viewIdentifier">
     </div>
     <div class="tabs-pane" id="adjacency-matrix-$viewIdentifier">
         #parse("templates/tabs/matrix/matrix.vm")
     </div>
     <div class="tabs-pane" id="criteria-matrix-$viewIdentifier">
         #parse("templates/tabs/decisiontable/decisionTable.vm")
     </div>
     <div class="tabs-pane" id="quality-check-$viewIdentifier">
         #parse("templates/tabs/qualityCheck.vm")
     </div>
 </div>