<div>
    <aui-spinner id="loading-spinner"></aui-spinner>
</div>

<b>Recommendation of knowledge elements to be linked to the current Jira issue</b>
<table class="aui aui-table-list" id="non-validated-table">
    <thead>.
    <tr>
        <th id="th-type">Type</th>
        <th id="th-name">$i18n.getText("condec.label.summary")</th>
        <th id="th-options">Validate or edit</th>
    <tr>
    </thead>
    <tbody id="non-validated-table-content"></tbody>
</table>


<script>
    /* Adds the on click listener on tab opening */
    $(document).ready(function () {
        let isOnceClicked = false;
        AJS.$("#jira-issue-tabs").on("tabSelect", function (event) {
            if (!isOnceClicked && event.target.href.includes("#text-classification-tab")) {
                conDecTextClassification.init();
                isOnceClicked = true;
            }
        });
    });
</script>
