<b>Automatically classified elements that have not yet been validated</b>
<div id="classification-loading-spinner">
    <aui-spinner></aui-spinner>
</div>
<table class="aui aui-table-list" id="non-validated-table">
    <thead>.
    <tr>
        <th id="th-type">Type</th>
        <th id="th-name">$i18n.getText("condec.label.summary")</th>
        <th id="th-options">Validate or edit</th>
    <tr>
    </thead>
    <tbody id="non-validated-table-content"></tbody>
</table>


<script>
    /* Adds the on click listener on tab opening */
    $(document).ready(function () {
        let isLoaded = false;
        // AJS.$("#jira-issue-tabs").on("tabSelect", function (event) {
        //     if (!isLoaded && event.target.href.includes("#text-classification-tab")) {
        //         conDecTextClassification.init();
        //         isLoaded = true;
        //     }
        // });
        conDecTextClassification.init();
    });
</script>
