<div id="text-classification-tab-$viewIdentifier">
    <strong>Automatically classified elements that have not yet been validated</strong>
    <div id="classification-loading-spinner-$viewIdentifier">
        <aui-spinner></aui-spinner>
    </div>
    <aui-dropdown-menu id="issue-picker-text-classification-tab-$viewIdentifier">Choose an issue</aui-dropdown-menu>

    <div style="float:right;"> 
    	<button class="aui-button aui-button-link" id="validate-all-elements-button-$viewIdentifier">
    		<span class="aui-icon aui-icon-small aui-iconfont-like"></span> 
    		Validate all elements!
    	</button>
    	<a id="config-link-text-classification-$viewIdentifier" 
			title="Classifier can be retrained by the rationale manager." target="_blank">
		<span class="aui-icon aui-icon-small aui-iconfont-settings"></span> $i18n.getText('condec.configuration.label')
	</a>
	</div>
    <div>
        <table id="non-validated-table-$viewIdentifier" class="aui aui-table-list">
            <thead>
            <tr>
                <th id="th-type">Type</th>
                <th id="th-name">$i18n.getText("condec.label.summary")</th>
                <th id="th-options">Validate or edit</th>
            <tr>
            </thead>
            <tbody id="non-validated-table-content-$viewIdentifier"></tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        var isOnceClicked = false;
        AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
            if (!isOnceClicked && event.target.href.includes("#text-classification-tab")) {
                conDecTextClassification.init(true);
                isOnceClicked = true;
            }
        });
        AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
            if (!isOnceClicked && event.target.href.includes("#text-classification-tab")) {
                conDecTextClassification.init();
                isOnceClicked = true;
            }
        });
    });
</script>
