<div class="aui-toolbar2" role="toolbar">
    <div class="aui-toolbar-2-inner" id="treant-filter">
        <form class="aui">      	
        	#set ($textInputId = "search-treant-input")
        	#parse("templates/filter/text.vm")
        	
        	#set ($knowledgeTypeDropdownId = "knowledge-type-dropdown")	
        	#parse("templates/filter/knowledgeType.vm")
        	
        	#set ($linkDistanceInputId = "link-distance-input")	
        	#parse("templates/filter/linkDistance.vm")
        	
        	#set ($isDecisionKnowledgeOnlyId = "is-decision-knowledge-only-input")	
        	#parse("templates/filter/isDecisionKnowledgeOnly.vm")

        	#parse("templates/filter/isTestCode.vm")
            
        	#set ($minDegreeInputId = "min-number-linked-issues-input")	
        	#set ($maxDegreeInputId = "max-number-linked-issues-input")	
            #parse("templates/filter/degree.vm")
        </form>
    </div>
</div>
<div style="height: auto" id="treant-container"></div>