<div class="aui-toolbar2" role="toolbar">
    <div class="aui-toolbar-2-inner">
        <form class="aui condec-filter">
        	#set ($viewIdentifier = "treant")	
        	#parse("templates/filter/text.vm")	
        	#parse("templates/filter/knowledgeType.vm")
        	#parse("templates/filter/status.vm")
        	#parse("templates/filter/decisionGroup.vm")
        	#parse("templates/filter/documentationDate.vm")
        	#parse("templates/filter/degree.vm")
        	#parse("templates/filter/linkDistance.vm")
			#parse("templates/filter/documentationLocation.vm")    
        	#parse("templates/filter/isDecisionKnowledgeOnly.vm")
        	#parse("templates/filter/isTestCode.vm")    
			   
        </form>
    </div>
</div>
<div id="treant-container" class="treant"></div>
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#treant-tab")) {
			conDecTreant.initView();
			isOnceClicked = true;
		}
    });
  }); 
</script>