#set ($viewIdentifier = "graph")	
#parse("templates/filter/allCriteria.vm")     	
<div id="vis-graph-container"></div>
<script>
/* Adds the on click listener on tab opening */
$(document).ready(function () {
	var isOnceClicked = false;
    AJS.$("#jira-issue-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#graph-tab")) {
    		conDecVis.initView(true);
			isOnceClicked = true;
		}
    });
    AJS.$("#knowledge-page-tabs").on("tabSelect", function(event) {
    	if (!isOnceClicked && event.target.href.includes("#graph-tab")) {
    		conDecVis.initView();
    		isOnceClicked = true;
    	}
	});
}); 
</script>